<div class="logged-in-page admin-page">

    <div class="container page-content">
        <div class="row">
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-repeat="tab in $ctrl.tabs" role="presentation" ng-class="{active: tab.active}">
                        <a href data-target="{{'#'+tab.field}}" aria-controls="groups" role="tab" data-toggle="tab">
                        <i class="material-icons">supervisor_account</i>
                        <span>{{tab.name}}</span></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content user-management-tabs">
                    <div role="tabpanel" class="tab-pane active" id="groups">
                        <!-- Content -->
                        <section class="section-content section-user-management spacious">

                            <div class="row">
                                <div class="col-md-8 col-md-offset-4">
                                    <div class="page-admin-actions text-right">
                                        <div class="page-action-create">
                                            <button ng-click="$ctrl.createGroup()" class="btn">
                                                <span>Create Group</span>
                                                <i class="material-icons">add_box</i>
                                            </button>
                                        </div>
                                        <div class="page-action-search">
                                            <input id="search-group" class="" value="" ng-model="$ctrl.groupsFilter.description" placeholder="Search..."/>
                                            <label for="search-group">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 table-responsive clearfix">
                                    <table ng-table="$ctrl.groupsTP"
                                           fixed-table-headers="scrollable-area"
                                           class="table table-striped table-layout-cosmote-admin">
                                        <tr ng-repeat="group in $data">
                                            <td title="'Group'" header-class="'ngTableCol'" sortable="'description'">
                                                {{group.description}}</td>
                                            <td title="'Tenants'" header-class="'ngTableTenantCol'" sortable="'tenants'">
                                                <div ng-if="!group.tenants || group.tenants.length === 0" class="dropdown">
                                                    <a href="" class="give_access" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Give Access
                                                        <i class="material-icons drop-arrow">arrow_drop_down</i>
                                                    </a>
                                                    <ul class="dropdown-menu access-list">
                                                        <li class="dropdown-header">Choose Tenants from Database</li>
                                                        <div class="access-dropdown">
                                                            <li class="tenant-item" ng-repeat="tenant in $ctrl.tenantsDB">
                                                                <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    {{tenant.description}} <input ng-model="tenant.checked" ng-checked="tenant.checked" type="checkbox">
                                                                </span>
                                                                </div>
                                                            </li>
                                                        </div>
                                                        <li role="separator" class="divider"></li>
                                                        <li style="text-align: center;">
                                                            <button style="width: 80%;" class="btn btn-default" ng-click="$ctrl.giveAccessToTenants(group)">Save</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span ng-repeat="tenant in group.tenants | limitTo: 3">{{tenant.description}}</span>
                                                <a ng-if="group.tenants.length > 3" ng-click="$ctrl.showModal('Tenants of Group ', group.description, group.tenants)" href="" class="more"><strong>{{group.tenants.length - 3}}</strong> more</a>
                                            </td>
                                            <td title="'Creation Date'" header-class="'ngTableCol'" sortable="'creationDate'">
                                                {{group.creationDate|date}}</td>
                                            <td title="'Users'" header-class="'ngTableCol'" sortable="'numberOfUsersInEachGroup'">
                                                <a href="" ng-click="$ctrl.showModal('Users of Group ', group.description, group.ucmdbUsers)" class="userno">{{group.numberOfUsersInEachGroup}}</a></td>
                                            <td class="options" header-class="'ngTableCol options'" ><a style="cursor: pointer;" ng-click="$ctrl.removeGroupConfirmation(group)"><i class="material-icons">delete_forever</i></a></td>
                                            <td class="options" header-class="'ngTableCol options'" ><a style="cursor: pointer;" ng-click="$ctrl.editGroup(group)"><i class="material-icons">mode_edit</i></a></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                        </section>


                    </div>
                    <div role="tabpanel" class="tab-pane" id="users">
                        <section class="section-content section-user-management spacious spacious">

                            <div class="row">
                                <div class="col-md-8 col-md-offset-4">
                                    <div class="page-admin-actions text-right">
                                        <div class="page-action-search">
                                            <input id="search-user" ng-model="$ctrl.usersFilter.username" class="" value="" placeholder="Search..."/>
                                            <label for="search-user">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 table-responsive clearfix">
                                    <table ng-table="$ctrl.usersTP"
                                           fixed-table-headers="scrollable-area"
                                           class="table table-striped table-layout-cosmote-admin">
                                        <tr ng-repeat="user in $data">
                                            <td title="'User'" header-class="'ngTableCol'" sortable="'username'">
                                                {{user.username}}</td>
                                            <td title="'Groups'" header-class="'ngTableUserGroupsTenantsCol'" sortable="'group'">
                                                <div ng-if="!user.group || user.group.length === 0" class="dropdown">
                                                    <a href="" class="give_access" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Give Access
                                                        <i class="material-icons drop-arrow">arrow_drop_down</i>
                                                    </a>
                                                    <ul class="dropdown-menu access-list">
                                                        <li class="dropdown-header">Choose Groups from Database</li>
                                                        <div class="access-dropdown">
                                                            <div>
                                                                <p>Search Groups</p>
                                                                <li class="tenant-item">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            ALL <input ng-model="$ctrl.allSearchGroups" ng-change="$ctrl.checkAllGroups(false)" type="checkbox">
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                                <li class="tenant-item" ng-repeat="group in $ctrl.groupsDB | filter:{ isWorkflowRelated: 0} | orderBy: 'description'">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            {{group.description}} <input ng-model="group.checked" ng-checked="group.checked" type="checkbox">
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                            </div>
                                                            <div>
                                                                <p>Workflow Groups</p>
                                                                <li class="tenant-item">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            ALL <input ng-model="$ctrl.allWorkflowGroups" ng-change="$ctrl.checkAllGroups(true)" type="checkbox">
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                                <li class="tenant-item" ng-repeat="group in $ctrl.groupsDB | filter:{ isWorkflowRelated: 1} | orderBy: 'description'">
                                                                    <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    {{group.description}} <input ng-model="group.checked" ng-checked="group.checked" type="checkbox">
                                                                </span>
                                                                    </div>
                                                                </li>
                                                            </div>
                                                        </div>
                                                        <li role="separator" class="divider"></li>
                                                        <li style="text-align: center;">
                                                            <button style="width: 80%;" class="btn btn-default" ng-click="$ctrl.giveAccessToGroups(user)">Save</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span ng-repeat="group in user.group | limitTo: 3">{{group.description}}</span>
                                                <a ng-if="user.group.length > 3" ng-click="$ctrl.showModal('Groups of User ', user.username, user.group)" href="" class="more"><strong>{{user.group.length - 3}}</strong> more</a>
                                            </td>
                                            <td title="'Tenants'" header-class="'ngTableUserGroupsTenantsCol'" sortable="'tenants'">
                                                <span ng-repeat="tenant in user.tenants | limitTo: 3">{{tenant.description}}</span>
                                                <a ng-if="user.tenants.length > 3" ng-click="$ctrl.showModal('Tenants of User ', user.username, user.tenants)" href="" class="more"><strong>{{user.tenants.length - 3}}</strong> more</a>
                                            </td>
                                            <td title="'Creation Date'" header-class="'ngTableCol'" sortable="'creationDate'">
                                                {{user.creationDate|date}}</td>
                                            <td class="options" header-class="'ngTableCol options'">
                                                <a style="cursor:pointer;" ng-click="$ctrl.deleteUserConfirmation(user.username,user.id)" class="bg-highlight"><i class="material-icons">delete_forever</i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>

                        </section>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tenants">

                        <section class="section-content section-user-management spacious spacious">

                            <div class="row">

                                <!--NEW-->
                                <div class="col-md-4">
                                    <div class="new-env">
                                        <i class="material-icons">
                                            help_outline
                                        </i>
                                        <div class="new-env-tool">
                                            For {{$ctrl.isNewUcmdb && 'old' || 'new'}} Environment Click
                                                <a target="_blank"  ng-href="{{$ctrl.otherEnvUrl}}"> Here!</a>
                                        </div>
                                    </div>
                                </div>
                                <!--END NEW-->

                                <div class="col-md-8 ">
                                    <div class="page-admin-actions text-right">
                                        <div class="page-action-search">
                                            <input id="search-tenants" ng-model="$ctrl.tenantsFilter.description" class="" value="" placeholder="Search..."/>
                                            <label for="search-tenants">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 table-responsive clearfix">
                                    <table ng-table="$ctrl.tenantsTP"
                                           fixed-table-headers="scrollable-area"
                                           class="table table-striped table-layout-cosmote-admin">
                                        <tr ng-repeat="tenant in $data">
                                            <td title="'Tenant'" header-class="'ngTableCol'" sortable="'description'">
                                                {{tenant.description}}
                                            </td>
                                            <td title="'Groups'" header-class="'ngTableTenantCol'" sortable="'tenantGroups'">
                                                <div ng-if="!tenant.tenantGroups || tenant.tenantGroups.length === 0" class="dropdown">
                                                    <a href="" class="give_access" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Give Access
                                                        <i class="material-icons drop-arrow">arrow_drop_down</i>
                                                    </a>
                                                    <ul class="dropdown-menu access-list">
                                                        <li class="dropdown-header">Choose Groups from Database</li>
                                                        <div class="access-dropdown">
                                                            <div>
                                                                <p>Search Groups</p>
                                                                <li class="tenant-item">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            ALL <input ng-model="$ctrl.allSearchGroups" ng-change="$ctrl.checkAllGroups(false)" type="checkbox">
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                                <li class="tenant-item" ng-repeat="group in $ctrl.groupsDB | filter:{ isWorkflowRelated: 0} | orderBy: 'description'">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            {{group.description}} <input ng-model="group.checked" ng-checked="group.checked" type="checkbox">
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                            </div>
                                                            <div>
                                                                <p>Workflow Groups</p>
                                                                <li class="tenant-item">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            ALL <input ng-model="$ctrl.allWorkflowGroups" ng-change="$ctrl.checkAllGroups(true)" type="checkbox">
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                                <li class="tenant-item" ng-repeat="group in $ctrl.groupsDB | filter:{ isWorkflowRelated: 1} | orderBy: 'description'">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            {{group.description}} <input ng-model="group.checked" ng-checked="group.checked" type="checkbox">
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                            </div>
                                                        </div>
                                                        <li role="separator" class="divider"></li>
                                                        <li style="text-align: center;">
                                                            <button style="width: 80%;" class="btn btn-default" ng-click="$ctrl.giveAccessToGroups(tenant)">Save</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span ng-repeat="group in tenant.tenantGroups | limitTo: 3">{{group.description}}</span>
                                                <a ng-if="tenant.tenantGroups.length > 3" ng-click="$ctrl.showModal('Groups of Tenant ', tenant.description, tenant.tenantGroups)" href="" class="more"><strong>{{tenant.tenantGroups.length - 3}}</strong> more</a>
                                            </td>
                                            <td class="userno" title="'Users'" header-class="'ngTableCol'" sortable="'numberOfUsers'">
                                                <a href="" ng-click="$ctrl.showModal('Users of Tenant ', tenant.description, tenant.tenantUsers)" class="userno">{{tenant.numberOfUsers}}</a>
                                            </td>
                                            <td title="'Current Environment'" header-class="'ngTableCol'">
                                                <input type="checkbox"
                                                       ng-change="tenant.newEnv = !tenant.oldEnv; $ctrl.changeTenantStatus(tenant)"
                                                       ng-model="tenant.oldEnv">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <modal-info title="$ctrl.modalTitle" description="$ctrl.modalTitleDescription" data="$ctrl.modalData"></modal-info>
            </div>
        </div>
    </div>
</div>