/*Styles for positioning the Navigation Bar to the Left Side of The Screen*/
.mainNavbarStyles{
    position: fixed;
    height: 100%;
    overflow: auto;
    /*background-color: #eff4f9*/
}

.header-user{
    text-align: center;
    color: #337ab7;
}

/*Styles for the Ul of the Header*/
.header-main-ul{
    padding-left: 0;
}

/*Styles for every Li of The Header*/
.header-li {
    width: 100%;
}

/*Styles for Material Icons of Header*/
.header-material-icon{
    padding-top: 13px !important;
    padding-right: 2px !important;
}

/*Style for every Sub-Ul in header*/
.header-sub-ul{
    padding-left: 27px;
}

/*Style for Font Of new Header*/
.headerFontStyle{
    font-weight: 700;
    font-size: 12pt;
}

/*Styles for Every stand-alone Sub Menu  */
.headerPointer{
    text-decoration: none !important;
    cursor: auto;
}

/*Styles for Text At Titles of Header*/
.header-title{
    position: absolute;
    margin-top: 18px;
    font-size: 95%;
}
