/**
* Colors
*/
/**
* Mixins
*
*
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=greek");

@-webkit-keyframes hvr-ripple-out {
    0% {
        outline-width: 0px;
        opacity: 0.25;
    }
    100% {
        outline-width: 15px;
        opacity: 0;
    }
}

@-moz-keyframes hvr-ripple-out {
    0% {
        outline-width: 0px;
        opacity: 0.25;
    }
    100% {
        outline-width: 15px;
        opacity: 0;
    }
}

@-ms-keyframes hvr-ripple-out {
    0% {
        outline-width: 0px;
        opacity: 0.25;
    }
    100% {
        outline-width: 15px;
        opacity: 0;
    }
}

@-o-keyframes hvr-ripple-out {
    0% {
        outline-width: 0px;
        opacity: 0.25;
    }
    100% {
        outline-width: 15px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    0% {
        outline-width: 0px;
        opacity: 0.25;
    }
    100% {
        outline-width: 15px;
        opacity: 0;
    }
}

/**
* Classes
*
*
*/
html {
    min-height: 100%;
}

body {
    overflow-x: hidden;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    background-image: url("../images/background_image.jpg");
    background-repeat: no-repeat;
    background-position: center bottom 0;
    background-color: #ffffff;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #878788;
    margin: 0;
}

body ul, body li {
    list-style: none;
    margin: 0;
}

body .form-control {
    border: 1px solid #d1d1d1;
    border-radius: 2px;
}

body .field-lg {
    font-size: 18px;
    color: inherit;
    line-height: 42px;
    height: 42px;
}

body .field-lg.field-sec {
    font-size: 18px;
    color: #3c9732;
    line-height: 42px;
    height: 42px;
}

body .section-hr-12 {
    width: 100%;
}

body .section-hr-8 {
    width: 66.6666%;
}

body .sec-anchor {
    color: #3c9732;
    font-weight: 700;
    font-size: 13px;
}

body .nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

body #header {
    background: #ffffff;
    border-bottom: solid 1px #dfe9f3;
}

body #header .header-logo-wrapper {
    text-align: right;
    border-right: solid 1px #dfe9f3;
    min-height: 70px;
    background-color: #ffffff;
    position: relative;
    width: 210px;
}

body #header .header-logo-wrapper img {
    max-width: 85%;
    display: inline-block;
    margin-top: -5px;
}

body #header .header-logo-wrapper h2 {
    position: absolute;
    bottom: 13px;
    right: 20px;
    font-size: 11px;
    font-weight: 300;
}

@media screen and (min-width: 768px) {
    body #header .header-logo-wrapper {
        text-align: right;
    }
}

body #header .navbar {
    background-color: #eff4f9;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 70px;
    border: 0;
}

body #header .header-subtitle {
    font-size: 14px;
    font-weight: 300;
}

body #header .navbar-nav > li {
    font-size: 12px;
    display: inline-table;
    vertical-align: top;
    text-align: center;
    border-left: solid 1px #dfe9f3;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
}

body #header .navbar-nav > li a {
    display: block;
    padding: 5px 10px;
    color: #88a4c0;
    min-height: 70px;
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -ms-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
}

body #header .navbar-nav > li a .material-icons {
    width: 100%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 3px;
}

body #header .navbar-nav > li a span {
    margin: 0 2px;
}

body #header .navbar-nav > li:hover {
    background-color: #ffffff;
}

body #header .navbar-nav > li:hover a {
    color: #3b61a6;
    text-decoration: none;
}

body #header .navbar-nav > li ul {
    padding: 0;
}

body #header .navbar-nav > li ul > li a {
    min-height: 40px;
    padding: 13px;
}

@media screen and (max-width: 768px) {
    body #header .navbar-nav > li {
        width: 100%;
        border-bottom: solid 1px #dfe9f3;
    }

    body #header .navbar-nav > li:last-child {
        border-bottom: 0;
    }
}

body #header .navbar-default .navbar-nav > .open > a,
body #header .navbar-default .navbar-nav > .open > a:focus,
body #header .navbar-default .navbar-nav > .open > a:hover {
    background-color: #ffffff;
}

body #header .navbar-toggle {
    margin-right: 30px;
    margin-top: 15px;
}

body .btn {
    -webkit-transition: opacity 300ms, background-color 300ms, color 300ms;
    -moz-transition: opacity 300ms, background-color 300ms, color 300ms;
    -ms-transition: opacity 300ms, background-color 300ms, color 300ms;
    -o-transition: opacity 300ms, background-color 300ms, color 300ms;
    transition: opacity 300ms, background-color 300ms, color 300ms;
}

body .btn.btn-cosmote {
    background-color: #3b61a6;
    color: #fff;
    padding: 15px 20px;
    font-size: 16px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 15px auto;
}

body .btn.btn-cosmote::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3b61a6;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body .btn.btn-cosmote:hover::before {
    -webkit-animation: hvr-ripple-out 1s 3;
    -moz-animation: hvr-ripple-out 1s 3;
    -ms-animation: hvr-ripple-out 1s 3;
    -o-animation: hvr-ripple-out 1s 3;
    animation: hvr-ripple-out 1s 3;
}

body .btn.btn-cosmote:hover {
    opacity: 0.8;
}

body .btn.btn-cosmote-sec {
    background-color: #3c9732;
    color: #fff;
    padding: 15px 20px;
    font-size: 16px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 15px auto;
}

body .btn.btn-cosmote-sec::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3c9732;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body .btn.btn-cosmote-sec:hover::before {
    -webkit-animation: hvr-ripple-out 1s 2;
    -moz-animation: hvr-ripple-out 1s 2;
    -ms-animation: hvr-ripple-out 1s 2;
    -o-animation: hvr-ripple-out 1s 2;
    animation: hvr-ripple-out 1s 2;
}

body .btn.btn-cosmote-sec:hover {
    opacity: 0.8;
}

body .btn.btn-cosmote.btn-wide {
    background-color: #3b61a6;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    width: 250px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 15px auto;
}

body .btn.btn-cosmote.btn-wide::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3b61a6;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body .btn.btn-cosmote.btn-wide:hover::before {
    -webkit-animation: hvr-ripple-out 1s 2;
    -moz-animation: hvr-ripple-out 1s 2;
    -ms-animation: hvr-ripple-out 1s 2;
    -o-animation: hvr-ripple-out 1s 2;
    animation: hvr-ripple-out 1s 2;
}

body .btn.btn-cosmote.btn-wide:hover {
    opacity: 0.8;
}

body .btn.btn-cosmote.btn-sm {
    background-color: #3b61a6;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 10px auto;
}

body .btn.btn-cosmote.btn-sm::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3b61a6;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body .btn.btn-cosmote.btn-sm:hover::before {
    -webkit-animation: hvr-ripple-out 1s 2;
    -moz-animation: hvr-ripple-out 1s 2;
    -ms-animation: hvr-ripple-out 1s 2;
    -o-animation: hvr-ripple-out 1s 2;
    animation: hvr-ripple-out 1s 2;
}

body .btn.btn-cosmote.btn-sm:hover {
    opacity: 0.8;
}

body .btn.btn-cosmote-sec.btn-sm {
    background-color: #3c9732;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 10px auto;
}

body .btn.btn-cosmote-sec.btn-sm::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3c9732;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body .btn.btn-cosmote-sec.btn-sm:hover::before {
    -webkit-animation: hvr-ripple-out 1s 2;
    -moz-animation: hvr-ripple-out 1s 2;
    -ms-animation: hvr-ripple-out 1s 2;
    -o-animation: hvr-ripple-out 1s 2;
    animation: hvr-ripple-out 1s 2;
}

body .btn.btn-cosmote-sec.btn-sm:hover {
    opacity: 0.8;
}

body .btn.btn-cosmote.btn-xs {
    background-color: #3b61a6;
    color: #fff;
    padding: 2px 10px;
    font-size: 11px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 5px auto;
}

body .btn.btn-cosmote.btn-xs::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3b61a6;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body .btn.btn-cosmote.btn-xs:hover::before {
    -webkit-animation: hvr-ripple-out 1s 2;
    -moz-animation: hvr-ripple-out 1s 2;
    -ms-animation: hvr-ripple-out 1s 2;
    -o-animation: hvr-ripple-out 1s 2;
    animation: hvr-ripple-out 1s 2;
}

body .btn.btn-cosmote.btn-xs:hover {
    opacity: 0.8;
}

body .btn.btn-cosmote-white {
    border: 2px solid #3b61a6;
    color: #3b61a6;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #fff;
}

body .btn.btn-cosmote-white.btn-sm {
    border: 1px solid #3b61a6;
    color: #3b61a6;
    padding: 2px 6px;
    font-size: 12px;
    background-color: #fff;
    -webkit-transition: opacity 0ms, background-color 0ms, color 0ms;
    -moz-transition: opacity 0ms, background-color 0ms, color 0ms;
    -ms-transition: opacity 0ms, background-color 0ms, color 0ms;
    -o-transition: opacity 0ms, background-color 0ms, color 0ms;
    transition: opacity 0ms, background-color 0ms, color 0ms;
    font-weight: 600;
}

body .btn.btn-cosmote-white.btn-sm:hover {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

body .btn.full-width {
    width: 100%;
}

body.login-page {
    background-color: #fff;
    height: 100%;
}

body.login-page footer {
    position: absolute;
    bottom: 15px;
    margin: 0 auto;
    left: 0;
    width: 100%;
}

body.login-page .section-login {
    margin: 60px auto 0;
}

body.login-page .section-login .login-title h1 {
    font-size: 24px;
    color: #3b61a6;
    margin: 0 auto 30px;
}

body.login-page .section-login .welcome_msg h1 {
    font-size: 22px;
    color: #3b61a6;
    text-align: left;
    font-weight: 600;
}

body.login-page .section-login .welcome_msg p {
    font-size: 16px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 15px;
}

body.login-page .section-login .form-cosmote.login-cosmote .input-cosmote {
    background-color: #ffffff;
    color: #3b61a6;
    padding: 15px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: auto;
    border: solid 1px #d1d1d1;
}

body.login-page .section-login .form-cosmote.login-cosmote button {
    background-color: #3c9732;
    border-color: #3c9732;
    width: 80%;
}

#footer {
    color: #3b61a6;
    font-size: 12px;
}

.login-material{
    color: #337ab7;
    padding-top: 5px;
}

.login-message{
    text-align: left;
}