/*html {*/
/*overflow-y: scroll;*/
/*}*/

body {
    /* In order to override Bootstrap Default */
    padding-left: 0 !important;
}

.login-page {
    background-color: white;
}

/* This does the trick of Dividing Screen / 2 */
.page-content {
    width: 100%;
}

.footer {
    text-align: center;
    clear: both;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: grey;
    opacity: .8;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

.ng-table-counts {
    /*display: none;*/
}

.ngTableCol {
    text-align: left !important;
}

.ngTableTenantCol {
    text-align: left !important;
    width: 50%;
}

.ngTableUserGroupsTenantsCol {
    text-align: left !important;
    width: 25%;
}

.ngTableTasks {
    text-align: left !important;
    white-space: nowrap;
}

#search-options .input-group {
    padding: 20px 20px 20px 0;
}

#search-options .delete-btn {
    float: right;
    position: relative;
    right: 12%;
    bottom: 46px;
}

#search-options .input-group-btn button {
    width: 160px;
}

#search-options .infra-custom-attributes {
    height: 200px;
    overflow: auto;
}

.infra-table-row-dropdown {
    position: absolute !important;
    background-color: #f9f9f9 !important;
    font-style: normal;
    min-width: 160px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
    padding: 12px 16px !important;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);

}

#infra-empty-results {
    height: 100vh;
    margin-top: 2%;
}

#infra-table {
    white-space: nowrap;
    width: 100%;
}

#infra-table th {
    padding: 15px !important;
    font-size: 10pt !important;
    white-space: normal;
}

#infra-table td {
    padding: 1rem !important;
}

#infra-table .node_details {
    font-style: italic;
    font-weight: 500;
    color: #3b61a6;
    text-decoration: underline;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

/*.ng-table-pager {*/
/*margin-top: 5%;*/
/*width: 40%;*/
/*position: relative;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*}*/

#business-results .panel-heading {
    height: 50px;
    background-color: #f9f9f9;
    font-size: 16pt;
    color: #327cb7;
    cursor: pointer;
}

#business-results .panel-heading i {
    cursor: pointer;
    float: right;
    border-style: solid;
    border-radius: 20px;
}

#business-results .panel-body {
    display: none;
    padding: 0 !important;
}

#business-results .nested-ci-collection {
    padding-left: 20px !important;
}

#business-results .nested-ci-collection .clickable-area {
    cursor: pointer;
}

#business-results .nested-ci-collection .nested-ci-collection-data {
    margin-left: 2%;
    width: 96%;
}

#business-results .nested-ci-collection .nested-ci-collection-data .computer-item {
    width: 120px !important;
    text-align: center !important;
}

#business-results .computer-item {
    width: 125px !important;
    text-align: center !important;
}

#business-results table th {
    font-size: 10pt;
    overflow-wrap: break-word;
}

#business-results .refresh-button {
    position: absolute;
    font-size: 10px;
    display: block;
    margin-top: 2px;
    cursor: pointer;
    color: #3c9732;
    right: -25px;
    z-index: 1;
}

.drop-arrow {
    padding: 4px 8px !important;
    font-size: 13px !important;
}

.tenant-item {
    color: dodgerblue !important;
    margin-left: 5% !important;
}

.business-expand {
    border-top: solid 12px #eaecee;
}

.null-search-panel {
    margin-top: 2%;
}

.hideFilters {
    background-color: #ffffff;
    color: #3b61a6;
    font-size: 11px;
    font-weight: 400;
}

.hideFilters a {
    position: relative;
    width: 100%;
    right: inherit;
    padding-left: 7px;
}

.pagination > li {
    display: inline-block !important;
}

select[multiple] {
    display: none !important;
}

.myWell {
    text-decoration: underline !important;
    font-size: 16px !important;
    color: #3b61a6 !important;
    background-color: white;
}

.errorPanels {
    padding-top: 10px;
}

.access-list {
    width: 300px;
    height: 300px;
}

.access-list li:first-child {
    text-align: center;
}

.access-list .access-dropdown {
    height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
}

.access-list .access-dropdown > div {
    border-top: 1px solid rgba(128, 128, 128, 0.22);
    text-align: center;
}

.access-list .access-dropdown > div p:first-child {
    font-size: 12pt;
    margin-top: 10px;
    margin-left: 15px;
}

.scrollable-area {
    height: 100vh;
    overflow-y: scroll;
}

.more_pc {
    position: absolute;
    font-size: 20px;
    top: 10px;
    color: #337ab7;
    cursor: pointer;
}

@media only screen and (min-width: 770px) {
    #loggedUser {
        width: 100px;
        position: absolute;
        top: 25px;
        right: 380px;
    }

    .tasksCounter {
        background-color: white;
        color: #88a4c0;

        position: absolute;
        right: 10%;
    }
}

@media only screen and (max-width: 766px) {
    #loggedUser {
        width: 100px;
        position: absolute;
        top: 25px;
        right: 120px;
    }

    .tasksCounter {
        background-color: white;
        color: #88a4c0;

        position: absolute;
        right: 40%;
    }
}

.PCs-element {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;

    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    o-transition: opacity 0.5s linear;
    webkit-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

.PCs-element.expandedElm {
    opacity: 1;
    overflow: visible;
    height: 100%;
}

#userLabel {
    color: dodgerblue;
    text-align: center;
    font-size: 14px;
}

/* Loader Animation */
.cssload-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    opacity: .8;
}

.cssload-double-torus {
    position: absolute;
    left: 45%;
    top: 45%;

    width: 88px;
    height: 88px;
    margin: 0 auto;
    border: 7px double;
    border-radius: 50%;
    border-color: transparent rgba(60, 151, 50, 0.9) rgba(51, 122, 183, 0.9);
    animation: cssload-spin 600ms infinite linear;
    -o-animation: cssload-spin 600ms infinite linear;
    -ms-animation: cssload-spin 600ms infinite linear;
    -webkit-animation: cssload-spin 600ms infinite linear;
    -moz-animation: cssload-spin 600ms infinite linear;
}

.table-layout-cosmote tbody > tr > td a.userno {
    border: solid 1px #eaecee;
    border-radius: 50%;
    font-size: 11px;
    width: 30px;
    padding-top: 7px;
    text-align: center;
    display: inline-block;
    height: 30px;
    margin-top: -7px;
}

.table-layout-cosmote tbody > tr > th a:hover.userno, .table-layout-cosmote tbody > tr > td a:hover.userno {
    background-color: #3b61a6;
    color: #ffffff;
    border: 0;
    text-decoration: none;
}

.circle-num {
    border: solid 1px #738597;
    border-radius: 50%;
    font-size: 11px;
    width: 30px;
    padding-top: 4px;
    text-align: center;
    display: inline-block;
    height: 30px;
    margin-top: -7px;
}

/*.circle-num:hover {
    background-color: #3b61a6;
    color: #ffffff;
    border: 0;
    text-decoration: none;
}*/

@keyframes cssload-spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-spin {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-spin {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.taskGroup {
    margin-left: 10px;
    margin-right: 10px;
}

.businessDetails {
    cursor: pointer;
    text-decoration: underline;
}

.resultModalHeader {
    -moz-box-shadow: inset 0px -5px 5px #888;
    -webkit-box-shadow: inset 0px -5px 5px #888;
    box-shadow: inset 0px -5px 5px #888;
}

.resultModal {
    max-height: calc(100vh - 250px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 2%;
    /*box-shadow: 0 0 10px rgba(0,0,0, 1.0);*/
    /*-moz-box-shadow: 0 0 10px rgba(0,0,0, 1.0);*/
    /*-webkit-box-shadow: 0 0 10px rgba(0,0,0, 1.0);*/

    /*height: 60vh;*/
    /*position: relative;*/
    /*margin-left: auto !important;*/
    /*margin-right: auto !important;*/
    /*width: 98%;*/
}

.resultModal .property-group {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.resultModal .editable-property-group {
    padding: 10px;
}

/* Old uCDMB Info Window Style for Checkboxes */
.resultModal .editable-property-group input[type=checkbox] {
    margin: inherit;
    width: 10%;
}

/* NEW uCDMB Info Window Style for Checkboxes */
.resultModal .panel-body input[type=checkbox] {
    width: 10%;
    margin: initial;
}

.resultModal .property-group .property-name {
    font-weight: 500 !important;
    font-style: italic;
    font-size: 10pt;
    /*width: 40%;*/
}

.resultModal .property-group .property-value {
    font-size: 10pt;
}

.resultModalFooter {
    -moz-box-shadow: 0px -5px 5px #888;
    -webkit-box-shadow: 0px -5px 5px #888;
    box-shadow: 0px -5px 5px #888;
}

.form-error-span {
    margin-right: -27px;
}

@media only screen and (max-width: 880px) {
    .header-logo-style {
        width: 123px !important;
    }

    .headerItem {
        width: 100%;
    }
}

@media only screen and (min-width: 881px) {
    .header-logo-style {
        width: 210px !important;
    }

    .headerItem {
        /*width: 115px;*/
        /*new Width for left side nav bar*/
        width: 195px;
        height: 100px;
    }
}

a.headerItem.active {
    background-color: #f9f9f9;
}

.assign-button {
    position: absolute;
    top: 1%;
    right: 7%;
}

.business-modal-item:hover {
    background-color: #f9f9f9;
}

.business-modal-value-item {
    font-style: italic;
}

.business-modal-header-item {
    color: #3b61a6;
    font-size: 14px;
}

th.header {
    font-size: 15px;
}

#search-workflow {
    width: 21em !important;
}

/* Edit Modal Styles */
#edit-modal {
    overflow-y: hidden !important;
}

#edit-modal > .modal-dialog .node-name {
    cursor: pointer;
    color: #337ab7;
    text-decoration: underline;
    display: inline-block;
}

#edit-modal > .modal-dialog i {
    color: #337ab7;
}

#edit-modal > .modal-dialog {
    /*height: 100vh;*/
    margin-top: auto;
}

#edit-modal .modal-header > hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#edit-modal .modal-header p {
    font-size: 13px;
}

#edit-modal .modal-header .col-sm-6 {
    padding-left: 0;
}

#edit-modal .modal-header .col-sm-6 div > label {
    width: 30%
}

#edit-modal .modal-header .col-sm-6 div > label, p {
    font-size: 12px;
}

#edit-modal .modal-header .col-sm-6 div > p {
    display: inline-block;
}

#edit-modal-body {
    background: #f9f9f9;
    -webkit-box-shadow: inset 0px 0px 25px 9px rgba(0, 0, 0, 0.15);
}

#edit-modal #support-attrs-link {
    float: right;
    margin-top: 41%;
}

/* Edit Modal Styles -- END */

#uat-domain {
    color: #88a4c0;
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    font-style: italic;
    position: absolute;
    top: 22%;
    left: 20%;
}

i.fa.fa-book {
    margin-top: 7px;
    display: block;
    font-size: 25px;
    padding-bottom: 4px;
}

i.fa.fa-eye {
    color: #a8abaf;
    font-size: 15pt;
    padding-bottom: 4px;
}

i.fa.fa-eye:hover {
    color: #3b61a6;
}

.chartsDiv {
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 25px;
}

.chart-pie {
    width: 500px !important;
    height: 500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.chart-pie-div {
    position: relative;
    width: 500px;
    /*height: 500px;*/
    margin-left: auto;
    margin-right: auto;
}

.chart-pie-div > p {
    text-align: center;
}

.legend {
    margin: 25px;
    display: inline-block;
}

/* Legend on the left only when Screen is 993px or above */
@media (min-width: 993px) {
    .legend {
        position: absolute;
        top: 25%;
    }
}

.legend .box {
    margin-right: 5px;
    display: inline-block;
    border-style: solid;
    border-width: 5px;

}

.bootbox .modal-dialog {
    top: 25%;
}

.bootbox .modal-title {
    color: #337ab7;
}

.bootbox .modal-body {
    color: #878788;
}

.alert-bootbox-success .modal-body i {
    color: forestgreen;
}

.alert-bootbox-failed .modal-body i {
    color: #ac2925;
}

.alert-bootbox-info .modal-body i {
    color: #337ab7;
    font-size: 27pt;
}

.status-icon {
    font-size: 40pt;
}

.status-message {
    display: inline-block;
    position: relative;
    bottom: 12px;
    font-size: 10pt;
    margin-left: 15px;
}

.reports-search-label {
    display: block;
    visibility: hidden;
}

.reports-search-btn {
    float: right;
    background-color: #eae6e6;
    width: 50%;
    opacity: 0.9;
}

.reports-info-div {
    height: 100vh;
    margin-top: 20px;
}

.reports-info-div > div {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
}

.edit-task-checkbox {
    width: 12%;
    position: relative;
    left: 5%;
}

.business-service-child-collection {
    margin-left: 25px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    border: 0 !important;
}

span.reports-span {
    background-color: white !important;
    color: #9fa4ad !important;
    padding: 0 !important;
    margin-right: 0 !important;
}

#tasks-modal {
    overflow: hidden;
}

#tasks-modal .modal-dialog, #nodes-modal .modal-dialog, #auditing-modal .modal-dialog {
    width: 100%;
    margin: 0;
}

#tasks-modal .modal-content, #nodes-modal .modal-content, #auditing-modal .modal-content {
    margin: 20px;
}

#auditing-modal .modal-body {
    height: 450px;
    overflow: auto;
}

#auditing-modal .modal-body .right-border-div {
    border-right: 1px solid #cac6c6;
}

#auditing-modal .modal-body > p {
    margin-left: 2%;
    font-style: italic;
    font-size: 10pt;
    position: relative;
    top: -15px;
}

#auditing-modal .modal-body > p > span {
    font-size: 11pt;
    font-weight: 700;
}

#auditing-modal .modal-body > p > a {
    font-size: 11pt;
    font-weight: 700;
}

#tasks-modal .modal-content > .modal-header {
    padding-bottom: 0;
}

#tasks-modal .modal-content > .modal-body {
    padding-top: 0;
    height: 460px;
    margin-right: 10px;
    overflow: auto;
}

#tasks-modal table {
    table-layout: fixed;
}

#tasks-modal table th {
    width: 150px;
}

#tasks-modal table td {
    overflow: hidden;
}

#tasks-modal .ng-table-pager {
    /*position: fixed;*/
    /*top: 92%;*/
}

/* Node Reporting Modal */
#nodes-modal {
    overflow: hidden;
}

#nodes-modal .modal-body {
    height: 410px;
    overflow: auto;
}

#nodes-modal #pager-counts {
    float: right;
    margin-top: 1%;
}

#nodes-modal .results-container .result-data {
    padding: 0;
    background-color: #f7f7f7;
    margin: 0;
}

#nodes-modal .results-container .result-data .result_item {
    background: #ffffff;
    border: solid 1px #eff4f9;
    margin-bottom: 8px;
}

#nodes-modal .results-container .result-data .result_item .business_title {
    background-color: #eceef0;
    color: #454545;
    float: left;
    padding: 15px;
    position: relative;
}

@media screen and (max-width: 768px) {
    #nodes-modal .results-container .result-data .result_item .business_title {
        width: 100%;
    }
}

#nodes-modal .results-container .result-data .result_item .business_title:after {
    content: '';
    width: 0;
    height: 0;
    right: -10px;
    top: 0;
    position: absolute;
    border-style: solid;
    border-width: 26px 0 24px 10px;
    border-color: transparent transparent transparent #eceef0;
}

@media screen and (max-width: 768px) {
    #nodes-modal .results-container .result-data .result_item .business_title:after {
        display: none;
    }
}

#nodes-modal .results-container .result-data .result_item .service_title {
    float: left;
    margin-left: 25px;
    margin-top: 14px;
    font-size: 16px;
    color: #3b61a6;
}

@media screen and (max-width: 768px) {
    #nodes-modal .results-container .result-data .result_item .service_title {
        font-size: 14px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

#nodes-modal .results-container .result-data .result_item .service_title span {
    border-radius: 50%;
    font-size: 11px;
    width: 30px;
    padding-top: 7px;
    text-align: center;
    height: 30px;
    background-color: #ffffff;
    color: #3b61a6;
    border: solid 1px #eaecee;
    margin-top: -4px;
    display: inline-block;
}

#nodes-modal .results-container .result-data .result_item a {
    border-left: solid 1px #eff4f9;
    padding: 13px 15px;
    float: right;
}

@media screen and (max-width: 768px) {
    #nodes-modal .results-container .result-data .result_item .hide_area a {
        width: 100%;
        text-align: center;
        border-top: solid 1px #eff4f9;
    }
}

#nodes-modal .results-container .result-data .result_item .open_item {
    background-color: #eceef0;
    padding-top: 4px;
    padding-bottom: 4px;
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item {
    margin: 0 -11px;
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group {
    width: 80%;
    border-right: solid 1px #eff4f9;
}

@media screen and (max-width: 992px) {
    #nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group {
        width: 100%;
        border-bottom: solid 1px #eff4f9;
        border-right: none;
    }
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .btn-default {
    border: 0;
    width: 100%;
    min-height: 50px;
    text-align: left;
    border-radius: 0;
    color: #3c9732;
    font-size: 15px;
    font-weight: 700;
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .caret {
    float: right;
    margin-top: 9px;
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu {
    background-color: #3c9732;
    color: #ffffff;
    padding: 5px;
    min-width: 305px;
}

@media screen and (max-width: 992px) {
    #nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu {
        width: 100%;
        min-width: 100%;
    }
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu ul {
    float: left;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 992px) {
    #nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu ul {
        width: 50%;
    }
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li {
    border-bottom: solid 1px #a9c757;
    padding: 5px;
    width: 130px;
    margin: 5px;
}

@media screen and (max-width: 992px) {
    #nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li {
        width: 90%;
    }
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li:last-child {
    border-bottom: 0;
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li a {
    border: 0;
    float: inherit;
    color: #ffffff;
    font-size: 13px;
    white-space: inherit;
    text-align: left;
    width: 100%;
    padding: 0;
    display: inline-block;
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li a:hover {
    opacity: 0.7;
    background-color: #3c9732;
    text-decoration: none;
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li a.active {
    opacity: 0.7;
}

#nodes-modal .results-container .result-data .result_item .open_item .result_item a {
    border-left: solid 1px #eff4f9;
    padding: 13px 13px;
    float: right;
}

#nodes-modal .results-container .result-data .result_item .open_item .options {
    margin-left: -35px;
    display: inline-block;
    margin-right: 35px;
    padding-top: 9px;
    padding-bottom: 9px;
}

@media screen and (max-width: 992px) {
    #nodes-modal .results-container .result-data .result_item .open_item .options {
        margin: 0;
        width: 100%;
    }
}

#nodes-modal .results-container .result-data .result_item .open_item .options a {
    border: solid 1px #eff4f9;
    float: left;
    padding: 0;
    background-color: #eff4f9;
    font-size: 13px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#nodes-modal .results-container .result-data .result_item .open_item .options a span {
    margin-right: 10px;
    padding: 4px 0px 5px 10px;
    float: left;
}

#nodes-modal .results-container .result-data .result_item .open_item .options a .fa {
    background-color: #ffffff;
    float: right;
    padding: 7px;
    color: #d8e1eb;
}

#nodes-modal .results-container .result-data .result_item .open_item .options a:hover {
    background-color: #3c9732;
    color: #ffffff;
}

#nodes-modal .results-container .result-data .result_item .open_item .options a:hover .fa {
    color: #3c9732;
}

#nodes-modal .results-container .result-data .result_item .open_item .options a.visited {
    background-color: #3c9732;
    color: #ffffff;
}

#nodes-modal .results-container .result-data .result_item .open_item .options a.visited .fa {
    color: #3c9732;
}

#nodes-modal .results-container .result-data .result_item .open_item .more_options a {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    #nodes-modal .results-container .result-data .result_item .open_item .more_options a {
        width: 100%;
        text-align: center;
        border-top: solid 1px #eff4f9;
    }
}

@media screen and (max-width: 992px) {
    #nodes-modal .results-container .result-data .result_item .open_item .more_options .dropdown {
        display: inline-block;
        width: 100%;
    }
}

#nodes-modal .results-container .result-data .result_item .open_item .more_options .dropdown-menu {
    right: 0;
    left: inherit;
    top: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 992px) {
    #nodes-modal .results-container .result-data .result_item .open_item .more_options .dropdown-menu {
        width: 100%;
        text-align: center;
    }
}

#nodes-modal .results-container .result-data .result_item .open_item .more_options .dropdown-menu li {
    border-bottom: solid 1px #eff4f9;
    display: table;
    width: 100%;
}

#nodes-modal .results-container .result-data .result_item .open_item .more_options .dropdown-menu li:last-child {
    border-bottom: none;
}

#nodes-modal .results-container .result-data .result_item .open_item .more_options .dropdown-menu li a {
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: #454545;
}

#nodes-modal .results-container .the-result-table {
    overflow-x: auto;
    margin: 0 -11px;
}

#nodes-modal .results-container .the-result-table .results-main-table {
    min-width: 100%;
    font-weight: 500;
    color: #454545;
    font-size: 13px;
    background-color: #ffffff;
    margin-bottom: 0;
}

#nodes-modal .results-container .the-result-table .results-main-table > thead {
    background: #eff4f9;
}

#nodes-modal .results-container .the-result-table .results-main-table > thead > tr > th {
    border-bottom: none;
    vertical-align: middle;
    position: relative;
}

#nodes-modal .results-container .the-result-table .results-main-table > thead > tr > th span {
    width: 140px;
    float: left;
}

#nodes-modal .results-container .the-result-table .results-main-table > thead > tr > th a {
    padding: 0;
    position: absolute;
    right: 10px;
    top: 38%;
    border: none;
}

#nodes-modal .results-container .the-result-table .results-main-table > thead > tr .filters {
    background-color: #ffffff;
    color: #3b61a6;
    font-size: 11px;
    font-weight: 400;
}

#nodes-modal .results-container .the-result-table .results-main-table > thead > tr .filters a {
    position: relative;
    width: 100%;
    right: inherit;
    padding-left: 7px;
}

#nodes-modal .results-container .the-result-table .results-main-table > tbody > tr {
    border-top: solid 1px #eff4f9;
}

#nodes-modal .results-container .the-result-table .results-main-table > tbody > tr:first-child {
    border-top: none;
}

#nodes-modal .results-container .the-result-table .results-main-table > tbody > tr > td {
    border-top: none;
    /*white-space: wrap;*/
    width: 125px;
}

#nodes-modal .results-container .the-result-table .results-main-table > tbody > tr > td a {
    border: 0;
    float: inherit;
    padding: 0;
}

#tasks-table th.filter {
    padding: 5px 5px;
    font-style: italic;
}

.business-results-table th {
    font-size: 10pt;
    overflow-wrap: break-word;
}

/*#tasks-table {*/
/*table-layout: fixed;*/
/*}*/

/*#tasks-table th {*/
/*width: 150px;*/
/*}*/

/*#tasks-table td {*/
/*overflow: hidden;*/
/*}*/

a.more-less-label {
    font-size: 14px !important;
    background-color: transparent !important;
    border: none !important;
    width: 90px !important;
    color: #337ab7 !important;
    margin-top: 7px !important;
}

a.more-less-label:hover {
    color: #23527c !important;
}

#edit-mode-btn {
    float: left;
}

.user-management-tabs .table-responsive {
    min-height: 100%;
    /*min-height: -moz-available;*/
    /*min-height: -webkit-fill-available;*/
}

#auditing-modal .no-auditing-changes {
    text-align: center;
    font-style: italic;
    font-size: 14pt;
    margin-top: 7%;
}

#auditing-modal .auditing-comments {
    margin-left: 2%;
}

.attribute-with-lovs > input {
    width: 85%;
    position: absolute;
    top: 23px;
    border-right: none;
}

.attribute-with-lovs-tasks > input {
    width: 90%;
    position: relative;
    bottom: 34px;
    margin-bottom: -34px;
    border-right: none;
}

.multiple-select > div {
    width: 100%;
}

.multiple-select button {
    width: 100%;
}

.multiple-select > div > ul {
    width: 100%;
}

.multiple-select > div > ul > li {
    text-align: center;
}

.multiple-select ul > li > a[disabled] {
    cursor: not-allowed;
    color: #999;
}

.results-columns-filters {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}

.results-columns-filters ul {
    overflow: auto;
    height: 220px;
    width: 240px;
}

.results-columns-filters ul label {
    font-size: 10pt;
    margin-left: 5%;
}

/* For Menu Items Spinner */
.menu-loader {
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3c9732;
    border-bottom: 5px solid #3c9732;
    width: 35px;
    height: 35px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* End of Menu Item Spinner Styles */

table-modal .print-btn {
    position: absolute;
    top: 20px;
    right: 5%;
}

/* View Queries Styles -- START */
#view-query-title {
    margin-bottom: 25px !important;
    background-color: transparent;
}

#view-query-title .service_title {
    font-style: italic;
}

.view-query-results-div .ng-table-pager {
    margin-top: 15px;
}

/* View Queries Styles -- END */

/*Comment Modal*/
#add-comment-btn {
    float: left !important;;
    margin-left: 1% !important;;
}

#commentModal {
    top: 25%;
}

#commmentModal .modal-dialog {
    text-align: left !important;
}

#comment-textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 75px;
    max-height: 400px;
    margin-top: 10px;
}

#comment-modal-header {
    padding-bottom: 0px;
    text-align: left !important;
}

#comment-modal-body {
    padding-top: 0px;
}

#comment-modal-hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#textareaTitle {
    font-size: 14px !important;
    margin-left: 2px !important;
    text-align: left !important;
}

/*End Comment Modal*/

/* Support Attributes Modal - START */
#edit-support-attributes .task-support-attributes .modal-dialog {
    width: 80%;

    position: fixed;
    top: 7%;
    left: 10%;
}

#edit-support-attributes .task-support-attributes .modal-body {
    height: 400px;
    overflow: auto;
}

#edit-support-attributes .search-support-attributes .modal-dialog {
    width: 80%;

    position: fixed;
    top: 7%;
    left: 10%;
}

#edit-support-attributes .search-support-attributes .modal-body {
    height: 300px;
    overflow: auto;
}

#edit-support-attributes .modal-body .attribute {
    margin-bottom: 5%;
}
/* Support Attributes Modal - END */

/* Saved Comment */
#comment-page-excel-btn {
    padding-top: 25px !important;
}
/* Saved Comment - END */

/*User Comment*/
.comment-pre {
    white-space: pre-wrap !important;
    word-break: normal !important;
}

.comment-div-header {
    text-align: center !important;
    font-size: 12pt !important;
}

.page-header-padding{
    padding-top: 8px !important;
}
/*User Comment - END*/

/*Missing Cis*/
.missing-ci-input-row {
    background-color: #eeeeee !important;
}

.user-action-table-format {
    white-space: nowrap;
}

#tenant-owner-select {
    padding: 3px;
    font-size: 12px;
}

#display-label-input {
    padding: 10px;
    font-size: 12px;
}

#ip-address-input {
    padding: 10px;
    font-size: 12px;
}

#environment-select {
    padding: 3px;
    font-size: 12px;
}

#note-input {
    padding: 10px;
    font-size: 12px;
}
/*Missing Cis - End*/

.no-data {
    height: 100vh;
    margin-top: 1%;
}

/* Related CIs Modal -- START */
.relatedCis-menu > button {
    width: 100%;
    min-height: 40px;
    /*text-align: left;*/
    color: #3c9732 !important;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 15px !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.relatedCis-menu > div {
    overflow: auto;
    max-height: 310px;
    min-width: 310px;

    background-color: #3c9732 !important;
    color: #ffffff;
    padding: 5px;
    margin: 10px;
    top: 80% !important;
}

.relatedCis-menu > div > ul {
    float: left;
    padding: 0;
    margin: 0;
}

.relatedCis-menu > div > ul > li {
    border-bottom: solid 1px #a9c757;
    padding: 5px;
    width: 130px;
    margin: 5px;
}

.relatedCis-menu > div > ul > li > a {
    border: 0;
    float: inherit;
    color: #ffffff !important;
    font-size: 13px;
    white-space: inherit;
    text-align: left;
    width: 100%;
    padding: 0;
    display: inline-block;
}

#related-cis-table td:first-child {
    font-weight: bolder;
    color: #6790b3;
}
/* Related CIs Modal -- END */

.lastRow{
    color: #0000009c;
    font-weight: bold;
}

/*New Environment hover*/
.new-env{
    position: relative;
    display: inline-block;
}
.new-env .new-env-tool{
    visibility: hidden;
    width: 350px;
    background-color: #eff4f9;
    color: #454545;
    text-align: center;

    font-size: 13px;
    padding: 10px 5px 10px 5px;

    border-radius: 6px;
    top: -7px;
    left: 110%;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.new-env:hover .new-env-tool{
    visibility: visible;
}
