/* For uCMDB Info Window ONLY */

@page {
    size: landscape;
    margin: 0;
}

html * {
    visibility: hidden;
}

body {
    margin: 1.6cm;
}

table * {
    display: none;
}

table-modal .modal {
    visibility: visible;
    /**Remove scrollbar for printing.**/
    overflow: visible !important;

    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
}

table-modal > #result > .modal-dialog > .modal-content > .modal-footer {
    display: none;
}

table-modal > #result > .modal-dialog > .modal-content * {
    visibility: visible;
}

table-modal > #result > .modal-dialog {
    width: 100%;
}

table-modal > #result > .modal-dialog > .modal-content .modal-body > .resultModal {
    max-height: 100% !important;
}