/**
* Colors
*/
/**
* Mixins
*
*
*/
@import url("../fonts/openSans.css");

@-webkit-keyframes hvr-ripple-out {
    0% {
        outline-width: 0px;
        opacity: 0.25;
    }
    100% {
        outline-width: 15px;
        opacity: 0;
    }
}

@-moz-keyframes hvr-ripple-out {
    0% {
        outline-width: 0px;
        opacity: 0.25;
    }
    100% {
        outline-width: 15px;
        opacity: 0;
    }
}

@-ms-keyframes hvr-ripple-out {
    0% {
        outline-width: 0px;
        opacity: 0.25;
    }
    100% {
        outline-width: 15px;
        opacity: 0;
    }
}

@-o-keyframes hvr-ripple-out {
    0% {
        outline-width: 0px;
        opacity: 0.25;
    }
    100% {
        outline-width: 15px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    0% {
        outline-width: 0px;
        opacity: 0.25;
    }
    100% {
        outline-width: 15px;
        opacity: 0;
    }
}

/**
* Classes
*
*
*/
html {
    min-height: 100%;
}

body {
    overflow-x: hidden;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    background-image: url("../images/background_image.jpg");
    background-repeat: no-repeat;
    background-position: center bottom 0;
    background-attachment: fixed;
    background-color: #ffffff;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #878788;
    margin: 0;
}

body ul, body li {
    list-style: none;
    margin: 0;
}

body .form-control {
    border: 1px solid #d1d1d1;
    border-radius: 2px;
}

body .field-lg {
    font-size: 18px;
    color: inherit;
    line-height: 42px;
    height: 42px;
}

body .field-lg.field-sec {
    font-size: 18px;
    color: #3c9732;
    line-height: 42px;
    height: 42px;
}

body .section-hr-12 {
    width: 100%;
}

body .section-hr-8 {
    width: 66.6666%;
}

body .sec-anchor {
    color: #3c9732;
    font-weight: 700;
    font-size: 13px;
}

body .nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

body #header {
    background: #ffffff;
    border-bottom: solid 1px #dfe9f3;
}

body #header .header-logo-wrapper {
    text-align: right;
    border-right: solid 1px #dfe9f3;
    min-height: 70px;
    background-color: #ffffff;
    position: relative;
    width: 210px;
}

body #header .header-logo-wrapper img {
    max-width: 85%;
    display: inline-block;
    margin-top: -5px;
}

body #header .header-logo-wrapper h2 {
    position: absolute;
    bottom: 13px;
    right: 20px;
    font-size: 11px;
    font-weight: 300;
}

@media screen and (min-width: 768px) {
    body #header .header-logo-wrapper {
        text-align: right;
    }
}

body #header .navbar {
    background-color: #eff4f9;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 70px;
    border: 0;
}

body #header .header-subtitle {
    font-size: 14px;
    font-weight: 300;
}

body #header .navbar-nav > li {
    font-size: 12px;
    display: inline-table;
    vertical-align: top;
    text-align: center;
    border-left: solid 1px #dfe9f3;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
}

body #header .navbar-nav > li a {
    display: block;
    padding: 5px 10px;
    color: #88a4c0;
    min-height: 70px;
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -ms-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
}

body #header .navbar-nav > li a .material-icons {
    width: 100%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 3px;
}

body #header .navbar-nav > li a span {
    margin: 0 2px;
}

body #header .navbar-nav > li:hover {
    background-color: #ffffff;
}

body #header .navbar-nav > li:hover a {
    color: #3b61a6;
    text-decoration: none;
}

body #header .navbar-nav > li ul {
    padding: 0;
}

body #header .navbar-nav > li ul > li a {
    min-height: 40px;
    padding: 13px;
}

@media screen and (max-width: 768px) {
    body #header .navbar-nav > li {
        width: 100%;
        border-bottom: solid 1px #dfe9f3;
    }

    body #header .navbar-nav > li:last-child {
        border-bottom: 0;
    }
}

body #header .navbar-default .navbar-nav > .open > a,
body #header .navbar-default .navbar-nav > .open > a:focus,
body #header .navbar-default .navbar-nav > .open > a:hover {
    background-color: #ffffff;
}

body #header .navbar-toggle {
    margin-right: 30px;
    margin-top: 15px;
}

.btn {
    -webkit-transition: opacity 300ms, background-color 300ms, color 300ms;
    -moz-transition: opacity 300ms, background-color 300ms, color 300ms;
    -ms-transition: opacity 300ms, background-color 300ms, color 300ms;
    -o-transition: opacity 300ms, background-color 300ms, color 300ms;
    transition: opacity 300ms, background-color 300ms, color 300ms;
}

.btn.btn-cosmote {
    background-color: #3b61a6;
    color: #fff;
    padding: 15px 20px;
    font-size: 16px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 15px auto;
}

.btn.btn-cosmote::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3b61a6;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn.btn-cosmote:hover::before {
    -webkit-animation: hvr-ripple-out 1s 3;
    -moz-animation: hvr-ripple-out 1s 3;
    -ms-animation: hvr-ripple-out 1s 3;
    -o-animation: hvr-ripple-out 1s 3;
    animation: hvr-ripple-out 1s 3;
}

.btn.btn-cosmote:hover {
    opacity: 0.8;
}

.btn.btn-cosmote-sec {
    background-color: #3c9732;
    color: #fff;
    padding: 15px 20px;
    font-size: 16px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 15px auto;
}

.btn.btn-cosmote-sec::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3c9732;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn.btn-cosmote-sec:hover::before {
    -webkit-animation: hvr-ripple-out 1s 2;
    -moz-animation: hvr-ripple-out 1s 2;
    -ms-animation: hvr-ripple-out 1s 2;
    -o-animation: hvr-ripple-out 1s 2;
    animation: hvr-ripple-out 1s 2;
}

.btn.btn-cosmote-sec:hover {
    opacity: 0.8;
}

.btn.btn-cosmote.btn-wide {
    background-color: #3b61a6;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    width: 250px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 15px auto;
}

.btn.btn-cosmote.btn-wide::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3b61a6;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn.btn-cosmote.btn-wide:hover::before {
    -webkit-animation: hvr-ripple-out 1s 2;
    -moz-animation: hvr-ripple-out 1s 2;
    -ms-animation: hvr-ripple-out 1s 2;
    -o-animation: hvr-ripple-out 1s 2;
    animation: hvr-ripple-out 1s 2;
}

.btn.btn-cosmote.btn-wide:hover {
    opacity: 0.8;
}

.btn.btn-cosmote.btn-sm {
    background-color: #3b61a6;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 10px auto;
}

.btn.btn-cosmote.btn-sm::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3b61a6;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn.btn-cosmote.btn-sm:hover::before {
    -webkit-animation: hvr-ripple-out 1s 2;
    -moz-animation: hvr-ripple-out 1s 2;
    -ms-animation: hvr-ripple-out 1s 2;
    -o-animation: hvr-ripple-out 1s 2;
    animation: hvr-ripple-out 1s 2;
}

.btn.btn-cosmote.btn-sm:hover {
    opacity: 0.8;
}

.btn.btn-cosmote-sec.btn-sm {
    background-color: #3c9732;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 10px auto;
}

.btn.btn-cosmote-sec.btn-sm::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3c9732;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn.btn-cosmote-sec.btn-sm:hover::before {
    -webkit-animation: hvr-ripple-out 1s 2;
    -moz-animation: hvr-ripple-out 1s 2;
    -ms-animation: hvr-ripple-out 1s 2;
    -o-animation: hvr-ripple-out 1s 2;
    animation: hvr-ripple-out 1s 2;
}

.btn.btn-cosmote-sec.btn-sm:hover {
    opacity: 0.8;
}

.btn.btn-cosmote.btn-xs {
    background-color: #3b61a6;
    color: #fff;
    padding: 2px 10px;
    font-size: 11px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    margin: 5px auto;
}

.btn.btn-cosmote.btn-xs::before {
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: #3b61a6;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn.btn-cosmote.btn-xs:hover::before {
    -webkit-animation: hvr-ripple-out 1s 2;
    -moz-animation: hvr-ripple-out 1s 2;
    -ms-animation: hvr-ripple-out 1s 2;
    -o-animation: hvr-ripple-out 1s 2;
    animation: hvr-ripple-out 1s 2;
}

.btn.btn-cosmote.btn-xs:hover {
    opacity: 0.8;
}

.btn.btn-cosmote-white {
    border: 2px solid #3b61a6;
    color: #3b61a6;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #fff;
}

.btn.btn-cosmote-white.btn-sm {
    border: 1px solid #3b61a6;
    color: #3b61a6;
    padding: 2px 6px;
    font-size: 12px;
    background-color: #fff;
    -webkit-transition: opacity 0ms, background-color 0ms, color 0ms;
    -moz-transition: opacity 0ms, background-color 0ms, color 0ms;
    -ms-transition: opacity 0ms, background-color 0ms, color 0ms;
    -o-transition: opacity 0ms, background-color 0ms, color 0ms;
    transition: opacity 0ms, background-color 0ms, color 0ms;
    font-weight: 600;
}

.btn.btn-cosmote-white.btn-sm:hover {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

.btn.full-width {
    width: 100%;
}

.breadcrumbs {
    font-size: 12px;
    font-weight: 500;
    margin: 10px auto;
    padding-top: 8px;
    margin-top: 0;
    padding-bottom: 8px;
    padding-left: 0px;
    color: #ffffff;
    border-bottom: solid 1px #eff4f9;
    background-color: #88a4c0;
}

.breadcrumbs a {
    color: #ffffff;
}

.breadcrumbs li {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
}

.breadcrumbs li:after {
    content: "/";
    padding-left: 10px;
}

.search_page .section-content.spacious {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #eff4f9;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.my_tasks_page .section-content.spacious {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #eff4f9;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.logged-in-page {
    font-size: 14px;
}

.logged-in-page .nav.nav-tabs {
    margin-top: 30px;
    border-bottom: 1px solid #eff4f9;
}

.logged-in-page .nav-tabs.nav > .active > a,
.logged-in-page .nav-tabs.nav > .active > a:focus,
.logged-in-page .nav-tabs.nav > .active > a:hover {
    border: 1px solid #eff4f9;
    border-bottom-color: #fff;
    color: #3c9732;
}

.logged-in-page .nav-tabs.nav > li {
    background-color: #f8f8f8;
    width: 30%;
    margin-right: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .logged-in-page .nav-tabs.nav > li {
        margin-right: 8px;
    }
}

.logged-in-page .nav-tabs.nav > li.active {
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
}

.logged-in-page .nav-tabs.nav > li > a {
    color: #64686c;
}

.logged-in-page .nav-tabs.nav > li > aa:hover {
    border-bottom: 0;
}

.logged-in-page .tab-content {
    margin-bottom: 30px;
}

.logged-in-page .tab-content > .active {
    -webkit-border-bottom-radius: 2px;
    -moz-border-bottom-radius: 2px;
    border-bottom-radius: 2px;
    border-left: solid 1px #eff4f9;
    border-right: solid 1px #eff4f9;
    border-bottom: solid 1px #eff4f9;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.logged-in-page .tab-content > .active .section-content.spacious {
    padding-top: 30px;
    margin-top: 0;
}

.logged-in-page .section-content {
    color: #878788;
}

.logged-in-page .section-content h1 {
    text-align: left;
    font-size: 16px;
    padding-top: 25px;
}

.logged-in-page .section-content.spacious {
    margin-top: 30px;
}

.logged-in-page .section-content .row-sm-margin {
    margin-left: -10px;
    margin-right: -10px;
}

.logged-in-page .section-content .main-search {
    margin: 30px auto;
}

.logged-in-page .section-content .main-search input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: italic;
    color: #a5a5a5;
}

.logged-in-page .section-content .main-search input::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    color: #a5a5a5;
}

.logged-in-page .section-content .main-search input:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    color: #a5a5a5;
}

.logged-in-page .section-content .main-search input:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    color: #a5a5a5;
}

.logged-in-page .section-content .main-search input, .logged-in-page .section-content .main-search select {
    margin-bottom: 5px;
}

.logged-in-page .section-content .main-search-tenants .tenants_title {
    font-weight: 600;
    font-size: 16px;
}

.logged-in-page .section-content .main-search-tenants label {
    margin: 0 auto 13px;
    font-weight: 600;
}

.logged-in-page .section-content .main-search-tenants label input {
    margin-right: 6px;
}

.logged-in-page .section-content .main-search-extra-options label {
    line-height: 42px;
}

.logged-in-page .section-content .main-search-extra-options .field {
    margin-bottom: 10px;
}

.logged-in-page .section-content .main-search-extra-options .field:last-child {
    margin-bottom: 0px;
}

.logged-in-page .section-content .main-search-actions .btn {
    font-size: 16px;
    padding: 10px;
    background-color: #3c9732;
    border-color: #3c9732;
}

.logged-in-page .section-content .main-search-actions a {
    color: #88a4c0;
    font-size: 13px;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 20px;
}

.logged-in-page .section-content .main-search-actions a .material-icons {
    float: left;
}

.logged-in-page .section-content .main-search-actions a span {
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}

.logged-in-page .section-content .main-search-actions a:hover {
    opacity: 0.7;
}

.logged-in-page .section-content.section-results {
    margin-top: 30px;
}

.logged-in-page .section-content.section-results h4 {
    margin-top: 7px;
}

@media screen and (max-width: 768px) {
    .logged-in-page .section-content.section-results h4 {
        text-align: left;
        margin-bottom: 20px;
    }
}

.logged-in-page .section-content.section-results .page-action-create strong {
    font-size: 13px;
    font-weight: 400;
    margin-right: 10px;
    color: #3c9732;
}

.logged-in-page .section-content.section-results .page-action-create button {
    background-color: #3c9732;
    color: #ffffff;
    padding: 0;
    border-radius: 0;
    border: solid 1px #3c9732;
    -webkit-transition: background-color 300ms, color 300ms;
    -moz-transition: background-color 300ms, color 300ms;
    -ms-transition: background-color 300ms, color 300ms;
    -o-transition: background-color 300ms, color 300ms;
    transition: background-color 300ms, color 300ms;
}

@media screen and (max-width: 768px) {
    .logged-in-page .section-content.section-results .page-action-create button {
        text-align: left;
        margin-bottom: 5px;
    }
}

.logged-in-page .section-content.section-results .page-action-create button span {
    float: left;
    font-size: 13px;
    margin-right: 1px;
    padding: 5px 8px;
}

.logged-in-page .section-content.section-results .page-action-create button .material-icons {
    float: right;
    font-size: 20px;
    border-left: 1px solid #57ab4e;
    padding: 5px 8px;
}

.logged-in-page .section-content.section-results .page-action-create button:hover {
    color: #3c9732;
    background-color: #ffffff;
    border: solid 1px #3c9732;
}

.logged-in-page .section-content.section-results .page-action-create button:hover .material-icons {
    border-left: 1px solid transparent;
}

.logged-in-page .section-content.section-results .custom-excel {
    background: url(../images/icon-excel.png) no-repeat;
    width: 20px;
    height: 17px;
    display: inline-block;
    width: 16px;
    vertical-align: bottom;
    background-size: contain;
}

.logged-in-page .section-content.section-user-management .custom-excel {
    background: url(../images/icon-excel.png) no-repeat;
    width: 20px;
    height: 17px;
    display: inline-block;
    width: 16px;
    vertical-align: bottom;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .logged-in-page .section-content.section-results .custom-excel .custom-excel {
        background-image: url(../images/icon-excel-2x.png);
    }
}

.logged-in-page .section-content.section-results .results-container {
    background-color: #f7f7f7;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .logged-in-page .section-content.section-results .results-container .mobile_fix {
        position: inherit;
        min-height: 0;
    }
}

.logged-in-page .section-content.section-results .results-container .col-title {
    font-size: 16px;
}

.logged-in-page .section-content.section-results .results-container .result-header {
    padding: 15px;
    background-color: #eaecee;
}

.logged-in-page .section-content.section-results .results-container .result-header .business_title {
    background-color: #88a4c0;
    color: #ffffff;
    float: left;
    padding: 15px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .logged-in-page .section-content.section-results .results-container .result-header .business_title {
        width: 100%;
    }
}

.logged-in-page .section-content.section-results .results-container .result-header .business_title:after {
    content: '';
    width: 0;
    height: 0;
    right: -10px;
    top: 0;
    position: absolute;
    border-style: solid;
    border-width: 26px 0 24px 10px;
    border-color: transparent transparent transparent #88a4c0;
}

@media screen and (max-width: 768px) {
    .logged-in-page .section-content.section-results .results-container .result-header .business_title:after {
        display: none;
    }
}

.logged-in-page .section-content.section-results .results-container .result-header .service_title {
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 20px;
    color: #454545;
}

@media screen and (max-width: 768px) {
    .logged-in-page .section-content.section-results .results-container .result-header .service_title {
        font-size: 18px;
        margin-left: 15px;
    }
}

.logged-in-page .section-content.section-results .results-container .result-header .service_title span {
    border-radius: 50%;
    font-size: 11px;
    width: 30px;
    padding-top: 7px;
    text-align: center;
    float: right;
    height: 30px;
    margin-left: 12px;
    background-color: #ffffff;
}

.logged-in-page .section-content.section-results .results-container .result-header .btn {
    margin-right: 15px;
    margin-top: 13px;
}

@media screen and (max-width: 768px) {
    .logged-in-page .section-content.section-results .results-container .result-header .btn {
        margin-left: 15px;
        margin-bottom: 10px;
        float: left;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data {
    padding: 15px;
    background-color: #f7f7f7;
    margin: 0;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item {
    background: #ffffff;
    border: solid 1px #eff4f9;
    margin-bottom: 8px;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .business_title {
    background-color: #eceef0;
    color: #454545;
    float: left;
    padding: 15px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .business_title {
        width: 100%;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .business_title:after {
    content: '';
    width: 0;
    height: 0;
    right: -10px;
    top: 0;
    position: absolute;
    border-style: solid;
    border-width: 26px 0 24px 10px;
    border-color: transparent transparent transparent #eceef0;
}

@media screen and (max-width: 768px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .business_title:after {
        display: none;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .service_title {
    float: left;
    margin-left: 25px;
    margin-top: 14px;
    font-size: 16px;
    color: #3b61a6;
}

@media screen and (max-width: 768px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .service_title {
        font-size: 14px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .service_title span {
    border-radius: 50%;
    font-size: 11px;
    width: 30px;
    padding-top: 7px;
    text-align: center;
    float: right;
    height: 30px;
    margin-left: 12px;
    background-color: #ffffff;
    color: #3b61a6;
    border: solid 1px #eaecee;
    margin-top: -4px;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item a {
    border-left: solid 1px #eff4f9;
    padding: 13px 15px;
    float: right;
}

@media screen and (max-width: 768px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .hide_area a {
        width: 100%;
        text-align: center;
        border-top: solid 1px #eff4f9;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item {
    background-color: #eceef0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item {
    margin: 0 -11px;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group {
    width: 80%;
    border-right: solid 1px #eff4f9;
}

@media screen and (max-width: 992px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group {
        width: 100%;
        border-bottom: solid 1px #eff4f9;
        border-right: none;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .btn-default {
    border: 0;
    width: 100%;
    min-height: 50px;
    text-align: left;
    border-radius: 0;
    color: #3c9732;
    font-size: 15px;
    font-weight: 700;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .caret {
    float: right;
    margin-top: 9px;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu {
    background-color: #3c9732;
    color: #ffffff;
    padding: 5px;
    min-width: 305px;
}

@media screen and (max-width: 992px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu {
        width: 100%;
        min-width: 100%;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu ul {
    float: left;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu ul {
        width: 50%;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li {
    border-bottom: solid 1px #a9c757;
    padding: 5px;
    width: 130px;
    margin: 5px;
}

@media screen and (max-width: 992px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li {
        width: 90%;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li:last-child {
    border-bottom: 0;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li a {
    border: 0;
    float: inherit;
    color: #ffffff;
    font-size: 13px;
    white-space: inherit;
    text-align: left;
    width: 100%;
    padding: 0;
    display: inline-block;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li a:hover {
    opacity: 0.7;
    background-color: #3c9732;
    text-decoration: none;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item .btn-group .dropdown-menu li a.active {
    opacity: 0.7;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .result_item a {
    border-left: solid 1px #eff4f9;
    padding: 13px 13px;
    float: right;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .options {
    margin-left: -35px;
    display: inline-block;
    margin-right: 35px;
    padding-top: 9px;
    padding-bottom: 9px;
}

@media screen and (max-width: 992px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .options {
        margin: 0;
        width: 100%;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .options a {
    border: solid 1px #eff4f9;
    float: left;
    padding: 0;
    background-color: #eff4f9;
    font-size: 13px;
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .options a span {
    margin-right: 10px;
    padding: 4px 0px 5px 10px;
    float: left;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .options a .fa {
    background-color: #ffffff;
    float: right;
    padding: 7px;
    color: #d8e1eb;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .options a:hover {
    background-color: #3c9732;
    color: #ffffff;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .options a:hover .fa {
    color: #3c9732;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .options a.visited {
    background-color: #3c9732;
    color: #ffffff;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .options a.visited .fa {
    color: #3c9732;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .more_options a {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .more_options a {
        width: 100%;
        text-align: center;
        border-top: solid 1px #eff4f9;
    }
}

@media screen and (max-width: 992px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .more_options .dropdown {
        display: inline-block;
        width: 100%;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .more_options .dropdown-menu {
    right: 0;
    left: inherit;
    top: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 992px) {
    .logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .more_options .dropdown-menu {
        width: 100%;
        text-align: center;
    }
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .more_options .dropdown-menu li {
    border-bottom: solid 1px #eff4f9;
    display: table;
    width: 100%;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .more_options .dropdown-menu li:last-child {
    border-bottom: none;
}

.logged-in-page .section-content.section-results .results-container .result-data .result_item .open_item .more_options .dropdown-menu li a {
    width: 100%;
    text-align: left;
    font-size: 12px;
    color: #454545;
}

.logged-in-page .section-content.section-results .results-container .the-result-table {
    overflow-x: auto;
    margin: 0 -11px;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table {
    min-width: 100%;
    font-weight: 500;
    color: #454545;
    font-size: 13px;
    background-color: #ffffff;
    margin-bottom: 0;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table > thead {
    background: #eff4f9;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table > thead > tr > th {
    border-bottom: none;
    vertical-align: middle;
    position: relative;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table > thead > tr > th span {
    width: 200px;
    float: left;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table > thead > tr > th a {
    padding: 0;
    position: absolute;
    right: 10px;
    top: 38%;
    border: none;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table > thead > tr .filters {
    background-color: #ffffff;
    color: #3b61a6;
    font-size: 11px;
    font-weight: 400;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table > thead > tr .filters a {
    position: relative;
    width: 100%;
    right: inherit;
    padding-left: 7px;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table > tbody > tr {
    border-top: solid 1px #eff4f9;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table > tbody > tr:first-child {
    border-top: none;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table > tbody > tr > td {
    border-top: none;
    white-space: wrap;
    width: 125px;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table > tbody > tr > td a {
    border: 0;
    float: inherit;
    padding: 0;
}

.logged-in-page .section-content.section-results .results-container .the-result-table .results-main-table > tbody > tr .area_id {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    border-right: solid 1px #eff4f9;
    color: #3b61a6;
}

.logged-in-page .section-content.section-results .results-container .results-search .glyphicon {
    font-size: 1.2em;
    margin: 0 5px;
}

.logged-in-page .section-content.section-results .results-container .results-search .glyphicon:hover, .logged-in-page .section-content.section-results .results-container .results-search .glyphicon:focus {
    text-decoration: none;
}

.admin-page .section-user-management .page-admin-actions {
    position: relative;
}

.admin-page .section-user-management .page-admin-actions input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: italic;
    color: #a5a5a5;
}

.admin-page .section-user-management .page-admin-actions input::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    color: #a5a5a5;
}

.admin-page .section-user-management .page-admin-actions input:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    color: #a5a5a5;
}

.admin-page .section-user-management .page-admin-actions input:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    color: #a5a5a5;
}

@media screen and (max-width: 768px) {
    .admin-page .section-user-management .page-admin-actions {
        text-align: center;
        margin-bottom: 5px;
    }
}

.admin-page .section-user-management .page-admin-actions button, .admin-page .section-user-management .page-admin-actions input {
    font-size: 17px;
    padding: 8px 16px;
    border-radius: 0;
    background: transparent;
    border: 1px solid #f0f0f0;
    display: inline-block;
    vertical-align: top;
    outline: none;
}

.admin-page .section-user-management .page-admin-actions .page-action-create button {
    background-color: #3c9732;
    color: #ffffff;
    padding: 0;
    -webkit-transition: background-color 300ms, color 300ms;
    -moz-transition: background-color 300ms, color 300ms;
    -ms-transition: background-color 300ms, color 300ms;
    -o-transition: background-color 300ms, color 300ms;
    transition: background-color 300ms, color 300ms;
}

.admin-page .section-user-management .page-admin-actions .page-action-create button span {
    float: left;
    font-size: 13px;
    margin-right: 1px;
    padding: 5px 8px;
}

.admin-page .section-user-management .page-admin-actions .page-action-create button .material-icons {
    float: right;
    font-size: 20px;
    border-left: 1px solid #57ab4e;
    padding: 5px 8px;
}

.admin-page .section-user-management .page-admin-actions .page-action-create button:hover {
    color: #3c9732;
    background-color: #ffffff;
}

.admin-page .section-user-management .page-admin-actions .page-action-create button:hover .material-icons {
    border-left: 1px solid #efefef;
}

.admin-page .section-user-management .page-admin-actions .page-action-search, .admin-page .section-user-management .page-admin-actions .page-action-create {
    display: inline-block;
    vertical-align: top;
}

.admin-page .section-user-management .page-admin-actions .page-action-search {
    position: relative;
}

.admin-page .section-user-management .page-admin-actions .page-action-search input {
    background-color: #fff;
    width: 16em;
    padding: 5px 8px;
    font-size: 14px;
    margin-left: 15px;
}

@media screen and (max-width: 768px) {
    .admin-page .section-user-management .page-admin-actions .page-action-search input {
        margin-left: 0;
    }
}

.admin-page .section-user-management .page-admin-actions .page-action-search > label {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #3c9732;
}

.admin-page .section-user-management .panel-new-group {
    height: 220px;
    border: 1px solid #f0f0f0;
    background: #fdfdfd;
}

.admin-page .section-user-management .panel-new-group .create-new-group .fa {
    color: #ebebeb;
    font-size: 76px;
    padding: 30px;
    transition-timing-function: cubic-bezier(0.45, 1.09, 0.74, 1.25);
    -webkit-transition: color 300ms, transform 300ms;
    -moz-transition: color 300ms, transform 300ms;
    -ms-transition: color 300ms, transform 300ms;
    -o-transition: color 300ms, transform 300ms;
    transition: color 300ms, transform 300ms;
}

.admin-page .section-user-management .panel-new-group .create-new-group h4 {
    color: #3b61a6;
    font-weight: 600;
    font-size: 17px;
    padding: 5px 0;
}

.admin-page .section-user-management .panel-new-group .create-new-group:hover {
    text-decoration: none;
}

.admin-page .section-user-management .panel-new-group .create-new-group:hover .fa {
    color: #3b61a6;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.admin-page .section-user-management .panel-group {
    height: 220px;
    position: relative;
    border: 1px solid #f0f0f0;
}

.admin-page .section-user-management .panel-group .pair-item {
    font-weight: 600;
    margin-bottom: 14px;
    font-size: 15px;
}

.admin-page .section-user-management .panel-group .pair-item .pair-label {
    color: #a5a5a5;
    font-size: 0.82em;
    font-weight: 600;
}

.admin-page .section-user-management .panel-group .pair-item .pair-value {
    color: #3b61a6;
}

.admin-page .section-user-management .panel-group .subgroup-counter {
    position: absolute;
    top: 0;
    right: 0;
    background: #f6f6f6;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    padding: 5px 10px;
    text-align: center;
    line-height: 1.5em;
}

.admin-page .section-user-management .panel-group .subgroup-counter .subgroup-value {
    font-size: 26px;
    font-weight: 300;
}

.admin-page .section-user-management .panel-group .subgroup-counter .subgroup-label {
    font-size: 10px;
    font-weight: 600;
}

.admin-page .section-user-management .panel-create-group {
    border: 1px solid #f0f0f0;
    padding: 8px;
}

@media screen and (min-width: 768px) {
    .admin-page .section-user-management .panel-create-group {
        padding: 36px;
    }
}

.admin-page .section-user-management .panel-create-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: italic;
    color: #a5a5a5;
}

.admin-page .section-user-management .panel-create-group input::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    color: #a5a5a5;
}

.admin-page .section-user-management .panel-create-group input:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    color: #a5a5a5;
}

.admin-page .section-user-management .panel-create-group input:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    color: #a5a5a5;
}

.admin-page .section-user-management .panel-create-group input, .admin-page .section-user-management .panel-create-group select, .admin-page .section-user-management .panel-create-group textarea {
    font-size: 16px;
}

.admin-page .section-user-management .panel-create-group .field-label {
    color: #3b61a6;
    font-size: 22px;
    font-weight: 300;
}

.admin-page .section-user-management .panel-create-group .field-sublabel {
    font-size: 12px;
}

.admin-page .section-user-management .panel-create-group .field-group-access > div {
    margin: 0 auto 10px;
}

.admin-page .section-user-management .panel-create-group .field-group-access label {
    color: #3c9732;
}

.admin-page .section-user-management .panel-create-group .field-group {
    border: 1px solid #f0f0f0;
    margin: 10px auto 20px;
    clear: both;
}

.admin-page .section-user-management .panel-create-group .field-group .field-group-label, .admin-page .section-user-management .panel-create-group .field-group .field-group-input {
    display: block;
}

.admin-page .section-user-management .panel-create-group .field-group .field-group-label {
    background-color: #f9f9f9;
    font-size: 22px;
    padding: 20px;
    font-weight: 300;
}

.admin-page .section-user-management .panel-create-group .field-group .field-group-input {
    padding: 20px;
}

.admin-page .section-user-management .panel-create-group .field-group .field-group-input .field-group-input-item {
    margin-bottom: 10px;
}

.admin-page .section-user-management .panel-create-group .field-group .field-group-input .field-group-add-more {
    color: #3b61a6;
    font-size: 12px;
    font-weight: 600;
}

@media screen and (min-width: 992px) {
    .admin-page .section-user-management .panel-create-group .field-group {
        display: table;
        width: 100%;
    }

    .admin-page .section-user-management .panel-create-group .field-group .field-group-label, .admin-page .section-user-management .panel-create-group .field-group .field-group-input {
        display: table-cell;
    }

    .admin-page .section-user-management .panel-create-group .field-group .field-group-label {
        width: 33.33%;
        vertical-align: top;
    }

    .admin-page .section-user-management .panel-create-group .field-group .field-group-input {
        width: 66.66%;
    }
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection {
    background-color: #f9f9f9;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection .field-selection-area {
    background: #fff;
    border: 1px solid #f0f0f0;
    height: 200px;
    padding: 4px;
    overflow-y: auto;
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection .field-selection-area .field-email-item {
    margin-bottom: 2px;
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection .field-selection-area .field-email-item > span {
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    display: block;
    cursor: pointer;
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection .field-selection-area .field-email-item.selected > span {
    background-color: #3b61a6;
    color: #fff;
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection .field-selection-area .field-email-item:not(.selected):hover span {
    background-color: #f0f0f0;
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection .field-selection-search > input {
    background: transparent;
    border: none;
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection .select-arrow {
    background: #3b61a6;
    padding: 0;
    border: none;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    position: absolute;
    left: 50%;
    top: 50%;
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection .select-arrow.select-enable {
    -webkit-transform: rotate(90deg) translate(-50%, 40px);
    -moz-transform: rotate(90deg) translate(-50%, 40px);
    -ms-transform: rotate(90deg) translate(-50%, 40px);
    -o-transform: rotate(90deg) translate(-50%, 40px);
    transform: rotate(90deg) translate(-50%, 40px);
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection .select-arrow.select-disable {
    -webkit-transform: rotate(90deg) translate(-50%, -40px);
    -moz-transform: rotate(90deg) translate(-50%, -40px);
    -ms-transform: rotate(90deg) translate(-50%, -40px);
    -o-transform: rotate(90deg) translate(-50%, -40px);
    transform: rotate(90deg) translate(-50%, -40px);
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection .select-arrow i.fa {
    line-height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -0.5px);
    -moz-transform: translate(-50%, -0.5px);
    -ms-transform: translate(-50%, -0.5px);
    -o-transform: translate(-50%, -0.5px);
    transform: translate(-50%, -0.5px);
}

.admin-page .section-user-management .panel-create-group .field-group.field-group-selection > *:nth-child(1) {
    margin-bottom: 50px;
}

@media screen and (min-width: 992px) {
    .admin-page .section-user-management .panel-create-group .field-group.field-group-selection > *:nth-child(1) {
        margin-bottom: 0px;
    }

    .admin-page .section-user-management .panel-create-group .field-group.field-group-selection .select-arrow.select-enable {
        -webkit-transform: rotate(0deg) translate(-50%, -40px);
        -moz-transform: rotate(0deg) translate(-50%, -40px);
        -ms-transform: rotate(0deg) translate(-50%, -40px);
        -o-transform: rotate(0deg) translate(-50%, -40px);
        transform: rotate(0deg) translate(-50%, -40px);
    }

    .admin-page .section-user-management .panel-create-group .field-group.field-group-selection .select-arrow.select-disable {
        -webkit-transform: rotate(0deg) translate(-50%, 40px);
        -moz-transform: rotate(0deg) translate(-50%, 40px);
        -ms-transform: rotate(0deg) translate(-50%, 40px);
        -o-transform: rotate(0deg) translate(-50%, 40px);
        transform: rotate(0deg) translate(-50%, 40px);
    }
}

.admin-page .section-user-management .panel-create-group .field-access select {
    color: #3c9732;
}

.top_line {
    position: relative;
}

.top_line.regular {
    width: 100vw;
    background: url(../images/line.jpg) no-repeat;
    background-position: center 0;
    background-size: 1600px;
    height: 10px;
}

@media screen and (min-width: 1200px) {
    .top_line.regular {
        background-size: 100%;
    }
}

.top_line.thin {
    width: 100vw;
    background: url(../images/line.jpg) no-repeat;
    background-position: center 0;
    background-size: 1600px;
    height: 5px;
}

@media screen and (min-width: 1200px) {
    .top_line.thin {
        background-size: 100%;
    }
}

.table-layout-cosmote thead {
    background-color: #eff4f9;
    border: solid 1px #eff4f9;
    color: #454545;
    font-size: 16px;
}

.table-layout-cosmote thead th {
    font-weight: 500;
}

.table-layout-cosmote thead th:first-child {
    text-align: center;
}

.table-layout-cosmote thead .options {
    width: 30px;
}

.table-layout-cosmote tbody {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    font-size: 13px;
}

.table-layout-cosmote tbody > tr > th, .table-layout-cosmote tbody > tr > td {
    padding: 12px;
}

.table-layout-cosmote tbody > tr > th:first-child, .table-layout-cosmote tbody > tr > td:first-child {
    text-align: center;
}

.table-layout-cosmote tbody > tr > th span, .table-layout-cosmote tbody > tr > td span {
    background-color: #eff4f9;
    color: #3b61a6;
    padding: 4px 8px;
    margin-right: 5px;
}

.table-layout-cosmote tbody > tr > th a.usersno, .table-layout-cosmote tbody > tr > td a.usersno {
    border: solid 1px #000;
    padding: 2px 8px;
    border-radius: 50%;
    font-size: 11px;
    width: 80px;
    height: 80px;
}

.table-layout-cosmote tbody > tr > th a.edit, .table-layout-cosmote tbody > tr > td a.edit {
    border: solid 1px #eaecee;
    padding: 2px 8px;
    border-radius: 15px 15px;
    font-size: 11px;
}

.table-layout-cosmote tbody > tr > th a:hover.edit, .table-layout-cosmote tbody > tr > td a:hover.edit {
    background-color: #3b61a6;
    color: #ffffff;
    border: 0;
    text-decoration: none;
}

.table-layout-cosmote tbody > tr > th a.userno, .table-layout-cosmote tbody > tr > td a.userno {
    border: solid 1px #eaecee;
    border-radius: 50%;
    font-size: 11px;
    width: 30px;
    padding-top: 7px;
    text-align: center;
    display: inline-block;
    height: 30px;
    margin-top: -7px;
}

.table-layout-cosmote tbody > tr > th a:hover.userno, .table-layout-cosmote tbody > tr > td a:hover.userno {
    background-color: #3b61a6;
    color: #ffffff;
    border: 0;
    text-decoration: none;
}

.table-layout-cosmote tbody > tr > th a.give_access, .table-layout-cosmote tbody > tr > td a.give_access {
    background-color: #3c9732;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 13px;
}

.table-layout-cosmote tbody > tr > th a:hover.give_access, .table-layout-cosmote tbody > tr > td a:hover.give_access {
    background-color: #ffffff;
    color: #3c9732;
    text-decoration: none;
}

.table-layout-cosmote tbody > tr > th a.more, .table-layout-cosmote tbody > tr > td a.more {
    background-color: #eff4f9;
    color: #3b61a6;
    padding: 4px 4px;
    margin-right: 5px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    line-height: 9px;
}

.table-layout-cosmote tbody > tr > th a.more strong, .table-layout-cosmote tbody > tr > td a.more strong {
    font-size: 11px;
}

.table-layout-cosmote tbody > tr > th a:hover.more, .table-layout-cosmote tbody > tr > td a:hover.more {
    background-color: #3b61a6;
    color: #ffffff;
    border: 0;
    text-decoration: none;
}

.table-layout-cosmote tbody > tr > th.text-sm, .table-layout-cosmote tbody > tr > td.text-sm {
    font-size: 0.86em;
}

.table-layout-cosmote tbody > tr:nth-of-type(odd) {
    background: #fcfcfc;
}

.table-layout-cosmote tbody > tr:nth-of-type(even) {
    background: #fefefe;
}

.table-layout-cosmote-admin {
    color: #9fa4ad;
    margin: 20px auto;
}

.table-layout-cosmote-admin thead {
    background-color: #eff4f9;
    border: solid 1px #eff4f9;
    color: #454545;
    font-size: 16px;
}

.table-layout-cosmote-admin thead th {
    font-weight: 500;
}

.table-layout-cosmote-admin thead th:first-child {
    text-align: center;
}

.table-layout-cosmote-admin thead .options {
    width: 30px;
}

.table-layout-cosmote-admin tbody {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    font-size: 13px;
}

.table-layout-cosmote-admin tbody > tr > th, .table-layout-cosmote-admin tbody > tr > td {
    padding: 12px;
}

.table-layout-cosmote-admin tbody > tr > th:first-child, .table-layout-cosmote-admin tbody > tr > td:first-child {
    text-align: center;
}

.table-layout-cosmote-admin tbody > tr > th span, .table-layout-cosmote-admin tbody > tr > td span {
    background-color: #eff4f9;
    color: #3b61a6;
    padding: 4px 8px;
    margin-right: 5px;
}

.table-layout-cosmote-admin tbody > tr > th a.usersno, .table-layout-cosmote-admin tbody > tr > td a.usersno {
    border: solid 1px #000;
    padding: 2px 8px;
    border-radius: 50%;
    font-size: 11px;
    width: 80px;
    height: 80px;
}

.table-layout-cosmote-admin tbody > tr > th a.edit, .table-layout-cosmote-admin tbody > tr > td a.edit {
    border: solid 1px #eaecee;
    padding: 2px 8px;
    border-radius: 15px 15px;
    font-size: 11px;
}

.table-layout-cosmote-admin tbody > tr > th a:hover.edit, .table-layout-cosmote-admin tbody > tr > td a:hover.edit {
    background-color: #3b61a6;
    color: #ffffff;
    border: 0;
    text-decoration: none;
}

.table-layout-cosmote-admin tbody > tr > th a.userno, .table-layout-cosmote-admin tbody > tr > td a.userno {
    border: solid 1px #eaecee;
    border-radius: 50%;
    font-size: 11px;
    width: 30px;
    padding-top: 7px;
    text-align: center;
    display: inline-block;
    height: 30px;
    margin-top: -7px;
}

.table-layout-cosmote-admin tbody > tr > th a:hover.userno, .table-layout-cosmote-admin tbody > tr > td a:hover.userno {
    background-color: #3b61a6;
    color: #ffffff;
    border: 0;
    text-decoration: none;
}

.table-layout-cosmote-admin tbody > tr > th a.give_access, .table-layout-cosmote-admin tbody > tr > td a.give_access {
    background-color: #3c9732;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 13px;
}

.table-layout-cosmote-admin tbody > tr > th a:hover.give_access, .table-layout-cosmote-admin tbody > tr > td a:hover.give_access {
    background-color: #ffffff;
    color: #3c9732;
    text-decoration: none;
}

.table-layout-cosmote-admin tbody > tr > th a.more, .table-layout-cosmote-admin tbody > tr > td a.more {
    background-color: #eff4f9;
    color: #3b61a6;
    padding: 4px 4px;
    margin-right: 5px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    line-height: 9px;
}

.table-layout-cosmote-admin tbody > tr > th a.more strong, .table-layout-cosmote-admin tbody > tr > td a.more strong {
    font-size: 11px;
}

.table-layout-cosmote-admin tbody > tr > th a:hover.more, .table-layout-cosmote-admin tbody > tr > td a:hover.more {
    background-color: #3b61a6;
    color: #ffffff;
    border: 0;
    text-decoration: none;
}

.table-layout-cosmote-admin tbody > tr > th.text-sm, .table-layout-cosmote-admin tbody > tr > td.text-sm {
    font-size: 0.86em;
}

.table-layout-cosmote-admin tbody > tr:nth-of-type(odd) {
    background: #fcfcfc;
}

.table-layout-cosmote-admin tbody > tr:nth-of-type(even) {
    background: #fefefe;
}

.table-layout-cosmote-admin > thead > tr > th {
    padding: 15px 12px;
    font-weight: 600;
    border-bottom: 1px;
}

.table-layout-cosmote-admin > thead > tr > th .fa {
    margin: -10px 10px;
    border-left: 1px solid #aaa;
    padding: 10px 0 10px 10px;
}

.table-layout-cosmote-admin > thead a {
    color: #454545;
}

.table-layout-cosmote-admin > tbody > tr > td {
    padding: 18px 12px 12px 12px;
    vertical-align: inherit;
}

.table-layout-cosmote-admin > tbody > tr > td.options {
    border-left: solid 1px #ddd;
    padding-top: 12px;
}

.pagination li a,
.pagination li a:focus,
.pagination li a:hover,
.pagination li span,
.pagination li span:focus,
.pagination li span:hover {
    color: #3b61a6;
}

.pagination li.active a,
.pagination li.active a:focus,
.pagination li.active a:hover,
.pagination li.active span,
.pagination li.active span:focus,
.pagination li.active span:hover {
    background: #3b61a6;
    color: #fff;
    border-color: #3b61a6;
}

#footer {
    color: #3b61a6;
    font-size: 12px;
    width: 100%;
}

#myModal {
    overflow-y: scroll;
}

.modal .modal-content {
    border-radius: 0;
}

.modal .modal-content .modal-header, .modal .modal-content .modal-footer {
    border: none;
}

.modal .modal-content .modal-title > span {
    display: block;
    color: #3b61a6;
    font-size: 20px;
}

.modal .modal-content .modal-body {
    font-size: 13px;
}

.modal .modal-content .modal-body.no-padding {
    padding: 0;
    margin: 15px 0;
}

.modal .modal-content .modal-body .modal-result-header {
    background-color: #fdfdfd;
}

.modal .modal-content .modal-body .modal-result-header .modal-row > div {
    font-weight: 600;
}

.modal .modal-content .modal-body .modal-row > div {
    padding: 15px;
}

.modal .modal-content .modal-body .modal-row > div.trigger-more {
    padding: 0px;
}

.modal .modal-content .modal-body .modal-result-item {
    border-bottom: 1px solid #f0f0f0;
}

.modal .modal-content .modal-body .modal-result-item .modal-result-data > .trigger-more > a {
    background-color: #f8f8f8;
    padding: 15px 0;
    display: block;
    text-align: center;
}

.modal .modal-content .modal-body .modal-result-item .modal-result-data > .trigger-more > a > .glyphicon {
    color: #252525;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .modal .modal-content .modal-body .modal-result-item .modal-result-data > .trigger-more > a > .glyphicon {
        font-size: 20px;
    }
}

.modal .modal-content .modal-body .modal-result-item .modal-result-data > .trigger-more > a[aria-expanded="false"] > .glyphicon::before {
    content: "\002b";
}

.modal .modal-content .modal-body .modal-result-item .modal-result-data > .trigger-more > a[aria-expanded="true"] > .glyphicon::before {
    content: "\2212";
}

.modal .modal-content .modal-body .modal-result-item .modal-result-more {
    background-color: #fbfbfb;
}

.modal .modal-content .modal-body .modal-result-item .modal-result-more > div > .row > div {
    margin-bottom: 10px;
}

.modal .modal-content .modal-body .modal-result-item .modal-result-more > div > .row > div h4 {
    font-weight: 700;
    font-size: 13px;
    color: #333;
    margin-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
