<!--<search-page ng-if="(!$ctrl.isNewUcmdb && !$ctrl.acl.can('view_tasks')) || ($ctrl.isNewUcmdb && !$ctrl.acl.hasRole('admin'))"></search-page>-->

<!--<my-tasks-component ng-if="(!$ctrl.isNewUcmdb && $ctrl.acl.can('view_tasks')) || ($ctrl.isNewUcmdb && $ctrl.acl.hasRole('admin'))"></my-tasks-component>-->
<search-page></search-page>