<header>
    <!--<nav class="navbar navbar-default mainNavbarStyles">-->
        <nav class="navbar mainNavbarStyles">

        <div>
            <ul class="header-main-ul">
                <li>
                    <a class="header-logo-wrapper header-logo-style" href="#/">
                        <img src="assets/images/cosmote-logo-without-bg.png" class="img-responsive"/>
                    </a>
                </li>
                <li class="header-li">
                    <i class="material-icons header-material-icon" style="color: #337ab7;">person</i>
                    <a style="font-size: 14pt;" class="headerPointer headerFontStyle"><span class="header-title"
                                                                                            style="margin-top: 15px;">Welcome</span></a>
                    <ul class="header-sub-ul">
                        <li class="listStyle-for-Nav"
                            style="list-style: none !important; color: #337ab7; word-break: break-all;"><i>{{loggedUser}}</i>
                        </li>
                    </ul>

                </li>
                <li class="header-li">
                    <a ng-click="deleteDataFlowObjects()" href="#/search_page" class="headerFontStyle"
                       aria-expanded="false">
                        <i class="material-icons header-material-icon">search</i>
                        <span class="header-title">Search</span>
                    </a>
                </li>
                <li ng-if="isAdmin || !isNewUcmdb && isWorkflowUser" class="header-li">
                    <a href="#/my_tasks" class="headerFontStyle" aria-expanded="false">
                        <div style="margin-top: 20px;" class="badge tasksCounter">{{numOfTasks}}</div>
                        <i class="material-icons header-material-icon">work</i>
                        <span class="header-title">Tasks</span>
                    </a>
                </li>
                <li ng-if="isAdmin || !isNewUcmdb && isAdmin" class="header-li">
                    <a class="headerPointer headerFontStyle" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons header-material-icon">supervisor_account</i>
                        <span class="header-title"> Access </span>
                    </a>
                    <ul class="header-sub-ul">
                        <li class="listStyle-for-Nav"><a href="#/user_management/groups">Groups</a></li>
                        <li class="listStyle-for-Nav"><a href="#/user_management/users">Users</a></li>
                        <li class="listStyle-for-Nav"><a href="#/user_management/tenants">Tenants</a></li>
                    </ul>
                </li>
                <li ng-if="isAdmin || !isNewUcmdb" class="header-li">
                    <a href="#/saved_searches" class="headerFontStyle">
                        <i class="material-icons header-material-icon">save</i>
                        <span class="header-title" style="font-size: 13.9px; margin-top: 20px;">Saved Searches</span>
                    </a>
                </li>
                <!-- TODO -- Admin Only? -->
                <li ng-if="isAdmin || !isNewUcmdb" class="header-li">
                    <a role="button" class="headerPointer headerFontStyle"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons header-material-icon">build</i>
                        <span class="header-title">User Actions</span>
                    </a>
                    <ul class="header-sub-ul">
                        <li class="listStyle-for-Nav">
                            <a href="#/comment_page">User Comments
                            </a>
                        </li>
                        <li class="listStyle-for-Nav">
                            <a href="#/missing_cis">Missing CIs
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="isAdmin || !isNewUcmdb && (isAdmin || isWorkflowUser)" class=" header-li">
                    <a class="headerPointer headerFontStyle" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons header-material-icon">description</i>
                        <span class="header-title">Reporting</span>
                    </a>
                    <ul class="header-sub-ul">
                        <li class="listStyle-for-Nav"><a href="#/reporting_page/node">Workflow Nodes</a></li>
                        <li class="listStyle-for-Nav"><a href="#/reporting_page/task">Workflow Tasks</a></li>
                        <li class="listStyle-for-Nav"><a href="#/workflow_stats">Workflow Stats</a></li>
                        <li class="listStyle-for-Nav"><a href="#/user_actions">Actions Audit Log</a></li>
                    </ul>
                </li>
                <li class="header-li">
                    <a class="headerFontStyle" href="assets/uCMDB_user_manual_v2.8.pdf" target="_blank">
                        <i class="material-icons header-material-icon">import_contacts</i>
                        <span class="header-title">Manual</span>
                    </a>
                </li>
                <li class="header-li">
                    <a href="" class="headerFontStyle" ng-click="exitUcmdb()">
                        <i class="material-icons header-material-icon">exit_to_app</i>
                        <span class="header-title">Exit</span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
</header>
