<div class="row results-columns-filters">
    <div class="col-sm-12">
        <label>Select Displayed Columns from the Dropdown</label>&nbsp;
        <div class="dropdown" style="display: inline-block;">
            <button class="btn btn-default dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Columns
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" ng-click="$event.stopPropagation()">
                <li>
                    <label style="color: #3c9732;"><input ng-model="allColumnsChecked"
                                                          ng-change="selectAllColumns()"
                                                          type="checkbox">&nbsp; ALL</label>
                </li>
                <li ng-repeat="col in tableColumns">
                    <label><input ng-model="col.show" type="checkbox">&nbsp;
                        {{col.title}}</label>
                </li>
            </ul>
        </div>
    </div>
</div>