<div class="logged-in-page">



    <!-- Content -->
    <section class="section-content spacious">
    <!--<section class="section-content spacious">-->
        <div class="container page-content section-content section-user-management">
        <!--<div class="container">-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Requested page not found!</h3>
                        </div>
                        <div class="panel-body">
                            <a style="cursor: pointer;" ng-click="$ctrl.goBack()">
                                Return
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
