<a id="support-attrs-link" href=""
   data-toggle="modal"
   data-target="#edit-support-attributes"
   data-backdrop="false">Click to Open Support Attributes</a>

<div id="edit-support-attributes" class="modal fade" role="dialog">
    <div class="modal-dialog" ng-class="{'task-support-attributes': sCtrl.fromWorkflow, 'search-support-attributes': !sCtrl.fromWorkflow}">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="sCtrl.onModalClose($event)">&times;</button>
                <h4 class="modal-title">Support Attributes</h4>
                <hr>
            </div>
            <div class="modal-body">
                <div class="container-fluid row">
                    <!-- If From Workflow -->
                    <div class="col-sm-6 attribute"
                         ng-if="sCtrl.fromWorkflow"
                         ng-repeat="supportAttr in sCtrl.supportAttributes.attributes | orderBy: 'attributePriority'">
                        <label>{{supportAttr.fieldLabel}}</label>
                        <input class="form-control" type="{{supportAttr.fieldType}}"
                               ng-true-value="'true'"
                               ng-false-value="'false'"
                               ng-model="supportAttr.fieldValue" ng-disabled="!sCtrl.editableFields">
                    </div>

                    <!-- If not From Workflow -->
                    <div class="col-sm-6 attribute"
                         ng-if="!sCtrl.fromWorkflow"
                         ng-repeat="supportAttr in sCtrl.supportAttributes.properties | orderBy: 'priority'">
                        <label>{{supportAttr.displayName}}</label>
                        <input class="form-control" type="{{supportAttr.type === 'BOOLEAN' ? 'checkbox' : 'text'}}"
                               ng-true-value="'true'"
                               ng-false-value="'false'"
                               ng-model="supportAttr.value" ng-disabled="!sCtrl.editableFields">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="sCtrl.onModalClose($event)">Close</button>
            </div>
        </div>

    </div>
</div>