<div class="results-page logged-in-page">




    <!-- Content -->
    <section class="section-content section-results">
        <div class="container page-content">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <h4>Results</h4>
                </div>
                <div class="col-sm-8 text-right col-xs-12">
                    <div class="page-action-create">
                        <strong>SEARCH:</strong>
                        <button class="btn">
                            <a href="#/search_page" style="color: inherit;">
                                <span>Edit </span><i class="material-icons">mode_edit</i>
                            </a>
                        </button>
                        <button class="btn" data-toggle="modal" data-target="#saveSearchModal">
                            <span>Save </span><i class="material-icons">save</i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-hide="$ctrl.noResults" class="col-sm-12">
                    <div class="results-container">
                        <div class="row result-header nopadding">
                            <div class="col-sm-10 nopadding">
                                <div class="business_title">Search Term:</div>
                                <div class="service_title">
                                    Infrastructure > {{$ctrl.infrastructureObject.searchTerm}}
                                    {{$ctrl.infrastructureObject.options && '> ' + $ctrl.infrastructureObject.options ||
                                    ''}}
                                </div>
                            </div>
                            <div class="col-sm-2  nopadding text-right">
                                <a href="" ng-click="$ctrl.downloadExcel()" class="btn btn-sm btn-cosmote-white">
                                    <span class="custom-excel"></span>
                                    Download Excel
                                </a>
                            </div>
                        </div>

                        <columns-selection all-columns-checked="$ctrl.allColumnsChecked" table-columns="$ctrl.tableCols"></columns-selection>

                        <div class="row result-data">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 open_item">
                                        <div class="row the-result-table">
                                            <table ng-table-dynamic="$ctrl.tableParams with $ctrl.tableCols"
                                                   id="infra-table" class="results-main-table table" show-filter="true">
                                                <tr ng-repeat="item in $data">
                                                    <td ng-repeat="col in $columns"
                                                        ng-class="{node_details: $index === 0}">

                                                        <div infra-table-dir="$ctrl.tableParams" ng-if="$index === 0">
                                                            <div class="dropdown">
                                                                <a href="" class="dropdown-toggle" data-toggle="dropdown"
                                                                   role="button" aria-haspopup="true" aria-expanded="false">
                                                                    {{item[col.field]}}<span class="caret"></span>
                                                                </a>
                                                                <ul class="dropdown-menu infra-table-row-dropdown">
                                                                    <li class="dropdown" ng-click="$ctrl.showDetails(item, false)" style="padding-bottom: 10px;">CI Details</li>
                                                                    <li class="dropdown" ng-click="$ctrl.getRelatedCis(item)">Related CIs</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!--If its at any other column-->
                                                        <div ng-if="$index !== 0">{{item[col.field]}}</div>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<nav aria-label="Page navigation" class="text-center">-->
                    <!--<ul class="pagination">-->
                    <!--<li>-->
                    <!--<a style="cursor: pointer;" ng-click="$ctrl.changePage(-1)" aria-label="Previous">-->
                    <!--<span aria-hidden="true">&laquo;</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li ng-class="{active: infObject.active}" ng-click="$ctrl.changePage($index)"-->
                    <!--ng-repeat="infObject in $ctrl.infrastructureObject"><a style="cursor: pointer;">{{$index+1}}</a></li>-->
                    <!--<li>-->
                    <!--<a style="cursor: pointer;" ng-click="$ctrl.changePage(-2)" aria-label="Next">-->
                    <!--<span aria-hidden="true">&raquo;</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</nav>-->
                </div>
            </div>
            <div id="infra-empty-results" ng-show="$ctrl.noResults" class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            No results were returned
                        </div>
                        <div class="panel-body">
                            Please try with different search criteria
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <related-cis
            ci-types="$ctrl.relatedCiTypes"
            ci-global-id="$ctrl.ciGlobalId"
            ci-display-label="$ctrl.ciDisplayLabel"
            show-details="$ctrl.showDetails(item, fromRelatedModal)">
    </related-cis>

    <!-- Modal for Complete Results-->
    <table-modal can-updated="$ctrl.isCiUpdatable" on-update="$ctrl.updateDataset(displayLabel, updatedAttributes)"
                 edit-mode="$ctrl.modalEditMode"
                 original-item="$ctrl.ciAttributes" ci-type="$ctrl.ciType"
                 business-item="$ctrl.selectedNode" button-label="Close"></table-modal>

    <!-- Modal UI for Save Search -->
    <div class="modal fade" id="saveSearchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span class="">Save Search</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="save-search-wrapper">
                        <div class="save-search-input">
                            <input ng-model="$ctrl.searchName" ng-keyup="$event.keyCode === 13 && $ctrl.saveSearch()"
                                   value="" class="form-control" placeholder="Search Name..."/>
                        </div>
                    </div>

                    <br>

                    <!-- Messages -->
                    <div class="alert alert-danger" role="alert" ng-if="$ctrl.saveFailed">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <span class="sr-only">Error:</span>
                        An error occurred! Please try again
                    </div>
                    <div class="alert alert-success" role="success" ng-if="$ctrl.successSave">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span class="sr-only">Success:</span>
                        Save was successful!
                    </div>

                    <div class="alert alert-danger" role="alert" ng-if="$ctrl.saveFailedValidation">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <span class="sr-only">Error:</span>
                        Search name is Required
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cosmote-sec btn-sm" data-dismiss="modal">Close</button>
                    <button ng-click="$ctrl.saveSearch()" type="button" class="btn btn-cosmote btn-sm">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>