<div id="relatedCisModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 90%;">

        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">
                    <small>Related Ci Types of: </small>
                    <span>{{relatedCtrl.ciDisplayLabel}}</span>
                </h5>
                <hr class="section-hr-10">
            </div>

            <div class="panel-body" style="padding-top: 0px;">
                <div class="row">
                    <div class="col-sm-2 nopadding">
                        <div class="btn-group relatedCis-menu">
                            <button type="button"
                                    class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                {{relatedCtrl.selectedCiType}} <span class="caret"></span>
                            </button>

                            <div class="dropdown-menu">
                                <ul ng-repeat="menusublist in relatedCtrl.ciTypes">
                                    <li ng-repeat="menuItem in menusublist">
                                        <a href="" ng-click="relatedCtrl.getRelatedCisOfType(menuItem)">{{menuItem.label}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="!relatedCtrl.noCiTypeSelected" style="margin: 0px 5px 1px 0px;" class="row">
                    <columns-selection table-columns="relatedCtrl.ngTableColumns"></columns-selection>
                    <div class="col-md-12 table-responsive clearfix" style="white-space: nowrap;">
                        <table id="related-cis-table"
                               ng-table-dynamic="relatedCtrl.ngTable with relatedCtrl.ngTableColumns"
                               class="table table-striped table-layout-cosmote-admin">

                            <tr ng-repeat="row in $data">
                                <td ng-repeat="col in $columns">

                                    <!--If First Item -->
                                    <div ng-if="$index === 0" >
                                        <a href="" ng-click="relatedCtrl.showRelatedDetails(row)">{{row[col.field]}}</a>
                                    </div>

                                    <!--If any other Item-->
                                    <div ng-if="$index !== 0">
                                        {{row[col.field]}}
                                    </div>

                                </td>
                            </tr>
                        </table>

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

            <div class="cssload-container" ng-show="$root.waitingModal">
                <div class="cssload-double-torus"></div>
            </div>
        </div>
    </div>
</div>