<div class="logged-in-page admin-page">

    <!-- Content -->
    <section class="section-content section-user-management spacious">
        <div class="container page-content">
        <!--<div style="width: 95%;" class="container">-->
            <div class="row">
                <div class="col-md-4">
                    <h1 class="section-title">
                        My Tasks
                    </h1>
                </div>
                <div class="col-md-8">
                    <div class="page-admin-actions text-right">
                        <div class="page-action-search">
                            <input ng-model="$ctrl.taskFilter.nodeId" id="search-workflow" class="" value=""
                                   placeholder="Search by ID..."/>
                            <label for="search-workflow">
                                <i class="fa fa-search"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Groups Ng-Table -->
            <div class="row" ng-if="!$ctrl.noTasks">
                <div class="col-md-12 table-responsive clearfix">
                    <table id="tasks-table" ng-table="$ctrl.tableParams"
                           class="table table-striped table-layout-cosmote-admin">
                        <tr ng-attr-id="{{ 'taskObject-' + $index }}" ng-repeat="task in $data">
                            <td title="'ID'" header-class="'ngTableTasks'"
                                sortable="'nodeId'" filter="{nodeId: 'text'}">
                                {{task.nodeId}}
                            </td>
                            <td style="text-align: left;" title="'Display Label'" header-class="'ngTableTasks'"
                                sortable="'displayLabel'" filter="{displayLabel: 'text'}">
                                <a style="float: left;" href=""
                                   ng-click="$ctrl.editTask(task)">{{task.displayLabel}}</a>
                            </td>
                            <td title="'Owner Tenant'" header-class="'ngTableTasks'"
                                sortable="'ownerTenant'" filter="{ownerTenant: 'text'}">
                                {{task.ownerTenant}}
                            </td>
                            <td title="'CI Type'" header-class="'ngTableTasks'"
                                sortable="'ciType'" filter="{ciType: 'text'}">
                                {{task.ciType}}
                            </td>
                            <td title="'OS Type'" header-class="'ngTableTasks'"
                                sortable="'osType'" filter="{osType: 'text'}">
                                {{task.osType}}
                            </td>
                            <td title="'Create Time'" header-class="'ngTableTasks'"
                                sortable="'creationDate'" filter="{creationDate: 'text'}">
                                {{task.creationDate | date : 'dd/MM/yyyy HH:mm'}}
                            </td>
                            <td title="'Assigned Date'" header-class="'ngTableTasks'"
                                sortable="'assignedDate'" filter="{assignedDate: 'text'}">
                                {{task.assignedDate | date : 'dd/MM/yyyy HH:mm'}}
                            </td>
                            <td title="'Group'" header-class="'ngTableTasks'"
                                sortable="'group'" filter="{group: 'text'}">
                                {{task.group}}
                            </td>
                            <td title="'Status'" header-class="'ngTableTasks'"
                                sortable="'status'" filter="{status: 'text'}">
                                {{task.status}}
                                <!--<img ng-src="{{task.status === 'completed' && 'assets/images/completed-task.png' || 'assets/images/incompleted-task.png' }}">-->
                            </td>
                            <td title="'Assigned To'" header-class="'ngTableTasks'"
                                sortable="'assignedTo'" filter="{assignedTo: 'text'}">
                                {{task.assignedTo}}
                            </td>
                            <td class="options" header-class="'ngTableTasks options'">
                                <a ng-if="!task.myTask" href="" ng-click="$ctrl.editTask(task)"><i class="fa fa-eye"
                                                                                                   aria-hidden="true"></i></a>
                                <a ng-if="task.myTask" href="" ng-click="$ctrl.editTask(task)"><i
                                        class="material-icons">mode_edit</i></a>
                            </td>
                            <td class="options" header-class="'ngTableTasks options'">
                                <a data-toggle="tooltip" title="{{task.myTask && 'Unassign' || 'Assign to me'}}"
                                   ng-style="!task.myTask && {'color': '#3c9732'}  || {'color': '#337ab7'} " href=""
                                   ng-click="$ctrl.assignTaskConfirmation(task, false)">
                                    <i class="material-icons">{{!task.myTask && 'folder_shared' || 'folder'}}</i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!--<nav aria-label="...">-->
                        <!--<ul class="pagination">-->
                            <!--<li class="disabled"><a href ng-click="$ctrl.switchPage(-1)" aria-label="Previous"><span aria-hidden="true">«</span></a>-->
                            <!--</li>-->
                            <!--<li ng-repeat="page in $ctrl.tasksData.tasks" ng-click="$ctrl.switchPage($index+1)" ng-class="{active: self.paginationObject.pageNumber === $index+1}"><a href="#">{{$index+1}}</a></li>-->
                            <!--<li><a href ng-click="$ctrl.switchPage(-2)" aria-label="Next"><span aria-hidden="true">»</span></a></li>-->
                        <!--</ul>-->
                    <!--</nav>-->
                </div>
            </div>

            <!-- Modal -->
            <edit-task id="edit-task" task="$ctrl.selectedTask" assign-action="$ctrl.assignTask()"
                       view-node-info="$ctrl.getNodeDetails(nodeId)"
                       node-custom-attributes="$ctrl.nodeCustomAttributes"
                       on-commit="$ctrl.commitChanges(taskAttrs, discard)"
                       on-reassign="$ctrl.getGroups()"
                       on-assign="$ctrl.assignTaskFromModal(task)"></edit-task>


            <!--Modal for Node Info -->
            <table-modal business-item="$ctrl.nodeInfo" button-label="Back to edit"
                         on-close="$ctrl.openEditTaskModal()"></table-modal>

            <div ng-if="$ctrl.noTasks" class="row no-data">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            No Tasks!
                        </div>
                        <div class="panel-body">
                            Dear {{$ctrl.username}}, there are no tasks currently assigned to your group.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>