<!-- Modal -->
<div class="modal fade" id="nodes-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Nodes Reports &nbsp;<i class="fa fa-bar-chart" aria-hidden="true"></i>
                </h4>
                <hr>
                <div class="page-admin-actions text-right">
                    <div class="page-action-search">
                        <input ng-model="filterText" ng-change="filterResults(0)" id="search-workflow"
                               placeholder="Search by Display Label or Process ID...">
                        <label for="search-workflow">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <!--<div ng-repeat="" ng-attr-id="{{'node'+$index}}"></div>-->
                <div class="results-container">
                    <div class="row result-data">
                        <div class="col-sm-12">
                            <div ng-repeat="node in modalData" class="row result_item">
                                <div style="cursor: pointer;" ng-click="expandNode('#node', $index, node.processId)"
                                     class="col-sm-10 nopadding">
                                    <div class="business_title">{{node.displayLabel|| 'Node Display Label'}}</div>
                                    <div class="service_title">
                                        <strong>Process ID: </strong><i>{{node.processId}}</i> -
                                        <strong>Tasks: </strong><span>{{node.numberOfTasks}}</span> - <strong>CI
                                        Type: </strong><i>{{node.ciType}}</i>
                                        - <strong>Status: </strong><i>{{node.status}}</i>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-right nopadding hide_area">
                                    <a href ng-click="expandNode('#node', $index, node.processId)" class="bg-highlight">
                                        <i ng-if="node.isExpanded" class="material-icons">remove_circle_outline</i>
                                        <i ng-if="!node.isExpanded" class="material-icons">add_circle_outline</i>
                                    </a>
                                </div>

                                <div ng-attr-id="{{'node'+ $index}}" class="col-xs-12 open_item" style="display: none;">
                                    <div class="row the-result-table">
                                        <table ng-table-dynamic="node.nodeTable with dynamicCols"
                                               class="table table-striped table-layout-cosmote-admin results-main-table">
                                            <tr ng-repeat="row in $data">
                                                <td class="ngTableCol" ng-repeat="col in $columns">
                                                    <a href="" class="reports-span"
                                                       ng-if="$index===0 && row.status === 'COMPLETED' && row.group"
                                                       ng-click="getNodeAuditing(row.taskId, row.processId)">
                                                        {{row[col.field]}}
                                                    </a>
                                                    <span class="reports-span"
                                                          ng-if="$index === 0 && (row.status !== 'COMPLETED' || (row.status === 'COMPLETED' && !row.group))">{{row[col.field]}}</span>
                                                    <span class="reports-span" ng-if="$index !== 0">{{col.isDate && (row[col.field]|date) || row[col.field]}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>

                            </div>
                            <!-- Pagination -->
                            <ul uib-pagination boundary-link-numbers="true" rotate="true" max-size="5"
                                total-items="totalItems" items-per-page="countsObject.selectedCount" previous-text="&lsaquo;"
                                next-text="&rsaquo;"
                                ng-model="currentPage" ng-change="changePage()"></ul>

                            <!-- Custom Counts -->
                            <div id="pager-counts" class="btn-group">
                                <label class="btn btn-default"
                                       ng-repeat="count in countsObject.counts"
                                       ng-change="showFirstPage()"
                                       ng-model="countsObject.selectedCount"
                                       uib-btn-radio="count">
                                    {{count}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <excel-btn report-type="nodes" request-object="requestObject"></excel-btn>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

        <div class="cssload-container" ng-show="$root.waitingModal">
            <div class="cssload-double-torus"></div>
        </div>

    </div>
</div>