<div class="results-page logged-in-page">


    <!-- Content -->
    <section class="section-content section-results">
        <div class="container page-content">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <h4>Results</h4>
                </div>
                <div class="col-sm-8 text-right col-xs-12">
                    <div class="page-action-create">
                        <strong>SEARCH:</strong>
                        <button ng-click="$ctrl.location.path('/search_page')" class="btn">
                            <span>Edit </span><i class="material-icons">mode_edit</i>
                        </button>
                        <button class="btn" data-toggle="modal" data-target="#saveSearchModal">
                            <span>Save </span><i class="material-icons">save</i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="results-container">
                        <div id="view-query-title" class="row result-header nopadding">
                            <div class="col-sm-10 nopadding">
                                <div class="business_title">View Query:</div>
                                <div class="service_title">
                                    {{$ctrl.viewQueryObject.queryName}}
                                    {{$ctrl.viewQueryObject.selectedTenants !== 0 && (' > ' + $ctrl.viewQueryObject.selectedTenants)}}
                                    {{$ctrl.viewQueryObject.queryFilters.length !== 0 && '> ' + $ctrl.showQueryFilters() || ''}}
                                </div>
                            </div>
                            <div class="col-sm-2  nopadding text-right">
                                <a id="excel-btn" href="" ng-click="$ctrl.downloadExcel()" class="btn btn-sm btn-cosmote-white">
                                    <span class="custom-excel"></span>
                                    Download Excel
                                </a>
                            </div>
                        </div>

                        <div class="row" ng-repeat="parent in $ctrl.queryResultsForView | orderBy: 'hostDisplayLabel'">
                            <div class="col-sm-12">
                                <div class="results-container">
                                    <div class="row result-header nopadding" style="cursor: pointer;">
                                        <div class="col-sm-11 nopadding" ng-click="$ctrl.expandGuests(parent, $index)">
                                            <div class="business_title">Host Node:</div>
                                            <div class="service_title">{{parent.hostDisplayLabel}}</div>

                                        </div>

                                        <div class="col-sm-1 text-right business-expand">
                                            <a class="bg-highlight" href=""
                                               ng-click="$ctrl.expandGuests(parent, $index)">
                                                <i ng-if=" !parent.expandedGuests"
                                                   class="material-icons">add_circle_outline</i>
                                                <i ng-if="parent.expandedGuests"
                                                   class="material-icons">remove_circle_outline</i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row result-data view-query-results-div"
                                         ng-attr-id="{{'host-' + $index }}" style="display: none;">
                                        <columns-selection table-columns="parent.guestTableColumns"></columns-selection>

                                        <div class="col-sm-12">
                                            <div class="row result_item">
                                                <div class="col-sm-10 nopadding" style="height: 50px;">
                                                    <div class="service_title" ng-if="parent.guests.length !== 0">
                                                        Guests
                                                    </div>
                                                    <div class="service_title" ng-if="parent.guests.length === 0">No
                                                        Guest Nodes found for Host: {{parent.hostDisplayLabel}}
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="parent.guests.length !== 0" class="row the-result-table">
                                                <table ng-table-dynamic="parent.guestTableParams with parent.guestTableColumns"
                                                       class="results-main-table table" show-filter="true" style="white-space: nowrap">
                                                    <tr ng-repeat="item in $data">
                                                        <td ng-repeat="col in $columns">
                                                            <a href="" style="font-weight: bold;" ng-if="$index === 0"
                                                               ng-click="$ctrl.getCiDetails(parent, item)">{{item[col.field]}}</a>
                                                            {{($index !==0 && item[col.field]) || ''}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="view-query-no-results" ng-show="$ctrl.noResults" class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            No results were returned
                        </div>
                        <div class="panel-body">
                            uCMDB could not Execute the Query {{$ctrl.viewQueryObject.queryName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal for Complete Results-->
    <table-modal can-updated="$ctrl.isCiUpdatable" on-update="$ctrl.updateDataset(displayLabel, updatedAttributes)"
                 edit-mode="$ctrl.modalEditMode"
                 original-item="$ctrl.originalItem" ci-type="$ctrl.ciType"
                 business-item="$ctrl.businessItem" button-label="Close"></table-modal>

    <!-- Modal UI for Save Search -->
    <div class="modal fade" id="saveSearchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span class="">Save Search</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="save-search-wrapper">
                        <div class="save-search-input">
                            <input ng-model="$ctrl.searchName" ng-keyup="$event.keyCode === 13 && $ctrl.saveSearch()"
                                   value="" class="form-control" placeholder="Search Name..."/>
                        </div>
                    </div>

                    <br>

                    <!-- Messages -->
                    <div class="alert alert-danger" role="alert" ng-if="$ctrl.saveFailed">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <span class="sr-only">Error:</span>
                        An error occurred! Please try again
                    </div>
                    <div class="alert alert-success" role="success" ng-if="$ctrl.successSave">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span class="sr-only">Success:</span>
                        Save was successful!
                    </div>

                    <div class="alert alert-danger" role="alert" ng-if="$ctrl.saveFailedValidation">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <span class="sr-only">Error:</span>
                        Search name is Required
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cosmote-sec btn-sm" data-dismiss="modal">Close</button>
                    <button ng-click="$ctrl.saveSearch()" type="button" class="btn btn-cosmote btn-sm">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>