<div class="logged-in-page admin-page">



    <!-- Content -->
    <section class="section-content section-user-management spacious">
        <div class="container page-content">
            <div ng-if="!$ctrl.noSavedSearches" class="row">
                <div class="col-md-4">
                    <h1 class="section-title">
                        Saved Searches
                    </h1>
                </div>
                <div class="col-md-8">
                    <div class="page-admin-actions text-right">
                        <!--<div class="page-action-create">-->
                        <!--<button class="btn">-->
                        <!--<i class="fa fa-user" aria-hidden="true"></i> Add New-->
                        <!--</button>-->
                        <!--</div>-->
                        <div class="page-action-search">
                            <input ng-model="$ctrl.savedFilters.description" id="search-user" class="" value=""
                                   placeholder="Search..."/>
                            <label for="search-user">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </label>
                        </div>
                    </div>
                </div>

                <!--<saved-searches-table-->
                        <!--saved-searches="$ctrl.selectedSavedSearch"-->
                        <!--saved-filters-table="$ctrl.savedFilters"-->
                        <!--sort-table-function="$ctrl.sortTable(reverse)">-->
                <!--</saved-searches-table>-->

                <!-- SavedSearches NgTable -->
                <div class="row">
                    <div class="col-md-12 table-responsive clearfix" style="background-color: white;">
                        <table ng-table="$ctrl.tableParams" class="table table-striped table-layout-cosmote-admin" fixed-table-headers="scrollable-area">
                            <tr ng-repeat="search in $data">
                                <td class="saved-search-item" title="'Search'" header-class="'ngTableCol'" sortable="'description'">
                                    <a style="cursor: pointer;" ng-click="$ctrl.goBackToSearch(search)">{{search.description}}</a></td>
                                <td class="saved-search-specs" title="'Terms'" header-class="'ngTableTenantCol'">
                                    {{$ctrl.searchObToString(search)}}</td>
                                <td title="'User'" header-class="'ngTableCol'" sortable="'ucmdbUsers.username'">
                                    {{search.ucmdbUsers.username}}</td>
                                <td class="saved-search-date" title="'Creation&nbsp;Date'" header-class="'ngTableCol'" sortable="'creationDate'">
                                    {{search.creationDate|date}}</td>
                                <td header-class="'ngTableCol'">
                                    <a style="cursor: pointer;" ng-click="$ctrl.searchFromSavedSearch(search)"
                                       ng-class="{disabled: !$root.isUp}"
                                       class="btn btn-sm btn-cosmote-white">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        Search
                                    </a>
                                </td>
                                <td class="options" header-class="'ngTableCol options'" ><a style="cursor: pointer;" ng-click="$ctrl.removeSavedSearchConfirmation(search)"><i class="material-icons">delete_forever</i></a></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

            <div ng-if="$ctrl.noSavedSearches" class="row no-data">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            No saved searches found!
                        </div>
                        <div class="panel-body">
                            Click "Save Search" in results page to save search.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>