<div id="modal_info" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{title}} <strong>{{description}}</strong></h4>
                <hr class="section-hr-10">
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li ng-repeat="dataRow in data" class="list-group-item">
                        {{dataRow.username}}
                        {{dataRow.description}}
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>