/**
* Colors
*/
$primary_color: #3b61a6;
$secondary_color: #3c9732;
$text_color: #878788;
$header_color: #88a4c0;
$label_color: #a5a5a5;
$white: #ffffff;
$input_border_grey: #d1d1d1;
$light_blue: #eff4f9;
$dark: #454545;

$transition_duration: 300ms;

$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;


/**
* Mixins
*
*
*/
@mixin table-layout-cosmote($thead-bcolor, $thead-color){
  thead{
    background-color: $light_blue;
    border: solid 1px $light_blue;
    color: $dark;
    font-size:16px;
    th{
      font-weight: 500;
      &:first-child{
        text-align: center;
      }
    }
     .options{
        width: 30px;
      }
  }
  tbody{
    background: $white;
    border: 1px solid #e0e0e0;
    font-size:13px;
    &> tr{
      &> th, &>td{
        padding: 12px;

        &:first-child{
        text-align: center;
      }
      
      span{     
          background-color: $light_blue;
          color: $primary_color;
          padding: 4px 8px;
          margin-right: 5px;
      }
      a.usersno{
        border: solid 1px #000;
        padding:2px 8px;
        border-radius: 50%;
        font-size: 11px;
        width: 80px;
        height: 80px;
      }
      a.edit{
        border: solid 1px #eaecee;
        padding:2px 8px;
        border-radius: 15px 15px;
        font-size: 11px;
      }
      a:hover.edit{
          background-color: $primary_color;
          color: $white;
          border: 0;
          text-decoration: none;
      }

      a.userno{
        border: solid 1px #eaecee;
       border-radius: 50%;
        font-size: 11px;
        width: 30px;
        padding-top: 7px;
        text-align: center;
        display: inline-block;
        height: 30px;
        margin-top: -7px;
      }
       a:hover.userno{
          background-color: $primary_color;
          color: $white;
          border: 0;
          text-decoration: none;
      }
        a.give_access{
        background-color: $secondary_color;
        color: $white;
        padding: 4px 8px;
        font-size: 13px;
      }
      a:hover.give_access{
          background-color: $white;
          color: $secondary_color;
          text-decoration: none;
        }
        a.more{
        background-color: $light_blue;
        color: $primary_color;
        padding: 4px 4px;
        margin-right: 5px;
        display: inline-block;
        font-size: 10px;
        text-align: center;
        line-height: 9px;
        strong{
          font-size: 11px;
        }
      }
      a:hover.more{
        background-color: $primary_color;
        color: $white;
        border: 0;
        text-decoration: none;
        }
      }
      &> th.text-sm, &> td.text-sm{
        font-size: 0.86em;
      }
    }
    & > tr:nth-of-type(odd){
      background: #fcfcfc;
    }
    & > tr:nth-of-type(even){
      background: #fefefe;
    }
  }
}
@mixin top_line($height){
  width: 100vw;
  background: url(../images/line.jpg) no-repeat;
  background-position: center 0;
  background-size: 1600px;
  height: $height;
  @media screen and (min-width: $breakpoint-lg){
    background-size: 100%;
  }
}
@mixin btn-cosmote($padding, $font-size, $width){
  background-color: $primary_color;
  color: #fff;
  padding:$padding;
  font-size:$font-size;
  @if $width != 'auto'{
    width: $width;
  }
}
@mixin btn-cosmote-sec($padding, $font-size, $width){
  background-color: $secondary_color;
  color: #fff;
  padding:$padding;
  font-size:$font-size;
  @if $width != 'auto'{
    width: $width;
  }
}
@mixin btn-cosmote-white($border-width, $padding, $font-size){
  border: $border-width solid $primary_color;
  color: $primary_color;
  padding:$padding;
  font-size:$font-size;
  background-color: #fff;
}
@mixin form-field($font-size, $color, $line_height){
  font-size: $font-size;
  color: $color;
  line-height: $line_height;
  height: $line_height;
}
@mixin placeholder-styling(){
  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
    color: $label_color;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
    color: $label_color;
  }
  input:-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
    color: $label_color;
  }
  input:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    color: $label_color;
  }
}
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@mixin btn-hover-effect($color, $duration, $iteration_count){
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  &::before{
    content: '';
    position: absolute;
    outline-style: solid;
    outline-color: $color;
    outline-width: 0px;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:hover::before{
    @include animation('hvr-ripple-out #{$duration} #{$iteration_count}');
  }
}
@include keyframes(hvr-ripple-out) {
  0% {
    outline-width: 0px;
    opacity: 0.25;
  }
  100% {
    outline-width: 15px;
    opacity: 0;
  }
}



/**
* Classes
*
*
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=greek');
html{
  min-height: 100%;
}
body{
  overflow-x: hidden;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  background-image: url("../images/background_image.jpg");
  background-repeat: no-repeat;
  background-position: center bottom 0;
  background-color: $white;
  h1, h2, h3, h4, h5, h6{
    color: $text_color;
    margin: 0;
  }
  ul, li{
    list-style: none;
    margin:0;
  }
  .form-control {
    border: 1px solid $input_border_grey;
    border-radius: 2px;
  }
  .field-lg{
    @include form-field(18px, inherit, 42px)
  }
  .field-lg.field-sec{
    @include form-field(18px, $secondary_color, 42px)
  }
  // hr styling
  .section-hr-12{
    width: 100%;
  }
  .section-hr-8{
    width: 66.6666%;
  }

  .sec-anchor{
    color: $secondary_color;
    font-weight: 700;
    font-size: 13px;
  }
  
  .nopadding{
        padding: 0 !important;
        margin: 0 !important;
  }

  #header{
    background: #ffffff;
    border-bottom: solid 1px #dfe9f3;
    .header-logo-wrapper{
      text-align: right;
      border-right: solid 1px #dfe9f3;
      min-height: 70px;
      background-color: $white;
      position: relative;
      width: 210px;
        img{
        max-width: 85%;
        display: inline-block;
        margin-top: -5px;
        }
        h2{
          position: absolute;
          bottom: 13px;
          right: 20px;
          font-size: 11px;
          font-weight: 300;
        }
      @media screen and (min-width: $breakpoint-sm) {
        text-align: right;
      }

    }
    .navbar{
      background-color: $light_blue;
      border-radius:0;
      margin-bottom: 0;
      min-height: 70px;
      border: 0;
    }
    .header-subtitle{
      font-size:14px;
      font-weight:300;
    }
    .navbar-nav>li{
          font-size: 12px;
          display: inline-table;
          vertical-align: top;
          text-align: center;
          border-left: solid 1px #dfe9f3;
          @include transition(background-color $transition_duration);
          a{
            display: block;
            padding: 5px 10px;
            color: $header_color;
            min-height: 70px;
            @include transition(color $transition_duration);
            .material-icons{
              width: 100%;
              text-align: center;
              margin-top: 6px;
              margin-bottom: 3px;
            }
            span{
              margin: 0 2px;
            }
          }
          &:hover{
            background-color: $white;
            a{
              color: $primary_color;
              text-decoration: none;
            }
        } 
        ul{ 
          padding:0;
        > li a{
          min-height: 40px;
          padding: 13px;
        }
      }
      @media screen and (max-width: $breakpoint-sm) {
              width: 100%;
              border-bottom: solid 1px #dfe9f3;
              &:last-child{
                border-bottom: 0;
              }
        }
    }
    .navbar-default .navbar-nav>.open>a, 
    .navbar-default .navbar-nav>.open>a:focus, 
    .navbar-default .navbar-nav>.open>a:hover{
      background-color: $white;
    }
    .navbar-toggle{
      margin-right: 30px;
      margin-top: 15px;
    }
    
  }
  // Buttons
  .btn {
    @include transition(opacity $transition_duration, background-color $transition_duration, color $transition_duration);
    &.btn-cosmote {
      @include btn-cosmote(15px 20px, 16px, auto);
      @include btn-hover-effect($primary_color, 1s, 3);
      margin: 15px auto;
      &:hover{
        opacity:0.8;
      }
    }
    &.btn-cosmote-sec {
      @include btn-cosmote-sec(15px 20px, 16px, auto);
      @include btn-hover-effect($secondary_color, 1s, 2);
      margin: 15px auto;
      &:hover{
        opacity:0.8;
      }
    }
    &.btn-cosmote.btn-wide {
      @include btn-cosmote(10px 20px, 16px, 250px);
      @include btn-hover-effect($primary_color, 1s, 2);
      margin: 15px auto;
      &:hover{
        opacity:0.8;
      }
    }
    &.btn-cosmote.btn-sm {
      @include btn-cosmote(5px 10px, 13px, auto);
      @include btn-hover-effect($primary_color, 1s, 2);
      margin: 10px auto;
      &:hover{
        opacity:0.8;
      }
    }
    &.btn-cosmote-sec.btn-sm {
      @include btn-cosmote-sec(5px 10px, 13px, auto);
      @include btn-hover-effect($secondary_color, 1s, 2);
      margin: 10px auto;
      &:hover{
        opacity:0.8;
      }
    }
    &.btn-cosmote.btn-xs {
      @include btn-cosmote(2px 10px, 11px, auto);
      @include btn-hover-effect($primary_color, 1s, 2);
      margin: 5px auto;
      &:hover{
        opacity:0.8;
      }
    }
    &.btn-cosmote-white{
      @include btn-cosmote-white(2px, 10px 15px, 16px);
    }
    &.btn-cosmote-white.btn-sm{
      @include btn-cosmote-white(1px, 2px 6px, 12px);
      @include transition(opacity 0ms, background-color 0ms, color 0ms);
      font-weight:600;
      &:hover{
        background-color: rgba(0,0,0,0.1);
        opacity:0.8;
      }
    }
    &.full-width {
      width: 100%;
    }
  }

  &.login-page{
    background-color: #fff;
    height: 100%;
    footer{
      position: absolute;
      bottom: 15px;
      margin: 0 auto;
      left: 0;
      width: 100%;     
      }
    .section-login{
      margin: 60px auto 0;
      .login-title{
        h1{
          font-size:24px;
          color: $primary_color;
          margin: 0 auto 30px;
        }
      }
      .welcome_msg{
        h1{
          font-size:22px;
          color: $primary_color;
          text-align: left;
          font-weight: 600;
        }
        p{
          font-size:16px;
          text-align: left;
          margin-top: 8px; 
          margin-bottom: 15px; 
        }
      }

      // Forms
      .form-cosmote {
        // Styling for the login form
        &.login-cosmote{
          .input-cosmote{
            background-color: $white;
            color: $primary_color;
            padding: 15px;
            border:none;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            height:auto;
            border:solid 1px $input_border_grey;
          }
          button{
            background-color: $secondary_color;
            border-color: $secondary_color;
            width: 80%;
          }
        }
      }
    }
  }

  .breadcrumbs{
        font-size:12px;
        font-weight: 500;
        margin: 10px auto;
        padding-top: 8px;
        margin-top: 0;
        padding-bottom: 8px;
        padding-left: 0px;
        color: $white;
        border-bottom:solid 1px $light_blue;
        background-color: $header_color;
      a{
        color: $white;
      }
      li{
        display: inline-block;
        list-style: none;
        margin-right: 5px;
        &:after{
          content: "/";
          padding-left: 10px;
        }
      }
  }
.search_page .section-content.spacious{
      -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        border:solid 1px $light_blue;
        background-color: $white;
        margin-bottom: 30px;
}

  &.logged-in-page{
    font-size: 14px;
    .nav.nav-tabs{
    margin-top: 30px;
    border-bottom: 1px solid $light_blue;
    }
    .nav-tabs.nav>.active>a, 
    .nav-tabs.nav>.active>a:focus, 
    .nav-tabs.nav>.active>a:hover{
      border: 1px solid $light_blue;
      border-bottom-color: #fff;
      color: $secondary_color;
    }
    .nav-tabs.nav>li{
      background-color: #f8f8f8;
      width: 30%;
      margin-right: 15px;
      text-align: center;
      @media screen and (max-width: $breakpoint-sm) {
        margin-right: 8px;
      }
    }
    .nav-tabs.nav>li.active{
      border-bottom: 1px solid $white;
      background-color: $white;
    }
    .nav-tabs.nav>li>a{
      color:#64686c;
      &a:hover{
        border-bottom:0;
      }
    }
    .tab-content{
    margin-bottom: 30px;
    }
    .tab-content>.active{
       -webkit-border-bottom-radius: 2px;
        -moz-border-bottom-radius: 2px;
        border-bottom-radius: 2px;
        border-left:solid 1px $light_blue;
        border-right:solid 1px $light_blue;
        border-bottom:solid 1px $light_blue;
        background-color: $white;
        padding-left: 20px;
        padding-right: 20px;
        .section-content.spacious{
          padding-top: 30px;
          margin-top: 0;
        }
    }
    .section-content{
      color: $text_color;
      
      h1{
        text-align: left;
        font-size: 16px;
        padding-top: 25px;
      }
      &.spacious{
        margin-top: 30px;
        
      }
      .row-sm-margin{
        margin-left:-10px;
        margin-right:-10px;
      }
      .main-search{
        margin: 30px auto;
        @include placeholder-styling();
        input, select{
          margin-bottom: 5px;
        }
      }
      .main-search-tenants{
        .tenants_title{
        font-weight: 600;
        font-size: 16px;
        }
        label{
          margin: 0 auto 13px;
          font-weight: 600;
          input{
            margin-right: 6px;
          }
        }
      }
      .main-search-extra-options{
        label{
          line-height: 42px;
        }
        .field{
          margin-bottom:10px;
        
        &:last-child{
          margin-bottom:0px;
        }
        }
      }
      .main-search-actions{
        .btn{
          font-size: 16px;
          padding:10px;
          background-color: $secondary_color;
          border-color: $secondary_color;
        }
        a{
          color: $header_color;
          font-size: 13px;
          margin: 0 auto;
          display: inline-block;
          margin-bottom: 20px;
          .material-icons{
          float: left;
          }
          span{
          float: left;
          margin-left: 5px;
          margin-top: 3px;
          }
          &:hover{
          opacity:0.7;
          }
        }

      }
      // results page
      &.section-results{
        .custom-excel{
          background: url(../images/icon-excel.png) no-repeat;
          width: 20px;
          height: 17px;
          display: inline-block;
          width: 16px;
          vertical-align: bottom;
          background-size: contain;
          @media
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi) {
            .custom-excel {
              background-image: url(../images/icon-excel-2x.png);
            }
          }
        }
        .results-container{
          .col-title{
            font-size: 16px;
          }
          .result-filter, .result-wrapper{
            margin: 10px 0 15px;
            .panel{
              border-radius: 2px;
            }
          }
          .result-filter{
            .panel{
              font-size: 13px;
              margin:0;
              .panel-header{
                padding: 10px 15px 5px;
                color: $primary_color;
                font-weight:700;
              }
              .panel-body{
                padding: 5px 15px;
                .result-filter-checkbox{
                  margin-right: 10px;
                }
              }
            }
          }
          .result-wrapper{
            font-size: 15px;
            padding: 5px 15px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            .result-header{
              .result-item{
                font-size:20px;
                color: $primary_color;
                font-weight: 300;
              }
            }
            .the-result-table{
              overflow-x: auto;
              .results-main-table{
                min-width:100%;
                font-weight:600;
                font-size:13px;
                & > thead{
                  background: #f7f7f7;
                  & > tr{
                    & > th{
                      border-bottom: none;
                      &.cell-level-1{
                        width: 15%;
                      }
                    }
                  }
                }
                & > tbody{
                  .cell-level-1{
                    font-size:16px;
                    font-weight:300;
                    white-space: normal;
                  }
                  & > tr{
                    & > td{
                      border-top: none;
                      white-space: nowrap;
                    }
                  }
                  & > tr.row-level-2{
                    & > td{
                      border-top: 1px solid #e0e0e0;
                      //background: #333; // #fdfdfd;
                    }
                  }
                }
              }
            }
          }
          .results-search{
            .glyphicon{
              font-size: 1.2em;
              margin: 0 5px;
              &:hover, &:focus{
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  &.admin-page{
    .section-user-management{
      $panel-group-bcolor:#f0f0f0;
      .page-admin-actions{
        @include placeholder-styling();
        position: relative;
        @media screen and (max-width: $breakpoint-sm) {
          text-align: center;
          margin-bottom: 5px;
        }
        button, input{
          font-size: 17px;
          padding: 8px 16px;
          border-radius: 0;
          background: transparent;
          border: 1px solid $panel-group-bcolor;
          display: inline-block;
          vertical-align: top;
          outline:none;

        }
        .page-action-create{
          button{
            background-color: $secondary_color;
            color: $white;
            padding:0;

            @include transition(background-color $transition_duration, color $transition_duration);
            span{
              float: left;
              font-size: 13px;
              margin-right: 1px;
              padding: 5px 8px;
            }
            .material-icons{
              float: right;
              font-size: 20px;
              border-left: 1px solid #57ab4e;
              padding: 5px 8px;
            }
            &:hover{
              color: $secondary_color;
              background-color: $white;
              .material-icons{
              border-left: 1px solid #efefef;
              }
            }
          }
        }
        .page-action-search, .page-action-create{
          display: inline-block;
          vertical-align: top;
        }
        .page-action-search{
          position: relative;
          input{
            background-color: #fff;
            width: 16em;
            padding: 5px 8px;
            font-size: 14px;
            margin-left: 15px;
            @media screen and (max-width: $breakpoint-sm) {
          margin-left: 0;
        }
          }
          & > label{
            position: absolute;
            right: 10px;
            top: 50%;
            font-size:20px;
            @include transform(translateY(-50%));
            color: $secondary_color;
          }
        }
      }
      .panel-new-group{
        height: 220px;
        border: 1px solid $panel-group-bcolor;
        background: #fdfdfd;
        .create-new-group{
          .fa{
            color:#ebebeb;
            font-size:76px;
            padding: 30px;
            transition-timing-function: cubic-bezier(.45,1.09,.74,1.25);
            @include transition(color $transition_duration, transform $transition_duration);
          }
          h4{
            color: $primary_color;
            font-weight:600;
            font-size: 17px;
            padding: 5px 0;
          }
          &:hover{
            text-decoration: none;
            .fa {
              color: $primary_color;
              @include transform(scale(1.2))
            }
            .h4{
            }
          }
        }
      }
      .panel-group{
        height: 220px;
        position: relative;
        border: 1px solid $panel-group-bcolor;
        .pair-item{
          font-weight:600;
          margin-bottom:14px;
          font-size:15px;
          .pair-label{
            color: $label_color;
            font-size:0.82em;
            font-weight:600;
          }
          .pair-value{
            color: $primary_color;
          }
        }
        .subgroup-counter{
          position: absolute;
          top: 0;
          right: 0;
          background: #f6f6f6;
          border-bottom: 1px solid $panel-group-bcolor;
          border-left:1px solid $panel-group-bcolor;
          padding: 5px 10px;
          text-align: center;
          line-height: 1.5em;
          .subgroup-value{
            font-size:26px;
            font-weight: 300;
          }
          .subgroup-label{
            font-size:10px;
            font-weight:600;
          }
        }
      }
      .panel-create-group{
        border: 1px solid $panel-group-bcolor;
        padding:8px;
        @media screen and (min-width: $breakpoint-sm) {
          padding:36px;
        }
        @include placeholder-styling();
        input, select, textarea{
          font-size:16px;
        }
        .field-label{
          color: $primary_color;
          font-size:22px;
          font-weight:300;
        }
        .field-sublabel{
          font-size: 12px;
        }
        .field-group-access{
          & > div{
            margin: 0 auto 10px;
          }
          label{
            color: $secondary_color;
          }
        }
        .field-group{
          border: 1px solid $panel-group-bcolor;
          margin: 10px auto 20px;
          clear: both;
          .field-group-label, .field-group-input{
            display: block;
          }
          .field-group-label{
            background-color: #f9f9f9;
            font-size: 22px;
            padding: 20px;
            font-weight: 300;
          }
          .field-group-input{
            padding:20px;
            .field-group-input-item{
              margin-bottom: 10px;
            }
            .field-group-add-more{
              color: $primary_color;
              font-size: 12px;
              font-weight:600;
            }
          }
          @media screen and (min-width: $breakpoint-md) {
            display: table;
            width: 100%;
            .field-group-label, .field-group-input{
              display: table-cell;
            }
            .field-group-label{
              width: 33.33%;
              vertical-align: top;
            }
            .field-group-input{
              width: 66.66%;
            }
          }
          &.field-group-selection{
            background-color: #f9f9f9;
            padding-top: 10px;
            padding-bottom: 20px;
            position: relative;
            .field-selection-area{
              background: #fff;
              border: 1px solid $panel-group-bcolor;
              height:200px;
              padding:4px;
              overflow-y: auto;
              .field-email-item{
                margin-bottom:2px;
                &> span{
                  @include transition(background-color $transition_duration);
                  font-size:12px;
                  font-weight: 600;
                  padding:5px;
                  display: block;
                  cursor: pointer;
                }
                &.selected > span{
                  background-color: $primary_color;
                  color: #fff;
                }
                &:not(.selected):hover span{
                  background-color: #f0f0f0;
                }
              }
            }
            .field-selection-search > input{
              background: transparent;
              border:none;
            }
            .select-arrow{
              background: $primary_color;
              padding: 0;
              border:none;
              color: #fff;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              outline: none;
              position: absolute;
              left:50%;
              top: 50%;
              &.select-enable{
                @include transform(rotate(90deg) translate(-50%, 40px));
              }
              &.select-disable{
                @include transform(rotate(90deg) translate(-50%, -40px));
              }
              i.fa{
                line-height:1px;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -0.5px));
              }
            }
            & > *:nth-child(1){
              margin-bottom: 50px;
            }
            @media screen and (min-width: $breakpoint-md) {
              & > *:nth-child(1){
                margin-bottom: 0px;
              }
              .select-arrow {
                &.select-enable {
                  @include transform(rotate(0deg) translate(-50%, -40px));
                }
                &.select-disable {
                  @include transform(rotate(0deg) translate(-50%, 40px));
                }
              }
            }
          }
        }
        .field-access{
          select{
            color: $secondary_color;
          }
        }
      }
    }
  }
}



//Top Line
.top_line{
  position:relative;
  &.regular{
    @include top_line(10px);
  }
  &.thin{
    @include top_line(5px);
  }
}

// Table Layout Cosmote
.table-layout-cosmote{
  @include table-layout-cosmote(transparent, auto);
}
.table-layout-cosmote-admin{
  @include table-layout-cosmote(#767676, #ffffff);
  color: #9fa4ad;
  margin: 20px auto;
  & > thead{
    & > tr{
      & > th{
        padding: 15px 12px;
        font-weight: 600;
        border-bottom: 1px;
        .fa{
          margin: -10px 10px;
          border-left:1px solid #aaa;
          padding: 10px 0 10px 10px;
        }
      }
    }
    a{
      color:$dark;
    }
  }
  & > tbody{
    & > tr{
      & > td{
        padding: 18px 12px 12px 12px;
        vertical-align: inherit;
        &.options{
        border-left: solid 1px #ddd;
        padding-top: 12px;
          
       }
      }
    }
  }
}



// Pagination
.pagination{
  li{
    a,
    a:focus,
    a:hover,
    span,
    span:focus,
    span:hover{
      color: $primary_color;
    }
  }
  li.active{
    a,
    a:focus,
    a:hover,
    span,
    span:focus,
    span:hover{
      background: $primary_color;
      color: #fff;
      border-color: $primary_color;
    }
  }
}

#footer{
  color: $white;
  font-size: 12px;
    
}

// Fix for scrolling
#myModal {
  overflow-y:scroll;
}

// Modal styles goes here
.modal{
  .modal-content{
    .modal-header, .modal-footer{
      border:none;
    }
    border-radius: 0;
    .modal-title{
      & > span{
        display: block;
        color: $primary_color;
        font-size:20px;
      }
    }
    .modal-body{
      font-size: 13px;
      &.no-padding{
        padding:0;
        margin: 15px 0;
      }
      .modal-result-header{
        background-color: #fdfdfd;
        .modal-row{
          & > div{
            font-weight: 600;
          }
        }
      }
      .modal-row{
        & > div{
          padding: 15px;
        }
        & > div.trigger-more{
          padding: 0px;
        }
      }
      .modal-result-item{
        border-bottom: 1px solid #f0f0f0;
        .modal-result-data{
          & > .trigger-more{
            & > a{
              background-color: #f8f8f8;
              padding:15px 0;
              display: block;
              text-align: center;
              & > .glyphicon{
                color: #252525;
                font-size: 14px;
              }
              @media screen and (min-width: $breakpoint-sm){
                & > .glyphicon{
                  font-size: 20px;
                }
              }
            }
            & > a[aria-expanded="false"] > .glyphicon::before{
              content: "\002b";
            }
            & > a[aria-expanded="true"] > .glyphicon::before{
              content: "\2212";
            }

          }
        }
        .modal-result-more{
          background-color: #fbfbfb;
          & > div{
            & > .row{
              & > div{
                margin-bottom:10px;
                h4{
                  font-weight: 700;
                  font-size:13px;
                  color: #333;
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}


