<div class="admin-page">



    <!-- Content -->
    <section class="section-content section-user-management spacious">
        <div class="container page-content">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="section-title">
                        {{$ctrl.pageTitle}}
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <hr class="section-hr-8"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-create-group">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="field-label">
                                        Group Name*
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <input ng-model="$ctrl.groupName" focus-me="{{$ctrl.showAlert}}"
                                           class="form-control" type="text"
                                           placeholder="Group Name"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <hr class="section-hr-12"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="field-label">
                                        Select Users
                                    </div>
                                    <div class="field-sublabel">
                                        Select Users from Database
                                    </div>
                                    <div class="field-group field-group-selection clearfix">
                                        <div class="col-md-6">
                                            <div class="field-selection-search">
                                                <input ng-model="$ctrl.userFromDbTerm" type="text"
                                                       placeholder="Search User..." class=""/>
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </div>
                                            <div class="field-selection-area">
                                                <div ng-repeat="user in $ctrl.usersFromDb | filter:$ctrl.userFromDbTerm"
                                                     ng-click="$ctrl.selectUser(user)"
                                                     ng-class="['field-email-item', {selected:user.selected}]"><span>{{user.username}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="field-selection-search">
                                                <input ng-model="$ctrl.selectedUserSearchTerm" type="text"
                                                       placeholder="Search User..." class=""/>
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </div>
                                            <div class="field-selection-area">
                                                <div ng-repeat="selectedUser in $ctrl.selectedUsers | filter:$ctrl.selectedUserSearchTerm"
                                                     ng-click="$ctrl.selectUser(selectedUser)"
                                                     ng-class="['field-email-item', {selected:selectedUser.selected}]">
                                                    <span>{{selectedUser.username}}</span></div>
                                            </div>
                                        </div>
                                        <button ng-click="$ctrl.moveUsers('usersFromDb')"
                                                class="btn select-arrow select-enable">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </button>
                                        <button ng-click="$ctrl.moveUsers('selectedUsers')"
                                                class="btn select-arrow select-disable">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr class="section-hr-12"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="field-label">
                                        Tenants Access
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row field-group-access text-left">
                                        <div class="col-sm-6">
                                            <label>
                                                <input ng-checked="$ctrl.isAllChecked"
                                                       ng-click="$ctrl.checkTenants('All')" type="checkbox" class=""
                                                       name=""/> All
                                            </label>
                                        </div>
                                        <div ng-repeat="tenant in $ctrl.tenants" ng-click="$ctrl.checkTenants(tenant)"
                                             class="col-sm-6">
                                            <label>
                                                <input ng-checked="tenant.checked" type="checkbox" class="" name=""
                                                       checked/> {{tenant.description}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr ng-if="$ctrl.showAlert" class="section-hr-8">
                    <div style="text-align: center;" ng-if="$ctrl.showAlert" class="alert alert-danger">
                        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> All fields are Required!
                    </div>
                    <hr ng-if="$ctrl.showAlert" class="section-hr-8">

                    <div class="row text-center">
                        <div class="col-md-12">
                            <button ng-click="$ctrl.createGroup()"
                                    data-toggle="modal" data-target="#saveGroupModal"
                                    class="btn btn-cosmote btn-wide">{{$ctrl.groupButton}}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>