<div class="logged-in-page admin-page">

    <!-- Content -->
    <section class="section-content section-user-management spacious">
        <div class="container page-content section-content section-user-management">
        <!--<div class="container">-->
            <div class="row">
                <div class="col-md-4">
                    <h1 class="section-title page-header-padding">
                        Comments
                    </h1>
                </div>
                <div ng-if="!$ctrl.noAddedComment" class="col-md-8">
                    <div class="page-admin-actions text-right">
                        <div class="page-action-search">
                            <!--<div class="nopadding text-right">-->
                            <a href="" ng-click="$ctrl.downloadCommentExcel()" class="btn btn-sm btn-cosmote-white">
                                <span class="custom-excel"></span>
                                Download Excel
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comments NgTable -->
            <div ng-if="!$ctrl.noAddedComment" class="row">
                <div class="col-md-12 table-responsive clearfix">

                    <!--Same id as task table-->
                    <table id="tasks-table"
                           ng-table="$ctrl.commentTable"
                           class="table table-striped table-layout-cosmote-admin">
                        <tr ng-repeat="row in $data">
                            <td header-class="'ngTableTasks'"
                                style="text-align: left;"
                                title="'Display Label'"
                                sortable="'displayLabel'"
                                filter="{displayLabel: 'text'}">
                                <a ng-click="$ctrl.showCiDetails(row.globalId)" style="cursor: pointer;">
                                    {{row.displayLabel}}
                                </a>
                            </td>
                            <td header-class="'ngTableTasks'"
                                style="text-align: left;"
                                title="'Ci Type'"
                                sortable="'ciType'"
                                filter="{ciType: 'text'}">
                                {{row.ciType}}
                            </td>
                            <td header-class="'ngTableTasks'"
                                style="text-align: left;"
                                title="'Tenant Owner'"
                                sortable="'tenantOwner'"
                                filter="{tenantOwner: 'text'}">
                                {{row.tenantOwner}}
                            </td>
                            <td header-class="'ngTableTasks'"
                                style="text-align: left;"
                                title="'Category'"
                                sortable="'category'"
                                filter="{category: 'text'}">
                                {{row.category}}
                            </td>

                            <td header-class="'ngTableTasks'"
                                style="text-align: left;"
                                title="'Environment'"
                                sortable="'environment'"
                                filter="{environment: 'text'}">
                                {{row.environment}}
                            </td>
                            <td header-class="'ngTableTasks'"
                                style="text-align: left;"
                                title="'Role'"
                                sortable="'role'"
                                filter="{role: 'text'}">
                                {{row.role}}
                            </td>
                            <td header-class="'ngTableTasks'"
                                style="text-align: left;"
                                title="'Application Domain'"
                                sortable="'domain'"
                                filter="{domain: 'text'}">
                                {{row.domain}}
                            </td>
                            <td header-class="'ngTableTasks'"
                                style="text-align: left;"
                                title="'Author'"
                                sortable="'author'"
                                filter="{author: 'text'}">
                                {{row.author}}
                            </td>
                            <td header-class="'ngTableTasks'"
                                style="text-align: left;"
                                title="'Comment Date'"
                                sortable="'date'"
                                filter="{date: 'text'}">
                                {{row.date | date : 'dd/MM/yyyy HH:mm'}}
                            </td>
                            <td header-class="'ngTableTasks'"
                                style="text-align: left;"
                                title="'Comment Description'"
                                sortable="'comment'"
                                filter="{comment: 'text'}">
                                {{row.comment}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-if="$ctrl.noAddedComment" class="row no-data">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            No comments found!
                        </div>
                        <div class="panel-body">
                            Click "Add Comment" in CIs to add a comment.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <table-modal button-label="Close" business-item="$ctrl.ciDetails">
    </table-modal>
</div>