<div class="logged-in-page">

    <!-- Content -->
    <section class="search_page">
        <div class="container page-content">
            <div ng-if="!$ctrl.noTenants && $root.isUp" class="row text-center">
                <form name="searchForm" class="col-md-8 col-md-offset-2 section-content spacious" novalidate>
                    <h1 class="section-title">
                        Search
                    </h1>
                    <hr class="section-hr-10">
                    <div class="row main-search">
                        <div class="col-sm-4 col-sm-offset-2">
                            <div class="row row-sm-margin">
                                <input ng-if="$ctrl.selectedClass === 'Business'" type="text" name="searchTerm"
                                       class="form-control field-lg" ng-model="$ctrl.searchTerm"
                                       ng-keyup="$event.keyCode === 13 && $ctrl.searchUcmdb()"
                                       placeholder="Keywords..." required/>
                                <select class="form-control field-lg"
                                        ng-if="$ctrl.selectedClass === 'Infrastructure'"
                                        ng-change="$ctrl.retrieveInfrastructureCustomAttributesBasedOnType()"
                                        ng-model="$ctrl.selectedInfrastructureType">
                                    <option ng-repeat="type in $ctrl.infrastructureTypes" value="{{type.name}}">
                                        {{type.title}}
                                    </option>
                                </select>
                                <select class="form-control field-lg"
                                        ng-if="$ctrl.selectedClass === 'View Queries'"
                                        ng-change="$ctrl.initViewQueryAttributes($index)"
                                        ng-model="$ctrl.selectedViewQuery">
                                    <option ng-repeat="query in $ctrl.viewQueries | orderBy: 'queryLabel'" value="{{query.queryName}}">
                                        {{query.queryLabel}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="row row-sm-margin">
                                <select class="form-control field-lg field-sec" name="select-field"
                                        ng-model="$ctrl.selectedClass"
                                        ng-change="$ctrl.changeClassType()">
                                    <option ng-repeat="class in $ctrl.classes">{{class.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="search-options" ng-if="$ctrl.selectedClass === 'Infrastructure' || $ctrl.selectedClass === 'View Queries'">
                        <div class="row main-search-extra-options">
                            <hr class="section-hr-10"/>
                            <div class="col-sm-12 field">
                                <div class="row" ng-repeat="option in $ctrl.optionList" ng-init="optionIndex = $index">
                                    <div class="input-group col-sm-8 col-sm-offset-2">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{option.attributeLabel}} <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href=""
                                                       ng-repeat="attribute in $ctrl.attributes[optionIndex] | orderBy: 'attributeLabel'"
                                                       ng-click="$ctrl.selectOptionAttribute(option, attribute.attributeLabel, attribute.attributeName)" >
                                                        {{attribute.attributeLabel}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Search via Wildcard * or %"
                                               ng-model="option.attributeValue">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="$ctrl.viewQueryFailedValidation" class="row">
                            <div class="col-sm-8 col-lg-offset-2">
                                <div class="alert alert-danger">
                                    <span class="glyphicon glyphicon-warning-sign"></span> Filter is Required for View Query.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tenants-div" ng-if="$ctrl.shouldDisplayTenantsFilter()">
                        <hr class="section-hr-10">
                        <div class="row main-search-tenants">
                            <div class="col-sm-3" style="text-align: right;">
                                <span class="">Tenants:</span>
                            </div>
                            <div class="col-sm-9">
                                <div class="row text-left">
                                    <div ng-if="$ctrl.tenants.length > 1" class="col-sm-6">
                                        <label ng-if="!$ctrl.noTenants">
                                            <input type="checkbox" class="tenants-filter" name="tenants-filter"
                                                   ng-checked="$ctrl.isAllChecked"
                                                   ng-click="$ctrl.checkAllTenants('All')"/>
                                            All
                                        </label>
                                    </div>
                                    <div ng-repeat="tenant in $ctrl.tenants" class="col-sm-6">
                                        <label>
                                            <input type="checkbox" class="tenants-filter" name="tenants-filter"
                                                   ng-checked="tenant.checked" ng-click="$ctrl.checkAllTenants(tenant)"/>
                                            {{tenant.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div ng-if="$ctrl.failedValidation" class="row">
                            <div class="col-sm-8 col-lg-offset-2">
                                <div class="alert alert-danger">
                                    <span class="glyphicon glyphicon-warning-sign"></span> You should have selected at least
                                    1 Tenant.
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="section-hr-10">
                    <div class="row main-search-actions">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button ng-click="$ctrl.searchUcmdb()" type="submit"
                                    class="btn btn-default btn-cosmote full-width">Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div ng-if="!$root.isUp" class="row text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 section-content spacious errorPanels">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>uCMDB is currently <span style="color:red;">unavailable</span></strong>
                        </div>
                        <div class="panel-body">
                            Please contact your System Administrator!
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="$ctrl.noTenants" class="row text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 section-content spacious errorPanels">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            No tenants were found for current User.
                        </div>
                        <div class="panel-body">
                            Please contact Gui Admin to configure your account privileges!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
