<div class="logged-in-page admin-page">

    <!-- Content -->
    <section class="section-content section-user-management spacious">
        <div class="container page-content section-content section-user-management">
        <!--<div class="container">-->
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="section-title">
                        Reporting Page - {{$ctrl.reportTitle}}
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </h1>
                </div>
            </div>
            <hr>
            <!-- Input Fields -->
            <div ng-if="$ctrl.reportType === 'node'" class="row">
                <div class="col-sm-2">
                    <label>Tenants</label>
                    <div class="multiple-select" ng-dropdown-multiselect="" options="$ctrl.tenants" events="$ctrl.multiSelectEvents"
                         selected-model="$ctrl.tenantsMultiselect" extra-settings="$ctrl.multiSelectSettings"></div>
                </div>
                <div class="col-sm-3">
                    <label>From</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.dateFormat}}"
                               ng-model="$ctrl.dateObjects.from._d"
                               is-open="$ctrl.datePopupsStatus.from" close-text="Close" show-button-bar="false"
                               datepicker-options="$ctrl.fromDateOptions"
                               ng-required="true" ng-click="$ctrl.openDatePopup('from')"
                               ng-change="$ctrl.searchNodeReports()"/>
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.openDatePopup('from')"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                </div>
                <div class="col-sm-3">
                    <label>To</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.dateFormat}}"
                               ng-model="$ctrl.dateObjects.to._d"
                               is-open="$ctrl.datePopupsStatus.to" close-text="Close" show-button-bar="false"
                               datepicker-options="$ctrl.toDateOptions"
                               ng-required="true" ng-click="$ctrl.openDatePopup('to')"
                               ng-change="$ctrl.searchNodeReports()"/>
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.openDatePopup('to')"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                </div>
                <div class="col-sm-4 nopadding text-right">
                    <label>&nbsp;</label>
                    <p style="margin-right: 5%;">
                        <a class="btn btn-sm btn-cosmote-white" href=""
                           ng-if="!$ctrl.noReportingData" ng-click="$ctrl.exportNodeReports()">
                            <span class="custom-excel"></span>
                            Download Excel
                        </a>
                    </p>
                </div>
            </div>
            <div ng-if="$ctrl.reportType === 'task'" class="row">
                <div class="col-sm-2">
                    <label>Tenants</label>
                    <div class="multiple-select" ng-dropdown-multiselect="" options="$ctrl.tenants" events="$ctrl.multiSelectEvents"
                         selected-model="$ctrl.tenantsMultiselect" extra-settings="$ctrl.multiSelectSettings"></div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="task-status">Task Status</label>
                        <select id="task-status" class="form-control" ng-model="$ctrl.taskStatus"
                                ng-change="$ctrl.searchTaskReports()">
                            <option value="ALL">All</option>
                            <option value="OPEN">Open</option>
                            <option value="IN_PROGRESS">In Progress</option>
                            <option value="COMPLETED">Completed</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>From</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.dateFormat}}"
                               ng-model="$ctrl.dateObjects.from._d"
                               is-open="$ctrl.datePopupsStatus.from" close-text="Close" show-button-bar="false"
                               datepicker-options="$ctrl.fromDateOptions"
                               ng-required="true" ng-click="$ctrl.openDatePopup('from')"
                               ng-change="$ctrl.searchTaskReports()"/>
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.openDatePopup('from')"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                </div>
                <div class="col-sm-3">
                    <label>To</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.dateFormat}}"
                               ng-model="$ctrl.dateObjects.to._d"
                               is-open="$ctrl.datePopupsStatus.to" close-text="Close" show-button-bar="false"
                               datepicker-options="$ctrl.toDateOptions"
                               ng-required="true" ng-click="$ctrl.openDatePopup('to')"
                               ng-change="$ctrl.searchTaskReports()"/>
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.openDatePopup('to')"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                </div>
                <div class="col-sm-2 nopadding text-right">
                    <label>&nbsp;</label>
                    <p style="margin-right: 5%;">
                        <a class="btn btn-sm btn-cosmote-white" href=""
                           ng-if="!$ctrl.noReportingData" ng-click="$ctrl.exportTaskReports()">
                            <span class="custom-excel"></span>
                            Download Excel
                        </a>
                    </p>
                </div>
            </div>

            <!-- Charts based on Type -->
            <div ng-if="!$ctrl.noReportingData && $ctrl.reportType === 'node'">
                <div class="row">
                    <div class="col-sm-12 table-responsive chartsDiv">
                        <div>
                            <div class="chart-pie-div">
                                <p>Total Nodes: <strong>{{$ctrl.nodePieChartData.total}}</strong></p>
                                <canvas class="chart chart-pie"
                                        chart-data="$ctrl.nodePieChartData.data"
                                        chart-labels="$ctrl.nodePieChartData.labels"
                                        chart-colors="$ctrl.nodePieChartData.colors"
                                        chart-click="$ctrl.nodeChartDetails"
                                        chart-options="$ctrl.chartOptions">
                                </canvas>
                            </div>
                            <!--<div class="legend">-->
                            <!--<p ng-repeat="label in $ctrl.nodePieChartData.labels">-->
                            <!--<span ng-style="{'border-color': $ctrl.nodePieChartData.colors[$index]}"-->
                            <!--class="box"></span>-->
                            <!--{{label}}-->
                            <!--</p>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>

            </div>
            <div ng-if="!$ctrl.noReportingData && $ctrl.reportType === 'task'">
                <div class="row">
                    <div class="col-sm-12 table-responsive chartsDiv">
                        <div>
                            <div class="chart-pie-div">
                                <p>Tasks Per Group</p>
                                <p>Total Tasks: <strong>{{$ctrl.taskPieChartData.total}}</strong></p>
                                <canvas class="chart chart-pie"
                                        chart-data="$ctrl.taskPieChartData.data"
                                        chart-labels="$ctrl.taskPieChartData.labels"
                                        chart-colors="$ctrl.taskPieChartData.colors"
                                        chart-click="$ctrl.taskChartDetails"
                                        chart-options="$ctrl.chartOptions">
                                </canvas>
                            </div>
                            <!--<div class="legend">-->
                            <!--<p ng-repeat="label in $ctrl.taskPieChartData.labels">-->
                            <!--<span ng-style="{'border-color': $ctrl.taskPieChartData.colors[$index]}"-->
                            <!--class="box"></span>-->
                            <!--{{label}}-->
                            <!--</p>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Info Div for Empty Responses & Errors -->
            <div class="reports-info-div" ng-if="$ctrl.noReportingData" class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>No Reporting Data!</h4>
                        </div>
                        <div class="panel-body">
                            <span style="text-decoration: underline;">No Reporting Data found for selected Dates.</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modals Directives for Chart Details -->
            <tasks-report-modal ng-if="$ctrl.reportType === 'task'"
                                request-object="$ctrl.requestExcelObject"
                                report-data="$ctrl.modalData">
            </tasks-report-modal>
            <node-modal ng-if="$ctrl.reportType === 'node'"
                        request-object="$ctrl.requestExcelObject"
                        report-data="$ctrl.modalData"
                        on-node-click="$ctrl.getNodeDetails(processId)"
                        on-auditing-request="$ctrl.getNodeAuditing(taskId, nodeId)">
            </node-modal>

            <!-- Modals for Auditing -->
            <audit-modal data="$ctrl.nodeAuditingData"></audit-modal>
        </div>
    </section>
</div>