<div class="logged-in-page admin-page">

    <!-- Content -->
    <section class="section-content section-user-management spacious">
        <div class="container page-content">
            <div ng-if="!$ctrl.noUserActions" class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <h1 class="section-title" style="padding-top: 15px">
                            User Actions &nbsp;
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </h1>
                    </div>
                    <div class="col-md-8">
                        <div class="page-admin-actions text-right">
                            <div class="page-action-search">
                                <a href="" ng-click="$ctrl.downloadActionAuditLogExcel()"
                                   class="btn btn-sm btn-cosmote-white" style="margin-top: 5px;">
                                    <span class="custom-excel"></span>
                                    Download Excel
                                </a>
                                <input id="process-filter" style="width: 20em;"
                                       ng-model="$ctrl.tableFilter.text"
                                       placeholder="Search by Process Id or Display Label..."/>
                                <label for="process-filter">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin-bottom: 5px;">
            <!--&lt;!&ndash; Input Fields &ndash;&gt;-->
            <!--<div class="row">-->
            <!--<div class="col-sm-3">-->
            <!--<label>From</label>-->
            <!--<p class="input-group">-->
            <!--<input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.dateFormat}}"-->
            <!--ng-model="$ctrl.dateObjects.from._d"-->
            <!--is-open="$ctrl.datePopupsStatus.from" close-text="Close" show-button-bar="false"-->
            <!--datepicker-options="$ctrl.fromDateOptions"-->
            <!--ng-required="true" ng-click="$ctrl.openDatePopup('from')"-->
            <!--ng-change="$ctrl.searchNodeReports()"/>-->
            <!--<span class="input-group-btn">-->
            <!--<button type="button" class="btn btn-default" ng-click="$ctrl.openDatePopup('from')"><i-->
            <!--class="glyphicon glyphicon-calendar"></i></button>-->
            <!--</span>-->
            <!--</p>-->
            <!--</div>-->
            <!--<div class="col-sm-3">-->
            <!--<label>To</label>-->
            <!--<p class="input-group">-->
            <!--<input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.dateFormat}}"-->
            <!--ng-model="$ctrl.dateObjects.to._d"-->
            <!--is-open="$ctrl.datePopupsStatus.to" close-text="Close" show-button-bar="false"-->
            <!--datepicker-options="$ctrl.toDateOptions"-->
            <!--ng-required="true" ng-click="$ctrl.openDatePopup('to')"-->
            <!--ng-change="$ctrl.searchNodeReports()"/>-->
            <!--<span class="input-group-btn">-->
            <!--<button type="button" class="btn btn-default" ng-click="$ctrl.openDatePopup('to')"><i-->
            <!--class="glyphicon glyphicon-calendar"></i></button>-->
            <!--</span>-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->

            <div ng-if="!$ctrl.noUserActions" class="row">
                <div class="col-md-12 table-responsive clearfix" style="background-color: white;">
                    <table ng-table="$ctrl.tableParams" class="table table-striped table-layout-cosmote-admin"
                           fixed-table-headers="scrollable-area">
                        <tr ng-repeat="action in $data">
                            <td title="'Process Id'" header-class="'ngTableCol'" sortable="'processId'">
                                {{action.processId !== '0' && action.processId || '-' }}
                            </td>
                            <td title="'Owner Tenant'" header-class="'ngTableCol'" sortable="'ownerTenant'">
                                {{action.ownerTenant}}
                            </td>
                            <td title="'Display Label'" header-class="'ngTableCol'" sortable="'displayLabel'">
                                <a href="" ng-click="$ctrl.getAuditDetailsForNode(action.nodeDiffId)">{{action.displayLabel}}</a>
                            </td>
                            <td title="'Action'" header-class="'ngTableCol'" sortable="'action'">
                                {{action.action}}
                            </td>
                            <td title="'Updated By'" header-class="'ngTableCol'" sortable="'updatedBy'">
                                {{action.updatedBy}}
                            </td>
                            <td title="'User Group'" header-class="'ngTableCol'" sortable="'userGroup'">
                                {{action.userGroup}}
                            </td>
                            <td title="'Modify Time'" header-class="'ngTableCol'" sortable="'modifyTime'">
                                {{action.modifyTime|date:"d MMM yyyy 'at' HH:mm:ss"}}
                            </td>
                            <td class="options" style="text-align: center;">
                                <a href="" ng-click="$ctrl.getAuditDetailsForNode(action.nodeDiffId)"><i
                                        class="fa fa-eye" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div style="height: 100vh;" ng-if="$ctrl.noUserActions" class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            No User Actions found!
                        </div>
                        <div class="panel-body">
                            There are no actions recorded for any node.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modals for Auditing -->
            <audit-modal data="$ctrl.modalData"></audit-modal>
        </div>
    </section>
</div>