<!-- Content -->
<div class="results-page logged-in-page">
    <section class="section-content section-results">
        <div class="container page-content">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <h4>Results</h4>
                </div>
                <div class="col-sm-8 text-right col-xs-12">
                    <div class="page-action-create">
                        <strong>SEARCH:</strong>
                        <button ng-click="$ctrl.location.path('/search_page');" class="btn">
                            <span>Edit </span><i class="material-icons">mode_edit</i>
                        </button>
                        <button class="btn" data-toggle="modal" data-target="#saveSearchModal">
                            <span>Save </span><i class="material-icons">save</i>
                        </button>
                    </div>
                </div>
            </div>

            <div ng-if="$ctrl.emptyResults" class="null-search-panel panel panel-primary">
                <div class="panel-heading">
                    <i class="material-icons">warning</i>No Results!
                </div>
                <div class="panel-body">
                    No Results found for the specified Criteria.
                </div>
            </div>

            <div ng-if="$ctrl.noSearchRequest" class="null-search-panel panel panel-default">
                <div class="panel-heading">
                    <i class="material-icons">warning</i>No Search Request Found!
                </div>
                <div class="panel-body">
                    You should search something in Search Page.
                </div>
            </div>

            <div ng-if="!$ctrl.emptyResults" class="row">
                <div class="col-sm-12">
                    <div id="business-results" class="results-container">
                        <div class="panel panel-default"
                             ng-repeat="businessPerTenant in $ctrl.businessItems" ng-init="tenant = $index">
                            <div class="panel-heading" ng-click="$ctrl.expandCollapseTenantBusinessDiv($index)">
                                <span>{{businessPerTenant.tenantOwner}}</span>
                                <i ng-if="!businessPerTenant.show" class="material-icons">expand_more</i>
                                <i ng-if="businessPerTenant.show" class="material-icons">expand_less</i>
                            </div>
                            <div ng-attr-id="{{ 'tenant-business-' + $index }}" class="panel-body">
                                <div ng-repeat="businessServices in businessPerTenant.businessServices | orderBy: 'businessService.displayLabel'"
                                     ng-init="tenantBusiness = $index">
                                    <div class="row result-header nopadding">
                                        <div style="cursor: pointer;" class="col-sm-8 nopadding"
                                             ng-click="$ctrl.retrieveCiCollections(tenant, tenantBusiness, businessServices.businessService); $ctrl.expandCollapseBusinessServices(tenant, tenantBusiness, businessServices)">
                                            <div class="business_title">{{businessServices.label}}</div>
                                            <div class="service_title">
                                                {{businessServices.businessService.displayLabel}}
                                            </div>

                                        </div>
                                        <div class="col-sm-3  nopadding text-right">
                                            <a ng-attr-id="{{'excel'+tenant+tenantBusiness}}"
                                               ng-click="$ctrl.downloadExcel(businessServices.businessService, tenant, tenantBusiness)"
                                               class="btn btn-sm btn-cosmote-white">
                                                <span class="custom-excel"></span>
                                                Download Excel
                                            </a>
                                        </div>
                                        <div class="col-sm-1 business-expand text-right">
                                            <a href=""
                                               ng-click="$ctrl.retrieveCiCollections(tenant, tenantBusiness, businessServices.businessService); $ctrl.expandCollapseBusinessServices(tenant, tenantBusiness, businessServices)"
                                               class="bg-highlight">
                                                <i ng-if="!businessServices.show" class="material-icons">add_circle_outline</i>
                                                <i ng-if="businessServices.show" class="material-icons">remove_circle_outline</i>
                                            </a>
                                        </div>
                                    </div>

                                    <div ng-attr-id="{{ 'business-'+tenant+tenantBusiness }}" style="display: none;"
                                         class="row result-data">
                                        <div class="col-sm-12">
                                            <div ng-repeat="ci in $ctrl.businessItems[tenant].businessServices[tenantBusiness].ciCollections"
                                                 ng-init="ciCollection = $index"
                                                 class="row result_item business-service-parent-collection">

                                                <div style="cursor: pointer;" class="col-sm-11 nopadding"
                                                     ng-click="$ctrl.expandCiCollection(ci, businessServices.businessService); $ctrl.expandCollapseCiCollection(tenant, tenantBusiness, ciCollection)">
                                                    <!--<div class="business_title">CiCollection</div>-->
                                                    <div class="service_title">
                                                        {{ci.ciCollection.properties.display_label}}
                                                    </div>
                                                </div>

                                                <div class="col-sm-1 text-right nopadding hide_area">
                                                    <a class="bg-highlight" href=""
                                                       ng-click="$ctrl.expandCiCollection(ci, businessServices.businessService); $ctrl.expandCollapseCiCollection(tenant, tenantBusiness, ciCollection)">
                                                        <i ng-if="!ci.show"
                                                           class="material-icons">add_circle_outline</i>
                                                        <i ng-if="ci.show"
                                                           class="material-icons">remove_circle_outline</i>
                                                    </a>
                                                </div>

                                                <!-- Nested Ci Collection -->
                                                <div ng-attr-id="{{'nestedCiCollection-'+tenant+tenantBusiness+ciCollection}}"
                                                     ng-if="ci.nestedCiCollections.length !== 0">
                                                    <div class="row nested-ci-collection"
                                                         ng-repeat="nestedCi in ci.nestedCiCollections"
                                                         ng-init="nestedCiCollection = $index">
                                                        <div class="col-sm-11 clickable-area"
                                                             ng-click="$ctrl.expandNestedCiCollection(nestedCi); $ctrl.expandCollapseNestedCiCollection(tenant, tenantBusiness, ciCollection, nestedCiCollection, nestedCi)">
                                                            <!--<div class="business_title">CiCollection</div>-->
                                                            <div class="service_title">
                                                                {{nestedCi.ciCollection.display_label}}
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1 text-right hide_area clickable-area">
                                                            <a class="bg-highlight" href=""
                                                               ng-click="$ctrl.expandNestedCiCollection(nestedCi); $ctrl.expandCollapseNestedCiCollection(tenant, tenantBusiness, ciCollection, nestedCiCollection, nestedCi)">
                                                                <i ng-if="!nestedCi.show" class="material-icons">add_circle_outline</i>
                                                                <i ng-if="nestedCi.show" class="material-icons">remove_circle_outline</i>
                                                            </a>
                                                        </div>

                                                        <div ng-attr-id="{{ 'nestedCiCollectionData-'+tenant+tenantBusiness+ciCollection+nestedCiCollection}}"
                                                             style="display: none;"
                                                             class="col-xs-12 open_item nested-ci-collection-data">
                                                            <div ng-if="nestedCi.noElementsMsg" class="well myWell">
                                                                {{nestedCi.noElementsMsg}}
                                                            </div>
                                                            <div ng-if="!nestedCi.noElementsMsg">
                                                                <div class="row result_item">
                                                                    <div class="col-sm-2 nopadding">
                                                                        <div class="btn-group">
                                                                            <button type="button"
                                                                                    class="btn btn-default dropdown-toggle"
                                                                                    data-toggle="dropdown"
                                                                                    aria-haspopup="true"
                                                                                    aria-expanded="false">
                                                                                <div ng-if="nestedCi.menu.length === 0"
                                                                                     class="menu-loader"></div>
                                                                                <div ng-if="nestedCi.menu.length !== 0">
                                                                                    {{nestedCi.selectedMenuItem.name}} <span
                                                                                        class="caret"></span></div>
                                                                            </button>
                                                                            <div ng-if="ci.menu.length !== 0" class="dropdown-menu">
                                                                                <ul ng-repeat="menuArray in nestedCi.menu">
                                                                                    <li ng-repeat="menuItem in menuArray"
                                                                                        ng-click="$ctrl.getCIsByType(nestedCi, menuItem)">
                                                                                        <a href="">{{menuItem.name}}</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-8 options">
                                                                        <a ng-repeat="item in nestedCi.computerItems | orderBy: 'field' | limitTo: 4"
                                                                           ng-click="$ctrl.selectItem(nestedCi, item)"
                                                                           href="" ng-class="{visited: item.selected}">
                                                                            <span class="computer-item">{{item.field}}</span>
                                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                                        </a>
                                                                        <div ng-attr-id="{{ 'pcs-'+tenant+tenantBusiness+ciCollection }}"
                                                                             class="PCs-element">
                                                                            <a ng-repeat="item in nestedCi.computerItems | orderBy: 'field' | limitTo: (4 - nestedCi.computerItems.length)"
                                                                               ng-click="$ctrl.selectItem(nestedCi, item)"
                                                                               href="" ng-class="{visited: item.selected}">
                                                                                <span class="computer-item">{{item.field}}</span>
                                                                                <i class="fa fa-check"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                        <span ng-if="nestedCi.computerItems.length > 4"
                                                                              ng-attr-id="{{ 'morePc-'+tenant+tenantBusiness+ciCollection}}"
                                                                              ng-click="$ctrl.showMorePcs(tenant, tenantBusiness, ciCollection, nestedCi)"
                                                                              class="more_pc">
                                                                         <a class="more-less-label"
                                                                            style="width: 65px;">{{nestedCi.labelValue || (nestedCi.computerItems.length-4) + " more ..."}}</a>
                                                                            <!--<i class="fa fa-arrow-circle-down"-->
                                                                            <!--aria-hidden="true"></i>-->
                                                                    </span>
                                                                    </div>
                                                                    <div class="col-sm-1">
                                                                    <span ng-click="$ctrl.getCIsByType(nestedCi)"
                                                                          class="refresh-button">Refresh
                                                                        <i class="material-icons"
                                                                           style="margin-top: 12px;">refresh</i>
                                                                    </span>
                                                                    </div>
                                                                    <div class="text-right nopadding more_options col-sm-1"
                                                                         title="More Options"
                                                                         ng-show="nestedCi.computerItems">
                                                                        <div class="dropdown">
                                                                            <a type="button" data-toggle="dropdown"
                                                                               aria-haspopup="true" aria-expanded="false">
                                                                                <i class="material-icons">more_horiz</i></a>

                                                                            <ul class="dropdown-menu"
                                                                                aria-labelledby="dLabel">
                                                                                <li><a href=""
                                                                                       ng-click="$ctrl.selectItem(nestedCi, -1)">Select
                                                                                    All</a></li>
                                                                                <li><a href=""
                                                                                       ng-click="$ctrl.selectItem(nestedCi, -2)">Clear
                                                                                    Selections</a></li>
                                                                                <li><a href=""
                                                                                       ng-click="$ctrl.hideNestedCiCollectionFilters(tenant, tenantBusiness, ciCollection, nestedCiCollection)">Show/Hide
                                                                                    Filters</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <columns-selection table-columns="nestedCi.currentView.tableColumns"></columns-selection>
                                                                <div class="row the-result-table">
                                                                    <table ng-table-dynamic="nestedCi.currentView.tableParams with nestedCi.currentView.tableColumns"
                                                                           class="results-main-table table">
                                                                        <tr ng-repeat="row in $data">
                                                                            <td ng-click="$index===0 && $ctrl.showModal(row.global_id, row.root_class, nestedCi)"
                                                                                ng-class="{area_id: $index === 0, businessDetails: $index===0}"
                                                                                ng-repeat="col in $columns">
                                                                                {{row[col.field]}}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- ////// -->

                                                <div ng-attr-id="{{ 'ciCollection-'+tenant+tenantBusiness+ciCollection}}"
                                                     ng-if="ci.nestedCiCollections.length === 0"
                                                     style="display: none;"
                                                     class="col-xs-12 open_item">
                                                    <div ng-if="ci.noElementsMsg" class="well myWell">
                                                        {{ci.noElementsMsg}}
                                                    </div>
                                                    <div ng-if="!ci.noElementsMsg">
                                                        <div class="row result_item">
                                                            <div class="col-sm-2 nopadding">
                                                                <div class="btn-group">
                                                                    <button type="button"
                                                                            class="btn btn-default dropdown-toggle"
                                                                            data-toggle="dropdown" aria-haspopup="true"
                                                                            aria-expanded="false">
                                                                        <div ng-if="ci.menu.length === 0"
                                                                             class="menu-loader"></div>
                                                                        <div ng-if="ci.menu.length !== 0">
                                                                            {{ci.selectedMenuItem.name}} <span
                                                                                class="caret"></span></div>
                                                                    </button>
                                                                    <div ng-if="ci.menu.length !== 0" class="dropdown-menu">
                                                                        <ul ng-repeat="menuArray in ci.menu">
                                                                            <li ng-repeat="menuItem in menuArray"
                                                                                ng-click="$ctrl.getCIsByType(ci, menuItem)">
                                                                                <a href="">{{menuItem.name}}</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-8 options">
                                                                <a ng-repeat="item in ci.computerItems | orderBy: 'field'| limitTo: 4"
                                                                   ng-click="$ctrl.selectItem(ci, item)"
                                                                   href="" ng-class="{visited: item.selected}">
                                                                    <span class="computer-item">{{item.field}}</span>
                                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                                </a>
                                                                <div ng-attr-id="{{ 'pcs-'+tenant+tenantBusiness+ciCollection }}"
                                                                     class="PCs-element">
                                                                    <a ng-repeat="item in ci.computerItems | orderBy: 'field'|  limitTo: (4 - ci.computerItems.length)"
                                                                       ng-click="$ctrl.selectItem(ci, item)"
                                                                       href="" ng-class="{visited: item.selected}">
                                                                        <span class="computer-item">{{item.field}}</span>
                                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                                    </a>
                                                                </div>
                                                                <span ng-if="ci.computerItems.length > 4"
                                                                      ng-attr-id="{{ 'morePc-'+tenant+tenantBusiness+ciCollection}}"
                                                                      ng-click="$ctrl.showMorePcs(tenant, tenantBusiness, ciCollection, ci)"
                                                                      class="more_pc">
                                                                <!--<i class="fa fa-arrow-circle-down"-->
                                                                    <!--aria-hidden="true"></i>-->
                                                                <a class="more-less-label" style="width: 65px;">{{ci.labelValue || (ci.computerItems.length-4) + " more ..."}}</a>
                                                            </span>
                                                            </div>
                                                            <div class="col-sm-1">
                                                    <span class="refresh-button" ng-click="$ctrl.getCIsByType(ci)">Refresh
                                                        <i class="material-icons" style="margin-top: 12px;">refresh</i></span>
                                                            </div>
                                                            <div class="text-right nopadding more_options col-sm-1"
                                                                 title="More Options" ng-show="ci.computerItems">
                                                                <div class="dropdown">
                                                                    <a type="button" data-toggle="dropdown"
                                                                       aria-haspopup="true" aria-expanded="false">
                                                                        <i class="material-icons">more_horiz</i></a>

                                                                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                                                                        <li><a href="" ng-click="$ctrl.selectItem(ci, -1)">Select
                                                                            All</a></li>
                                                                        <li><a href="" ng-click="$ctrl.selectItem(ci, -2)">Clear
                                                                            Selections</a></li>
                                                                        <li><a href=""
                                                                               ng-click="$ctrl.hideFilters(tenant, tenantBusiness, ciCollection)">Show/Hide
                                                                            Filters</a></li>
                                                                    </ul>
                                                                </div>


                                                            </div>
                                                        </div>
                                                        <columns-selection table-columns="ci.currentView.tableColumns"></columns-selection>
                                                        <div class="row the-result-table">
                                                            <table ng-table-dynamic="ci.currentView.tableParams with ci.currentView.tableColumns"
                                                                   class="results-main-table table">
                                                                <tr ng-repeat="row in $data">
                                                                    <td ng-click="$index===0 && $ctrl.showModal(row.global_id, row.root_class, ci)"
                                                                        ng-class="{area_id: $index === 0, businessDetails: $index===0}"
                                                                        ng-repeat="col in $columns">{{row[col.field]}}
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="$ctrl.noResults" class="row no-data">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            No results were returned
                        </div>
                        <div class="panel-body">
                            Please try with different search criteria
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal for Complete Results-->
    <table-modal business-item="$ctrl.selectedRow" original-item="$ctrl.ciAttributes"
                 can-updated="$ctrl.isCiUpdatable" on-update="$ctrl.updateDataset(displayLabel, updatedAttributes)"
                 edit-mode="$ctrl.modalEditMode" button-label="Close" ci-type="$ctrl.ciType">
    </table-modal>

    <!-- Modal UI for Save Search -->
    <div class="modal fade" id="saveSearchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span class="">Save Search</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="save-search-wrapper">
                        <div class="save-search-input">
                            <input ng-model="$ctrl.searchName" ng-keyup="$event.keyCode === 13 && $ctrl.saveSearch()"
                                   value="" class="form-control" placeholder="Search Name..."/>
                        </div>
                    </div>

                    <br>

                    <!-- Messages -->
                    <div class="alert alert-danger" role="alert" ng-if="$ctrl.saveFailed">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <span class="sr-only">Error:</span>
                        An error occurred! Please try again
                    </div>
                    <div class="alert alert-success" role="success" ng-if="$ctrl.successSave">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span class="sr-only">Success:</span>
                        Successful Save
                    </div>

                    <div class="alert alert-danger" role="alert" ng-if="$ctrl.saveFailedValidation">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <span class="sr-only">Error:</span>
                        Search name is Required
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cosmote-sec btn-sm" data-dismiss="modal">Close</button>
                    <button ng-click="$ctrl.saveSearch()" type="button" class="btn btn-cosmote btn-sm">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>