<div id="auditing-modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Auditing Node Report &nbsp;
                    <i class="fa fa-exchange" aria-hidden="true"></i>
                </h4>
                <hr>
            </div>
            <div class="modal-body">
                <p><i class="material-icons">label</i>&nbsp; Display Label: <a href="" ng-click="showCiDetails(data.globalId)"><span>{{data.displayLabel}}</span></a></p>
                <p><i class="material-icons">access_time</i>&nbsp; Last Modified Time: <span>{{data.lastModifiedTime | date:"d MMM yyyy 'at' HH:mm:ss"}}</span></p>
                <p><i class="material-icons">person_pin</i>&nbsp; Updated By: <span>{{data.updatedBy}}</span></p>
                <div class="auditing-comments" ng-if="data.comments">
                    <p><i class="material-icons">comment</i>&nbsp; Comments: </p>
                    <pre class="auditing-comments-pre">{{data.comments}}</pre>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6 right-border-div">
                            <div class="modal-result-header">
                                <div class="modal-result-headings modal-row clearfix">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-5 business-modal-header-item"><strong>Property Name</strong></div>
                                    <div class="col-xs-5 business-modal-header-item"><strong>Property Value</strong></div>
                                </div>
                            </div>
                            <div id="before" class="resultModal" scrolling-div="diff">
                                <div ng-repeat="prop in transformedOldData | orderBy: 'name'" class="modal-more-body">
                                    <div class="modal-result-item business-modal-item">
                                        <div class="modal-result-data modal-row clearfix">
                                            <div class="col-xs-2 trigger-more ">
                                            </div>
                                            <div class="col-xs-5"><strong>{{prop.name}}</strong></div>
                                            <div ng-if="prop.value !== 'true' && prop.value !== 'false'" class="col-xs-5 business-modal-value-item">{{prop.value}}</div>
                                            <div ng-if="prop.value === 'true' || prop.value === 'false'" class="col-xs-5 business-modal-value-item">
                                                <i ng-if="prop.value ==='true'" class="fa fa-check" aria-hidden="true"></i>
                                                <i ng-if="prop.value ==='false'" class="fa fa-times" aria-hidden="true"></i>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="modal-result-header">
                                <div class="modal-result-headings modal-row clearfix">
                                    <div class="col-xs-2"></div>
                                    <div class="col-xs-5 business-modal-header-item"><strong>Property Name</strong></div>
                                    <div class="col-xs-5 business-modal-header-item"><strong>Property Value</strong></div>
                                </div>
                            </div>
                            <div id="after" class="resultModal" scrolling-div="diff">
                                <div ng-repeat="prop in transformedCurrentData | orderBy: 'name'" class="modal-more-body">
                                    <div class="modal-result-item business-modal-item">
                                        <div class="modal-result-data modal-row clearfix">
                                            <div class="col-xs-2 trigger-more ">
                                            </div>
                                            <div class="col-xs-5"><strong>{{prop.name}}</strong></div>
                                            <div ng-if="prop.value !== 'true' && prop.value !== 'false'" class="col-xs-5 business-modal-value-item">{{prop.value}}</div>
                                            <div ng-if="prop.value === 'true' || prop.value === 'false'" class="col-xs-5 business-modal-value-item">
                                                <i ng-if="prop.value ==='true'" class="fa fa-check" aria-hidden="true"></i>
                                                <i ng-if="prop.value ==='false'" class="fa fa-times" aria-hidden="true"></i>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="no-auditing-changes" ng-if="transformedOldData.length === 0 && transformedCurrentData.length === 0">
                            No Changes found!
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal for Complete Results-->
<table-modal business-item="ciDetails" button-label="Close"></table-modal>