<!-- Modal -->
<div class="modal fade" id="tasks-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Tasks Reports &nbsp;<i class="fa fa-bar-chart" aria-hidden="true"></i>
                </h4>
                <hr>
            </div>
            <div class="modal-body">
                <table ng-table-dynamic="tableParams with tableColumns"
                       class="table table-striped table-layout-cosmote-admin">
                    <tr ng-repeat="row in $data">
                        <td class="ngTableCol" ng-repeat="col in $columns">
                            <span class="reports-span" ng-if="col.field !== 'creationDate'">{{row[col.field]}}</span>
                            <span class="reports-span" ng-if="col.field === 'creationDate'">{{row[col.field] | date }}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <excel-btn report-type="tasks" request-object="requestObject"></excel-btn>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

        <div class="cssload-container" ng-show="$root.waitingModal">
            <div class="cssload-double-torus"></div>
        </div>
    </div>
</div>