<!-- Modal -->
<div id="result" class="modal fade" role="dialog" tabindex="-1"
     data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">
                    <small>More Details for</small>
                    <span class="">{{businessItem.name}}</span>
                </h5>
                <button class="btn btn-default print-btn" ng-click="printUcmdbInfo()">
                    <i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print
                </button>
            </div>
            <div class="modal-body no-padding">
                <div id="scrollable-body" class="resultModal">
                    <div class="modal-result-item business-modal-item">
                        <div style="margin-top: 1%;" class="col-sm-12"
                             ng-if="!editMode">
                            <div class="panel panel-default"
                                 ng-repeat="group in businessItem.groupAttributes | orderBy: 'groupPriority'">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{group.groupName}}</h3>
                                </div>
                                <div class="panel-body">
                                    <div ng-if="!group.cisComments">
                                        <div ng-if="group.properties.length !==0">
                                            <div ng-repeat="prop in group.properties | limitTo: group.properties.length/2 | orderBy: 'displayName'"
                                                 class="col-sm-6 property-group">
                                                <label class="property-name">{{prop.displayName}}: &nbsp;</label>
                                                <label ng-if="prop.value !== 'true' && prop.value !== 'false'"
                                                       class="property-value"
                                                       ng-attr-title="{{prop.value}}">{{prop.value}}</label>
                                                <i ng-if="prop.value === 'true'" class="fa fa-check" aria-hidden="true"></i>
                                                <i ng-if="prop.value === 'false'" class="fa fa-times"
                                                   aria-hidden="true"></i>
                                            </div>
                                            <div ng-repeat="prop in group.properties | limitTo: group.properties.length : group.properties.length/2 | orderBy: 'displayName'"
                                                 class="col-sm-6 property-group">
                                                <label class="property-name">{{prop.displayName}}: &nbsp;</label>
                                                <label ng-if="prop.value !== 'true' && prop.value !== 'false'"
                                                       class="property-value"
                                                       ng-attr-title="{{prop.value}}">{{prop.value}}</label>
                                                <i ng-if="prop.value === 'true'" class="fa fa-check" aria-hidden="true"></i>
                                                <i ng-if="prop.value === 'false'" class="fa fa-times"
                                                   aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div ng-if="group.properties.length === 0">
                                            No {{group.groupName}} found!
                                        </div>
                                    </div>
                                    <div ng-if="group.cisComments">
                                        <div ng-if="group.cisComments.length !== 0">
                                            <div ng-repeat="comment in group.cisComments" class="property-group">
                                                <div class="col-sm-6">
                                                    <label class="property-name">Comment By: </label>
                                                    <label class="property-value">{{comment.commentAuthor}}</label>
                                                </div>

                                                <div class="col-sm-4 col-sm-offset-2">
                                                    <label class="property-name">Comment Date: </label>
                                                    <label class="property-value">{{comment.commentDate | date : 'dd/MM/yyyy HH:mm'}}</label>
                                                </div>

                                                <div class="col-sm-12">
                                                    <pre class="comment-pre">{{comment.commentText}}</pre>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="group.cisComments.length === 0">
                                            No {{group.groupName}} found!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 1%;" class="col-sm-12"
                             ng-if="editMode">
                            <div class="panel panel-default"
                                 ng-repeat="group in businessItem.groupAttributes | orderBy: 'groupPriority'">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{group.groupName}}</h3>
                                </div>
                                <div class="panel-body">
                                    <div ng-if="group.groupName !== 'Support Attributes'"
                                         ng-repeat="prop in group.properties | limitTo: group.properties.length/2 | orderBy: 'displayName'"
                                         ng-class="{'has-error': prop.validationError}"
                                         class="col-sm-6 form-group">
                                        <label class="property-name">{{prop.displayName}}: &nbsp;
                                            <span style="color: red;" ng-if="prop.mandatory">*</span>
                                        </label>
                                        <input ng-if="prop.type === 'BOOLEAN'"
                                               ng-model="prop.value"
                                               ng-checked="prop.value === 'true'"
                                               ng-true-value="'true'" ng-false-value="'false'"
                                               ng-disabled="!prop.editable"
                                               type="checkbox" class="form-control">
                                        <input ng-if="prop.type === 'TEXT' || prop.type === 'DATE'"
                                               ng-disabled="!prop.editable"
                                               type="text"
                                               class="form-control"
                                               ng-model="prop.value">
                                        <input ng-if="prop.type === 'NUMBER'"
                                               ng-disabled="!prop.editable"
                                               type="number"
                                               string-to-number
                                               class="form-control"
                                               ng-model="prop.value">
                                        <input ng-if="prop.type === 'LIST'" class="form-control"
                                               ng-disabled="!prop.editable"
                                               placeholder="Comma(,) seperated values"
                                               ng-model="prop.value">
                                        <div class="attribute-with-lovs" ng-if="prop.type === 'TEXT_LIST'">
                                            <select class="form-control"
                                                    ng-model="prop.value"
                                                    ng-disabled="!prop.editable"
                                                    ng-change="prop.ucmdbPropName === 'TenantOwner' && filterApplicationDomainLOVsBasedOnTenant(prop.value)">
                                                <option value=""></option>
                                                <option ng-repeat="option in prop.lovs | orderBy">{{option}}</option>
                                            </select>
                                            <input class="form-control" type="text"
                                                   placeholder="Insert Property Value..."
                                                   ng-show="prop.value === 'Other...' || showInputBasedOnConditions(prop)"
                                                   ng-disabled="!prop.editable"
                                                   ng-model="prop.customValue">
                                        </div>
                                        <div ng-if="prop.type === 'LIST_VALUES'" class="multiple-select"
                                             ng-dropdown-multiselect="" options="prop.selectValues"
                                             disabled="!prop.editable"
                                             selected-model="prop.selectedValuesFromMultiple"
                                             extra-settings="multiSelectSettings"
                                             events="{onItemSelect: manipulateMultiSelection(prop,true), onItemDeselect: manipulateMultiSelection(prop,false)}">
                                        </div>
                                    </div>
                                    <div ng-if="group.groupName !== 'Support Attributes'"
                                         ng-repeat="prop in group.properties | limitTo: group.properties.length : group.properties.length/2 | orderBy: 'displayName'"
                                         ng-class="{'has-error': prop.validationError}"
                                         class="col-sm-6 form-group">
                                        <label class="property-name">{{prop.displayName}}: &nbsp;
                                            <span style="color: red;" ng-if="prop.mandatory">*</span>
                                        </label>
                                        <input ng-if="prop.type === 'BOOLEAN'" ng-model="prop.value"
                                               ng-disabled="!prop.editable"
                                               ng-checked="prop.value === 'true'" ng-true-value="'true'"
                                               ng-false-value="'false'"
                                               type="checkbox" class="form-control">
                                        <input ng-if="prop.type === 'TEXT' || prop.type === 'DATE'"
                                               type="text"
                                               ng-disabled="!prop.editable"
                                               class="form-control"
                                               ng-model="prop.value">
                                        <input ng-if="prop.type === 'NUMBER'"
                                               string-to-number
                                               type="number"
                                               ng-disabled="!prop.editable"
                                               class="form-control"
                                               ng-model="prop.value">
                                        <input ng-if="prop.type === 'LIST'" class="form-control"
                                               ng-disabled="!prop.editable"
                                               placeholder="Comma(,) seperated values"
                                               ng-model="prop.value">
                                        <div class="attribute-with-lovs" ng-if="prop.type === 'TEXT_LIST'">
                                            <select class="form-control"
                                                    ng-model="prop.value"
                                                    ng-disabled="!prop.editable"
                                                    ng-change="prop.ucmdbPropName === 'TenantOwner' && filterApplicationDomainLOVsBasedOnTenant(prop.value)">
                                                <option value=""></option>
                                                <option ng-repeat="option in prop.lovs | orderBy">{{option}}</option>
                                            </select>
                                            <input class="form-control" type="text"
                                                   placeholder="Insert Property Value..."
                                                   ng-disabled="!prop.editable"
                                                   ng-show="prop.value === 'Other...' || showInputBasedOnConditions(prop)"
                                                   ng-model="prop.customValue">
                                        </div>
                                        <div ng-if="prop.type === 'LIST_VALUES'" class="multiple-select"
                                             ng-dropdown-multiselect="" options="prop.selectValues"
                                             disabled="!prop.editable"
                                             selected-model="prop.selectedValuesFromMultiple"
                                             extra-settings="multiSelectSettings"
                                             events="{onItemSelect: manipulateMultiSelection(prop,true), onItemDeselect: manipulateMultiSelection(prop,false)}">
                                        </div>
                                    </div>

                                    <support-attributes-modal ng-if="group.groupName === 'Support Attributes'"
                                                              from-workflow=false
                                                              editable-fields="true"
                                                              support-attributes="group">
                                    </support-attributes-modal>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="edit-mode-btn" class="btn btn-primary"
                        ng-if="canUpdated" ng-click="changeMode()">
                    <span ng-if="!editMode"><span
                            class="glyphicon glyphicon-edit"></span>&nbsp;Switch To Edit Mode</span>
                    <span ng-if="editMode"><span
                            class="glyphicon glyphicon-eye-open"></span>&nbsp;Switch To View Mode</span>
                </button>

                <comment-modal ci-type="ciType" on-comment-addition="addComment(comment)"></comment-modal>

                <button class="btn btn-success"
                        ng-if="editMode"
                        ng-click="saveChanges()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    &nbsp;Submit Changes
                </button>

                <button ng-click="openEditTaskModal()" type="button" class="btn btn-default" data-dismiss="modal">
                    {{buttonLabel}}
                </button>
            </div>
        </div>

        <div class="cssload-container" ng-show="waitingModal">
            <div class="cssload-double-torus"></div>
        </div>
    </div>
</div>