<div class="logged-in-page admin-page">

    <!-- Content -->
    <section class="section-content section-user-management spacious">
        <div class="container page-content section-content section-user-management">
        <!--<div class="container">-->

            <div class="row">
                <div class="col-md-4">
                    <h1 class="section-title page-header-padding">
                        Missing CIs
                    </h1>
                </div>
                <div ng-if="!$ctrl.noMissingCis" class="col-md-8">
                    <div class="page-admin-actions text-right">
                        <div class="page-action-search">
                            <a href="" ng-click="$ctrl.downloadMissingCisExcel()" class="btn btn-sm btn-cosmote-white">
                                <span class="custom-excel"></span>
                                Download Excel
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div ng-if="!$ctrl.noMissingCis" class="row">
                <div class="col-md-12 table-responsive user-action-table-format clearfix">
                    <table ng-table="$ctrl.tableParams"
                           class="table table-striped table-layout-cosmote-admin"
                           fixed-table-headers="scrollable-area">

                        <tr ng-repeat="row in $data" ng-class="{'missing-ci-input-row': $ctrl.shouldShowInput($index)}">

                            <td title="'Tenant Owner'"
                                sortable="'tenantOwner'"
                                filter="{tenantOwner: 'text'}">

                                <select id="tenant-owner-select" ng-options="lov as lov.value for lov in $ctrl.lovs.tenantOwnerLovs track by lov.id" ng-if="$ctrl.shouldShowInput($index)" class="form-control"
                                       ng-model="$ctrl.newCi.tenantOwner">
                                    <option value="" disabled selected hidden>Tenant Owner...</option>
                                </select>

                                <div ng-if="!$ctrl.shouldShowInput($index)">
                                    {{row.tenantOwner}}
                                </div>
                            </td>

                            <td title="'Display Label'"
                                sortable="'displayLabel'"
                                filter="{displayLabel: 'text'}">

                                <input id="display-label-input" ng-if="$ctrl.shouldShowInput($index)" class="form-control" type="text"
                                       ng-model="$ctrl.newCi.displayLabel" placeholder="Display Label...">

                                <div ng-if="!$ctrl.shouldShowInput($index)">
                                    {{row.displayLabel}}
                                </div>
                            </td>

                            <td title="'Ip Address'"
                                sortable="'ipAddress'"
                                filter="{ipAddress: 'text'}">

                                <input id="ip-address-input" ng-if="$ctrl.shouldShowInput($index)" class="form-control" type="text"
                                       ng-model="$ctrl.newCi.ipAddress" placeholder="Ip Address...">

                                <div ng-if="!$ctrl.shouldShowInput($index)">
                                    {{row.ipAddress}}
                                </div>
                            </td>

                            <td title="'Environment'"
                                sortable="'environment'"
                                filter="{environment: 'text'}">

                                <select id="environment-select" ng-options="lov as lov.value for lov in $ctrl.lovs.environmentLovs track by lov.id" ng-if="$ctrl.shouldShowInput($index)" class="form-control"
                                       ng-model="$ctrl.newCi.environment">
                                    <option value="" disabled selected hidden>Environment...</option>
                                </select>

                                <div ng-if="!$ctrl.shouldShowInput($index)">
                                    {{row.environment}}
                                </div>
                            </td>

                            <td title="'Note'"
                                sortable="'note'"
                                filter="{note: 'text'}">

                                <input id="note-input" ng-if="$ctrl.shouldShowInput($index)" class="form-control" type="text"
                                       ng-model="$ctrl.newCi.note" placeholder="Note...">

                                <div ng-if="!$ctrl.shouldShowInput($index)">
                                    {{row.note}}
                                </div>
                            </td>

                            <td title="'Inserted Date'"
                                sortable="'insertedDate'"
                                filter="{insertedDate: 'text'}">

                                <input ng-if="$ctrl.shouldShowInput($index)" class="form-control" type="text" disabled>

                                <div ng-if="!$ctrl.shouldShowInput($index)">
                                    {{row.insertedDate | date : 'dd/MM/yyyy'}}
                                </div>
                            </td>

                            <td title="'Inserted By'"
                                sortable="'insertedBy'"
                                filter="{insertedBy: 'text'}">

                                <input ng-if="$ctrl.shouldShowInput($index)" class="form-control" type="text" disabled>

                                <div ng-if="!$ctrl.shouldShowInput($index)">
                                    {{row.insertedBy}}
                                </div>
                            </td>

                            <td>
                                <a href="" ng-if="$ctrl.shouldShowInput($index)"
                                   ng-click="$ctrl.addNewCi()">
                                    <i class="material-icons">save</i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-if="$ctrl.noMissingCis" class="row no-data">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            No Data!
                        </div>
                        <div class="panel-body">
                            No missing CIs found in Database!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>