<!-- Content -->
<div class="results-page logged-in-page">
    <section class="section-content section-results">
        <div class="container page-content">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <h4>Results</h4>
                </div>
                <div class="col-sm-8 text-right col-xs-12">
                    <div class="page-action-create">
                        <strong>SEARCH:</strong>
                        <button ng-click="$ctrl.goBackToSearch()" class="btn">
                            <span>Edit </span><i class="material-icons">mode_edit</i>
                        </button>
                        <button class="btn" data-toggle="modal" data-target="#saveSearchModal">
                            <span>Save </span><i class="material-icons">save</i>
                        </button>
                    </div>
                </div>
            </div>

            <div ng-if="$ctrl.noSearchRequest" class="null-search-panel panel panel-default">
                <div class="panel-heading">
                    <i class="material-icons">warning</i>No Search Request Found!
                </div>
                <div class="panel-body">
                    You should search something in Search Page.
                </div>
            </div>

            <div ng-if="!$ctrl.noSearchRequest" class="row">
                <div class="col-sm-12">
                    <div class="results-container page-content">

                        <div ng-repeat="business in $ctrl.businessItems" ng-init="parentIndex = $index">
                            <div class="row result-header nopadding">
                                <div style="cursor: pointer;" class="col-sm-8 nopadding"
                                     ng-click="$ctrl.showHideBusiness('#business-'+$index, $index, -1); $ctrl.getChilden('root', null, $index, -1)">
                                    <div class="business_title">Business Service</div>
                                    <div class="service_title">
                                        {{business.root.properties.display_label}}
                                        <!--<span>0</span>-->
                                    </div>

                                </div>
                                <div class="col-sm-3  nopadding text-right">
                                    <a ng-click="$ctrl.downloadExcel($index, business.root.properties.display_label)"
                                       class="btn btn-sm btn-cosmote-white">
                                        <span class="custom-excel"></span>
                                        Download Excel
                                    </a>
                                </div>
                                <div class="col-sm-1 business-expand text-right">
                                    <a href=""
                                       ng-click="$ctrl.showHideBusiness('#business-'+$index, $index, -1); $ctrl.getChilden('root', null, $index, -1)"
                                       class="bg-highlight">
                                        <i ng-if="!business.show" class="material-icons">add_circle_outline</i>
                                        <i ng-if="business.show" class="material-icons">remove_circle_outline</i>
                                    </a>
                                </div>
                            </div>

                            <div ng-attr-id="{{ 'business-'+$index }}" style="display: none;" class="row result-data">
                                <div class="col-sm-12">
                                    <div ng-repeat="ci in $ctrl.businessItems[parentIndex].children"
                                         ng-init="childIndex = $index"
                                         class="row result_item business-service-parent-collection">

                                        <div style="cursor: pointer;" class="col-sm-11 nopadding"
                                             ng-click="$ctrl.showHideBusiness('#ciCollection-'+parentIndex+$index, parentIndex, $index); $ctrl.getChilden('child', null, parentIndex, $index)">
                                            <div class="business_title">CiCollection</div>
                                            <div class="service_title">{{ci.child.properties.display_label}}
                                                <!--<span>0</span>-->
                                            </div>
                                        </div>

                                        <div class="col-sm-1 text-right nopadding hide_area">
                                            <a ng-click="$ctrl.showHideBusiness('#ciCollection-'+parentIndex+$index, parentIndex, $index); $ctrl.getChilden('child', null, parentIndex, $index)"
                                               href=""
                                               class="bg-highlight">
                                                <i ng-if="!ci.show" class="material-icons">add_circle_outline</i>
                                                <i ng-if="ci.show" class="material-icons">remove_circle_outline</i>
                                            </a>
                                        </div>

                                        <div ng-attr-id="{{ 'ciCollection-'+parentIndex+$index }}"
                                             style="display: none;"
                                             class="col-xs-12 open_item">
                                            <div class="well myWell"
                                                 ng-show="!ci.computers.computerLabels.length">{{ci.noElementsMsg}}
                                            </div>
                                            <div ng-show="ci.computers.computerLabels.length" class="row result_item">
                                                <div class="col-sm-2 nopadding">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                            {{ci.selectedMenuItem.name}} <span class="caret"></span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <ul>
                                                                <li ng-repeat="menuItem in ci.menu | limitTo: $ctrl.splitMenu(ci.menu.length)"
                                                                    ng-click="$ctrl.getChilden('child', menuItem, parentIndex, childIndex)">
                                                                    <a href="">{{menuItem.name}}</a></li>
                                                            </ul>
                                                            <ul>
                                                                <li ng-repeat="menuItem in ci.menu | limitTo: ($ctrl.splitMenu(ci.menu.length) - ci.menu.length)"
                                                                    ng-click="$ctrl.getChilden('child', menuItem, parentIndex, childIndex)">
                                                                    <a href="">{{menuItem.name}}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 options">
                                                    <a ng-repeat="item in ci.computers.computerLabels | limitTo: 5"
                                                       ng-click="$ctrl.selectItem(parentIndex, childIndex, item)"
                                                       href="" ng-class="{visited: item.selected}">
                                                        <span>{{item.field}}</span>
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </a>
                                                    <div ng-attr-id="{{ 'pcs-'+parentIndex+$index }}" class="PCs-element">
                                                        <a ng-repeat="item in ci.computers.computerLabels | limitTo: (5 - ci.computers.computerLabels.length)"
                                                           ng-click="$ctrl.selectItem(parentIndex, childIndex, item)"
                                                           href="" ng-class="{visited: item.selected}">
                                                            <span>{{item.field}}</span>
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                    <span ng-if="ci.computers.computerLabels.length > 5" ng-attr-id="{{ 'morePc-'+parentIndex+childIndex }}" ng-click="$ctrl.showMorePcs(parentIndex, childIndex, ci.computers.expanded)" class="more_pc">
                                                           <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                <div class="col-sm-1">
                                                    <span ng-click="$ctrl.getChilden('child', ci.selectedMenuItem, parentIndex, childIndex)"
                                                          style="position: absolute;font-size: 10px; display: block; margin-top: 2px; cursor: pointer;color:#3c9732;right: -25px;">Refresh<i class="material-icons" style="margin-top: 12px;">refresh</i></span>
                                                </div>
                                                <div class="text-right nopadding more_options col-sm-1" title="More Options" ng-show="ci.computers.computerLabels.length" >
                                                    <div class="dropdown">
                                                        <a id="dLabel" type="button" data-toggle="dropdown"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="material-icons">more_horiz</i></a>

                                                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                                                            <li><a href="" ng-click="$ctrl.selectItem(parentIndex, childIndex, -1)">Select All</a></li>
                                                            <li><a href="" ng-click="$ctrl.selectItem(parentIndex, childIndex, -2)">Clear Selections</a></li>
                                                            <li><a href="" ng-click="$ctrl.hideFilters(parentIndex, childIndex)">Show/Hide Filters</a></li>
                                                        </ul>
                                                    </div>


                                                </div>
                                            </div>

                                            <div class="row the-result-table">
                                                <table ng-table-dynamic="ci.currentView.grandChildrenTableParams with ci.currentView.grandChildrenTableCols"
                                                       class="results-main-table table business-results-table">
                                                    <tr ng-repeat="row in $data">
                                                        <td ng-click="$index===0 && $ctrl.showModal(row.global_id)" ng-class="{area_id: $index === 0, businessDetails: $index===0}"
                                                            ng-repeat="col in $columns">{{row[col.field]}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </div>



                                        <!-- -------------------------------------------- -->

                                        <div ng-repeat="ci in $ctrl.businessItems[parentIndex].children"
                                             ng-init="childIndex = $index"
                                             class="row result_item business-service-child-collection">

                                            <div style="cursor: pointer;" class="col-sm-11 nopadding"
                                                 ng-click="$ctrl.showHideBusiness('#ciCollection-'+parentIndex+$index, parentIndex, $index); $ctrl.getChilden('child', null, parentIndex, $index)">
                                                <div class="business_title">CiCollection</div>
                                                <div class="service_title">{{ci.child.properties.display_label}}
                                                    <!--<span>0</span>-->
                                                </div>
                                            </div>

                                            <div class="col-sm-1 text-right nopadding hide_area">
                                                <a ng-click="$ctrl.showHideBusiness('#ciCollection-'+parentIndex+$index, parentIndex, $index); $ctrl.getChilden('child', null, parentIndex, $index)"
                                                   href=""
                                                   class="bg-highlight">
                                                    <i ng-if="!ci.show" class="material-icons">add_circle_outline</i>
                                                    <i ng-if="ci.show" class="material-icons">remove_circle_outline</i>
                                                </a>
                                            </div>

                                            <div ng-attr-id="{{ 'ciCollection-'+parentIndex+$index }}"
                                                 style="display: none;"
                                                 class="col-xs-12 open_item">
                                                <div class="well myWell"
                                                     ng-show="!ci.computers.computerLabels.length">{{ci.noElementsMsg}}
                                                </div>
                                                <div ng-show="ci.computers.computerLabels.length" class="row result_item">
                                                    <div class="col-sm-2 nopadding">
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                {{ci.selectedMenuItem.name}} <span class="caret"></span>
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <ul>
                                                                    <li ng-repeat="menuItem in ci.menu | limitTo: $ctrl.splitMenu(ci.menu.length)"
                                                                        ng-click="$ctrl.getChilden('child', menuItem, parentIndex, childIndex)">
                                                                        <a href="">{{menuItem.name}}</a></li>
                                                                </ul>
                                                                <ul>
                                                                    <li ng-repeat="menuItem in ci.menu | limitTo: ($ctrl.splitMenu(ci.menu.length) - ci.menu.length)"
                                                                        ng-click="$ctrl.getChilden('child', menuItem, parentIndex, childIndex)">
                                                                        <a href="">{{menuItem.name}}</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 options">
                                                        <a ng-repeat="item in ci.computers.computerLabels | limitTo: 5"
                                                           ng-click="$ctrl.selectItem(parentIndex, childIndex, item)"
                                                           href="" ng-class="{visited: item.selected}">
                                                            <span>{{item.field}}</span>
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                        </a>
                                                        <div ng-attr-id="{{ 'pcs-'+parentIndex+$index }}" class="PCs-element">
                                                            <a ng-repeat="item in ci.computers.computerLabels | limitTo: (5 - ci.computers.computerLabels.length)"
                                                               ng-click="$ctrl.selectItem(parentIndex, childIndex, item)"
                                                               href="" ng-class="{visited: item.selected}">
                                                                <span>{{item.field}}</span>
                                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                        <span ng-if="ci.computers.computerLabels.length > 5" ng-attr-id="{{ 'morePc-'+parentIndex+childIndex }}" ng-click="$ctrl.showMorePcs(parentIndex, childIndex, ci.computers.expanded)" class="more_pc">
                                                           <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                                    </span>
                                                    </div>
                                                    <div class="col-sm-1">
                                                    <span ng-click="$ctrl.getChilden('child', ci.selectedMenuItem, parentIndex, childIndex)"
                                                          style="position: absolute;font-size: 10px; display: block; margin-top: 2px; cursor: pointer;color:#3c9732;right: -25px;">Refresh<i class="material-icons" style="margin-top: 12px;">refresh</i></span>
                                                    </div>
                                                    <div class="text-right nopadding more_options col-sm-1" title="More Options" ng-show="ci.computers.computerLabels.length" >
                                                        <div class="dropdown">
                                                            <a id="dLabel" type="button" data-toggle="dropdown"
                                                               aria-haspopup="true" aria-expanded="false">
                                                                <i class="material-icons">more_horiz</i></a>

                                                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                                                <li><a href="" ng-click="$ctrl.selectItem(parentIndex, childIndex, -1)">Select All</a></li>
                                                                <li><a href="" ng-click="$ctrl.selectItem(parentIndex, childIndex, -2)">Clear Selections</a></li>
                                                                <li><a href="" ng-click="$ctrl.hideFilters(parentIndex, childIndex)">Show/Hide Filters</a></li>
                                                            </ul>
                                                        </div>


                                                    </div>
                                                </div>

                                                <div class="row the-result-table">
                                                    <table ng-table-dynamic="ci.currentView.grandChildrenTableParams with ci.currentView.grandChildrenTableCols"
                                                           class="results-main-table table">
                                                        <tr ng-repeat="row in $data">
                                                            <td ng-click="$index===0 && $ctrl.showModal(row.global_id)" ng-class="{area_id: $index === 0, businessDetails: $index===0}"
                                                                ng-repeat="col in $columns">{{row[col.field]}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>

                                            </div>

                                        </div>
                                        <!-- -------------------------------------------- -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 100vh;" ng-show="$ctrl.noResults" class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            No results were returned
                        </div>
                        <div class="panel-body">
                            Please try with different search criteria
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal for Complete Results-->
    <table-modal business-item="$ctrl.selectedRow" button-label="Close"></table-modal>

    <!-- Modal UI for Save Search -->
    <div class="modal fade" id="saveSearchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span class="">Save Search</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="save-search-wrapper">
                        <div class="save-search-input">
                            <input ng-model="$ctrl.searchName" ng-keyup="$event.keyCode === 13 && $ctrl.saveSearch()"
                                   value="" class="form-control" placeholder="Search Name..."/>
                        </div>
                    </div>

                    <br>

                    <!-- Messages -->
                    <div class="alert alert-danger" role="alert" ng-if="$ctrl.saveFailed">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <span class="sr-only">Error:</span>
                        An error occurred! Please try again
                    </div>
                    <div class="alert alert-success" role="success" ng-if="$ctrl.successSave">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span class="sr-only">Success:</span>
                        Successful Save
                    </div>

                    <div class="alert alert-danger" role="alert" ng-if="$ctrl.noSearch">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <span class="sr-only">Error:</span>
                        No Search Request found!
                    </div>

                    <div class="alert alert-danger" role="alert" ng-if="$ctrl.saveFailedValidation">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <span class="sr-only">Error:</span>
                        Search name is Required
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cosmote-sec btn-sm" data-dismiss="modal">Close</button>
                    <button ng-click="$ctrl.saveSearch()" type="button" class="btn btn-cosmote btn-sm">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>