<!-- Modal -->
<div id="edit-modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!--<button ng-click="assign_deassign()" type="button" class="btn btn-primary assign-button">{{assigned && 'De-assign' || 'Assign To Me'}}</button>-->
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="nodeDetailsAhref" ng-if="taskAttrs.attrs.header" ng-click="nodeDetails()" ng-class="{'node-name': taskAttrs.attrs.nodeGlobalId}" class="modal-title node-name">{{taskAttrs.attrs.header.title && taskAttrs.attrs.header.title || 'Node Details'}}</h4>
                &nbsp;
                <i ng-if="taskAttrs.attrs.header && taskAttrs.attrs.nodeGlobalId" class="fa fa-info-circle" aria-hidden="true"></i>
                <h4 ng-if="!taskAttrs.attrs.header" class="modal-title">Edit Task</h4>
                <hr>
                <div ng-if="taskAttrs.attrs.header">
                    <p>{{taskAttrs.attrs.header.message}}</p>
                    <div class="col-sm-6">
                        <div ng-repeat="headerAtrr in taskAttrs.attrs.header.attributes[0]">
                            <label>{{headerAtrr.fieldLabel}}: &nbsp;</label>
                            <p>{{headerAtrr.fieldValue}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div ng-repeat="headerAtrr in taskAttrs.attrs.header.attributes[1]">
                            <label>{{headerAtrr.fieldLabel}}: &nbsp;</label>
                            <p>{{headerAtrr.fieldValue}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="edit-modal-body" class="modal-body resultModal">
                <div ng-repeat="group in taskAttrs.attrs.groups | orderBy: 'groupPriority'" class="row">
                    <div class="panel panel-default taskGroup">
                        <div class="panel-heading">
                            {{group.groupName}}
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-4">
                                <div ng-class="{'has-error': attr.validationError, 'has-feedback': attr.validationError}" class="form-group"
                                     ng-repeat="attr in group.attributes[0] | orderBy: 'attributePriority'">
                                    <label class="control-label">{{attr.fieldLabel}} &nbsp;<span ng-if="attr.mandatory" style="color: red;">*</span></label>
                                    <input ng-if="attr.fieldType === 'checkbox'" ng-model="attr.fieldValue"
                                           ng-disabled="!(taskAttrs.editableFields && attr.editable)"
                                           ng-checked="attr.fieldValue === 'true'" ng-true-value="'true'" ng-false-value="'false'"
                                           type="checkbox" class="edit-task-checkbox form-control">
                                    <input ng-if="attr.fieldType === 'text' || attr.fieldType === 'date'"
                                           class="form-control" type="text"
                                           ng-model="attr.fieldValue" ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                    <input ng-if="attr.fieldType === 'numeric'" string-to-number
                                           class="form-control" type="number"
                                           ng-model="attr.fieldValue" ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                    <input ng-if="attr.fieldType == 'list'" class="form-control" placeholder="Comma(,) seperated values"
                                           ng-model="attr.fieldValue" ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                    <div class="attribute-with-lovs-tasks" ng-if="attr.fieldType === 'dropdown'">
                                        <select class="form-control"
                                                ng-model="attr.fieldValue" ng-change="changeOptionAction(attr.fieldName, attr.fieldValue)"
                                                ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                            <option value=""></option>
                                            <option ng-repeat="option in attr.fieldLOV | orderBy">{{option}}</option>
                                        </select>
                                        <input class="form-control" type="text" placeholder="Insert Property Value..."
                                               ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory"
                                               ng-show="attr.fieldValue === 'Other...' || showInputBasedOnConditions(attr)" ng-model="attr.customValue">
                                    </div>
                                    <div ng-if="attr.fieldType === 'dropdown_multiple'" class="multiple-select"
                                         ng-dropdown-multiselect="" options="attr.selectValues"
                                         selected-model="attr.selectedValuesFromMultiple"
                                         extra-settings="multiSelectSettings"
                                         events="{onItemSelect: manipulateMultiSelection(attr,true), onItemDeselect: manipulateMultiSelection(attr,false)}"
                                         disabled="!(taskAttrs.editableFields && attr.editable)">
                                    </div>
                                    <span ng-if="attr.validationError" class="glyphicon glyphicon-remove form-control-feedback form-error-span" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div ng-class="{'has-error': attr.validationError, 'has-feedback': attr.validationError}" class="form-group" ng-repeat="attr in group.attributes[1] | orderBy: 'attributePriority'">
                                    <label class="control-label">{{attr.fieldLabel}} &nbsp;<span ng-if="attr.mandatory" style="color: red;">*</span></label>
                                    <input ng-if="attr.fieldType === 'checkbox'" ng-model="attr.fieldValue"
                                           ng-disabled="!(taskAttrs.editableFields && attr.editable)"
                                           ng-checked="attr.fieldValue === 'true'" ng-true-value="'true'" ng-false-value="'false'"
                                           type="checkbox" class="edit-task-checkbox form-control">
                                    <input ng-if="attr.fieldType === 'text' || attr.fieldType === 'date'"
                                           class="form-control" type="text"
                                           ng-model="attr.fieldValue" ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                    <input ng-if="attr.fieldType === 'numeric'" string-to-number
                                           class="form-control" type="number"
                                           ng-model="attr.fieldValue" ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                    <input ng-if="attr.fieldType === 'list'" class="form-control" placeholder="Comma(,) seperated values"
                                           ng-model="attr.fieldValue" ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                    <div class="attribute-with-lovs-tasks" ng-if="attr.fieldType === 'dropdown'">
                                        <select class="form-control"
                                            ng-model="attr.fieldValue" ng-change="changeOptionAction(attr.fieldName, attr.fieldValue)"
                                            ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                            <option value=""></option>
                                            <option ng-repeat="option in attr.fieldLOV | orderBy">{{option}}</option>
                                        </select>
                                        <input class="form-control" type="text" placeholder="Insert Property Value..."
                                               ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory"
                                               ng-show="attr.fieldValue === 'Other...' || showInputBasedOnConditions(attr)" ng-model="attr.customValue">
                                    </div>
                                    <div ng-if="attr.fieldType === 'dropdown_multiple'" class="multiple-select"
                                         ng-dropdown-multiselect="" options="attr.selectValues"
                                         selected-model="attr.selectedValuesFromMultiple"
                                         extra-settings="multiSelectSettings"
                                         events="{onItemSelect: manipulateMultiSelection(attr,true), onItemDeselect: manipulateMultiSelection(attr,false)}"
                                         disabled="!(taskAttrs.editableFields && attr.editable)">
                                    </div>
                                    <span ng-if="attr.validationError" class="glyphicon glyphicon-remove form-control-feedback form-error-span" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div ng-class="{'has-error': attr.validationError, 'has-feedback': attr.validationError}" class="form-group" ng-repeat="attr in group.attributes[2] | orderBy: 'attributePriority'">
                                    <label class="control-label">{{attr.fieldLabel}} &nbsp;<span ng-if="attr.mandatory" style="color: red;">*</span></label>
                                    <input ng-if="attr.fieldType === 'checkbox'" ng-model="attr.fieldValue"
                                           ng-disabled="!(taskAttrs.editableFields && attr.editable)"
                                           ng-checked="attr.fieldValue === 'true'" ng-true-value="'true'" ng-false-value="'false'"
                                           type="checkbox" class="edit-task-checkbox form-control">
                                    <input ng-if="attr.fieldType === 'text' || attr.fieldType === 'date'"
                                           class="form-control" type="text"
                                           ng-model="attr.fieldValue" ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                    <input ng-if="attr.fieldType === 'numeric'" string-to-number
                                           class="form-control" type="number"
                                           ng-model="attr.fieldValue" ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                    <input ng-if="attr.fieldType == 'list'" class="form-control" placeholder="Comma(,) seperated values"
                                           ng-model="attr.fieldValue" ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                    <div class="attribute-with-lovs-tasks" ng-if="attr.fieldType === 'dropdown'">
                                        <select class="form-control"
                                            ng-model="attr.fieldValue" ng-change="changeOptionAction(attr.fieldName, attr.fieldValue)"
                                            ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory">
                                            <option value=""></option>
                                            <option ng-repeat="option in attr.fieldLOV | orderBy">{{option}}</option>
                                        </select>
                                        <input class="form-control" type="text" placeholder="Insert Property Value..."
                                               ng-disabled="!(taskAttrs.editableFields && attr.editable)" ng-required="attr.mandatory"
                                               ng-show="attr.fieldValue === 'Other...' || showInputBasedOnConditions(attr)" ng-model="attr.customValue">
                                    </div>
                                    <div ng-if="attr.fieldType === 'dropdown_multiple'" class="multiple-select"
                                         ng-dropdown-multiselect="" options="attr.selectValues"
                                         selected-model="attr.selectedValuesFromMultiple"
                                         extra-settings="multiSelectSettings"
                                         events="{onItemSelect: manipulateMultiSelection(attr,true), onItemDeselect: manipulateMultiSelection(attr,false)}"
                                         disabled="!(taskAttrs.editableFields && attr.editable)">
                                    </div>
                                    <span ng-if="attr.validationError" class="glyphicon glyphicon-remove form-control-feedback form-error-span" aria-hidden="true"></span>
                                </div>

                                <support-attributes-modal ng-if="taskAttrs.attrs.supportGroup && group.groupName === 'Service Attributes'"
                                                          from-workflow="true"
                                                          editable-fields="taskAttrs.editableFields"
                                                          support-attributes="taskAttrs.attrs.supportGroup"></support-attributes-modal>
                            </div>
                        </div>
                    </div>
                    <hr class="taskGroup">
                </div>
            </div>
            <div class="modal-footer">
                <!--<button style="float: left;" type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button ng-if="!taskAttrs.task.myTask" ng-click="assignOnMe()" type="button" class="btn btn-primary">Assign on Me</button>
                <!--<button ng-if="taskAttrs.task.myTask" ng-repeat="action in taskAttrs.attrs.actionStatusList" ng-click="doAction(action)" type="button" class="btn btn-primary">{{action}}</button>-->
                <button style="float: left;" ng-if="taskAttrs.task.myTask" ng-click="doAction('Reassign')" type="button" class="btn btn-primary">Reassign Task</button>
                <button ng-if="taskAttrs.task.myTask" ng-click="doAction('Submit')" type="button" class="btn btn-primary">Submit Task</button>
                <button ng-if="taskAttrs.task.myTask" ng-click="doAction('Save')" type="button" class="btn btn-primary">Save Task</button>
            </div>
        </div>

        <div class="cssload-container" ng-show="$root.waitingModal">
            <div class="cssload-double-torus"></div>
        </div>
    </div>
</div>