<button ng-if="isCiTypeOfNode"
        type="button" id="add-comment-btn" class="btn btn-success ng-scope"
        data-toggle="modal"
        data-target="#commentModal">
    <span class="glyphicon glyphicon-comment"></span>&nbsp Add Comment
</button>

<!--Comment Modal-->
<div id="commentModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="comment-modal-header" class="modal-header">
                <button type="button" class="close" ng-click="closeCommentModal($event)" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Comment Section</h3>
                <hr id="comment-modal-hr" class="section-hr-10">
            </div>
            <div id="comment-modal-body" class="panel-body">
                <p id="textareaTitle">Add your comment:</p>
                <textarea id="comment-textarea" class="ng-pristine ng-valid ng-empty ng-touched form-control"
                          placeholder="Add your comment here..." ng-model="commentText"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="saveComment()">Save</button>
                <button type="button" class="btn btn-default" ng-click="closeCommentModal($event)">Close</button>
            </div>
        </div>
    </div>
</div>
