<div class="logged-in-page admin-page">

    <section class="section-content section-user-management spacious">
        <div class="container page-content">

            <div class="row">
                <div class="col-md-4">
                    <h1 class="section-title page-header-padding">
                        Workflow Stats
                    </h1>
                </div>
                <div class="col-md-8">
                    <div ng-if="!$ctrl.noWorkflowStats" class="page-admin-actions text-right">
                        <div class="page-action-search">
                            <a href="" ng-click="$ctrl.downloadWorkflowStatsExcel()" class="btn btn-sm btn-cosmote-white">
                                <span class="custom-excel"></span>
                                Download Excel
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="!$ctrl.noWorkflowStats" class="row">
                <div class="col-md-12 table-responsive user-action-table-format clearfix">
                    <table ng-table="$ctrl.workflowTable"
                           class="table table-striped table-layout-cosmote-admin"
                           fixed-table-headers="scrollable-area">
                        <tr  ng-class="{ 'lastRow': $ctrl.isLastElement(row) }" ng-repeat="row in $data">
                            <td title="'Workflow Month'"
                                sortable="'workflowMonth'">
                                <div ng-if="!$ctrl.isLastElement(row)" >
                                {{row.workflowMonth | date : 'MMMM y'}}
                                </div>
                                <div ng-if="$ctrl.isLastElement(row)">
                                    {{row.totalMonthsMessage}}
                                </div>
                            </td>
                            <td title="'Tenant Owner'"
                                sortable="'tenantOwner'">
                                {{row.tenantOwner}}
                            </td>
                            <td title="'Total Nodes'"
                                sortable="'totalTasks'">
                                {{row.totalTasks}}
                            </td>
                            <td title="'Completed Nodes'"
                                sortable="'completedTasks'">
                                {{row.completedTasks}}
                            </td>
                            <td title="'Open Nodes'"
                                sortable="'openTasks'">
                                {{row.openTasks}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-if="$ctrl.noWorkflowStats" class="row no-data">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            No Workflow Stats!
                        </div>
                        <div class="panel-body">
                            No Workflow Stats found!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>